/*Scott's Base Styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del,
dfn, em, font, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, dl, dt, dd,
ol, ul, li, fieldset, form, label, legend,
caption, tbody, tfoot, thead, tr, th {
	border: 0px none;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0px;
	outline-color: -moz-use-text-color;
	outline-style: none;
	outline-width: 0px;
	padding: 0px;
	vertical-align: baseline;
}

td, table {
	border: 0px none;
}

:focus {
	outline-color: -moz-use-text-color;
	outline-style: none;
	outline-width: 0;
}

body {
	background: #fff;
	color: black;
	font-family: Verdana,Arial,Tahoma,sans-serif;
	font-size: 100%;
	margin: 0;
	text-align: left;
}

ol, ul {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}

blockquote, q {
	quotes: "" "";
}

em, i {
	font-style: italic;
}

strong, b {
	font-weight: bold;
}
/*end css reset */
body {
	margin: 0px auto;
	padding: 0px 0px;
	text-align: left;
	background-color: #fff;
	font-size: 10pt;
}
/*global tag styles, don't be scared of these, they are your friend*/
a:active, a:link, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
/*add list formatting back into the main content area.*/
/******************************End Scott's Base Styles******************************/

/****************Start Mobile Styles************************/
#SiteWidthHolder {
	width: 320px;
}
/*FixedHeader*/
.widthholder {
	width: 320px;
}

#FixedHeader {
}

	#FixedHeader a.headerLink {
		margin: 0 3px;
		float: left;
		height: 42px;
		overflow: hidden;
	}

	#FixedHeader a#HeaderSearchLink {
		background-image: url(templateimages/searchbutton.png);
		background-repeat: no-repeat;
		width: 36px;
		cursor: pointer;
		background-size: 36px 42px;
	}

	#FixedHeader a#HeaderAccountLink {
		background-image: url(templateimages/accountbutton.png);
		background-repeat: no-repeat;
		text-align: center;
		width: 38px;
		background-size: 38px 42px;
	}

	#FixedHeader a#HeaderWishlistLink {
		background-image: url(templateimages/wishlistbutton.png);
		background-repeat: no-repeat;
		text-align: center;
		width: 42px;
		background-size: 42px 42px;
	}

	#FixedHeader a#FixedHeaderCart {
		background: url(templateimages/cartbutton.png) no-repeat top left;
		text-align: center;
		padding: 17px 5px 0px 12px;
		width: 23px;
		height: 25px;
		text-decoration: none;
		background-size: 40px 42px;
	}

a#FixedHeaderCart span {
	font-size: 11px;
	line-height: 8px;
	font-weight: bold;
	color: White;
	display: block;
}

a#FixedHeaderLogo {
	color: white;
	font-weight: bold;
	font-size: 26px;
	height: 45px;
	line-height: 40px;
	text-decoration: none;
	-webkit-text-shadow: #6374AB 2px 2px 1px;
	text-shadow: #6374AB 2px 2px 1px;
}


#SearchBar {
	height: 42px;
	text-align: left;
	padding-top: 6px;
}

#SearchGo {
	position: relative;
	top: 5px;
}

#SearchBar #SearchBox {
	display: inline-block;
	margin-left: 5px;
	width: 210px;
}






/*EndFixedHeader*/
.clear {
	clear: both;
}

.pad {
	padding: 5px;
}

.red {
	border: solid 1px red;
}

.alignRight {
	text-align: right;
}

.marginbuttons {
	margin: 3px;
}

input[disabled] {
	opacity: 0.4;
	filter: alpha(opacity=40);
	border: 0;
}

.teaser {
	font-size: 10px;
	color: #666;
}

#MobileContent {
	font-size: 13px;
}

	#MobileContent li.group #pnlErrorMsg, #pnlErrorMsg li.group {
		font-size: 13px;
		color: Red;
	}

h5 {
	font-size: medium;
}



.mobilecatimage {
	float: left;
	padding-right: 10px;
}

br.clear {
	clear: both;
}

#dhtmlpointer {
	display: none;
}


/***********************/
/* MOBILE Product List */
/***********************/

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.clear {
	clear: both;
}

.productList {
	font-size: 14px;
	list-style: none;
	min-width: 320px;
	margin-top: 10px;
}



	.productList a:hover {
		text-decoration: none;
	}


.productListHeader {
	border-top: 1px solid #7d7d7d;
	border-bottom: 1px solid #999999;
	padding: 4px 10px;
	font-size: medium;
	vertical-align: middle;
	font-weight: bold;
	clear: both;
}


.productListFullLink {
	text-decoration: none;
}


.productListItemImageWrap {
	/*border: solid thin red;*/
}

.productListMargin {
	margin-left: 4px;
	margin-right: 4px;
}

.productListItemContentTop {
	overflow: hidden;
	/*border: solid thin yellow;*/
}

.productListItemContentBottom {
	float: right;
	margin-top: 16px;
	margin-right: 4px;
	font-size: 12px;
	/*border: solid thin purple;*/
}

.productListPriceWrap {
	font-size: 11px;
	margin-top: 8px;
	margin-right: -2px;
}

.productListText {
	font-weight: bold;
}

.productListDivider {
	border-bottom: solid 1px #e0e0e0;
	margin-bottom: 8px;
	margin-top: 4px;
}

.productListPaging {
	height: 28px;
	padding: 4px 8px 4px 8px;
}

.productListPagingContent {
}

.productListImage {
	vertical-align: middle;
}

.productListPaging a:hover {
	text-decoration: none;
}


/***********************/
/* MOBILE Product Entity */
/***********************/

#entitypage-subentity-accordian {
	border-bottom: solid 1px #e0e0e0;
}

#subentity li.subentityItem {
	margin-left: 20px;
	width: 75%;
}

/***************ProductPage************************/
h1#MProductName {
	white-space: normal !important;
	font-size: 13px;
	margin: inherit;
}

h2 {
	font-size: 17px;
	font-weight: bold;
	padding: 5px;
	display: block;
}

td#MProductImageCell {
	text-align: center;
	vertical-align: top;
}

.MobileProductImage {
	width: 100px;
}

#MProductPageTable td {
	vertical-align: top;
	width: 100%;
}

#MProductSummary {
	padding: 5px;
}

#MProductPageTable td#MProductImageCell {
	width: auto;
	margin-bottom: -2px;
	border-right: 1px solid #ddd;
	padding: 4px 10px;
	font-weight: bold;
	clear: both;
	text-align: center;
}

.MPVariantImage img {
	width: 70px;
	margin: 5px;
	float: left;
}

.AddToGiftButton {
	display: none;
}

.MPAddToCart .AddToCartButton {
	margin-top: 5px;
}

.MPAddToCart .AddToCartButton, .MPAddToCart .AddToWishButton {
	display: block;
	clear: both;
}

#TextOption {
	width: 90%;
}

.MPVariantPrice br {
	display: none;
}

.MPVariantPrice {
	font-weight: bold;
	padding-bottom: 5px;
}

	.MPVariantPrice .RegularPrice {
		text-decoration: line-through;
		font-size: 10px;
		display: none;
	}

#MProductPageTable td#MProductImageCell a {
	display: block;
}

/*MobileRadioListItems.ascx has clickable labels*/
span[id$='lblItemName'] {
	cursor: pointer;
}
/***************End ProductPage********************/
/***************ProductImageViewer********************/
.MPSingleImage {
	padding: 5px;
}

#MPMultiImage-accordian .accordion_headings {
	display: inline-block;
	border-top: 0;
	padding: 3px;
	text-decoration: none;
	background: none;
	border: solid 2px white;
}

#MPMultiImage-accordian .header_highlight {
	border: solid 2px grey;
}

#MPMultiImage-accordian {
	text-align: center;
}


/***************End ProductImageViewer********************/
/***************MobileShoppingCart and MobileWishList********************/
.mpContinueCheckoutRow {
	text-align: center;
}

#tblCheckoutHeader {
	text-align: center;
	font-weight: bold;
	font-size: 12px;
}

	#tblCheckoutHeader a {
		display: block;
		padding: 3px;
		font-size: 12px;
	}

		#tblCheckoutHeader a.active {
			text-decoration: none;
		}

		#tblCheckoutHeader a.disabled {
			color: #999;
			text-decoration: none;
			cursor: default;
		}

	#tblCheckoutHeader td.sep {
		width: 2px;
	}

.CheckoutNowButton {
	font-size: 14px;
	color: White;
}

#pnlCartSummary .addressselect {
	width: 140px;
}

.pnlMobileWishlist .pnlWishlist {
	padding: .7em 15px;
	font-size: 14px;
	font-weight: bold;
}

#MPOrderOptions-accordian .accordion_headings {
	float: left;
	border: 0px;
	border-right: solid 1px #e0e0e0;
	border-bottom: solid 1px #e0e0e0;
	font-size: 13px;
	width: 60px;
}

#MPOrderOptions-accordian .header_highlight {
	border-bottom: 0;
}

#AlternativeCheckouts2 input, #AlternativeCheckouts input {
	max-width: 48%;
}

#MPOrderOptions-accordian {
	border-top: solid 1px #e0e0e0;
}

#tblWishListBox td {
	vertical-align: middle;
}

li.mpAltCheckout {
	background: #ffffff;
	text-align: center;
}

	li.mpAltCheckout div {
		margin: .5em 5px;
		text-align: center;
	}

input.mpBtnPayPalExpressCheckout {
	float: none;
	display: inline-block;
	opacity: 1;
	width: auto;
	height: auto;
	position: static;
}

input.mpBtnPayPalExpressCheckout {
	width: 145px;
	height: 42px;
}

/* PayPal banners */
.paypal-banner-wrap img {
	max-width: 100%;
	height: auto;
}

.WishListHeader .cartProductName,
.WishListItem .cartProductName {
	width: auto !important;
}

.WishListHeader .cartProductQuantity,
.WishListItem .cartProductQuantity {
	width: 75px !important;
}

.WishListHeader .cartProductSubtotal,
.WishListItem .cartProductSubtotal {
	width: 90px !important;
}

.ShoppingCartHeader .cartProductName,
.ShoppingCartItem .cartProductName {
	width: auto !important;
}



.cart-row:before,
.cart-row:after {
	content: " ";
	display: table;
}

.cart-row:after {
	clear: both;
}

.cart-row a {
	font-weight: bold;
}

.cart-column {
	float: left;
	width: 100%;
}

.cart-header {
	border-bottom: solid 1px #444444;
	margin: 0 0 10px 0;
	padding-bottom:5px;
	font-weight: bold;
}

.cart-column-description {
	width: 60%;
}

.cart-column-edit{
	width: 75px !important;
	vertical-align:top;
}

.cart-column-subtotal {
	width: 25%;
	text-align: right;
}

.cart-column-option-select {
	width: 50%;
	text-align: left;
}

.cart-column-option-price {
	width: 50%;
	text-align: right;
}

.cart-price {
	color: #902003;
	font-weight: bold;
}

.cart-small {
	color: #888;
	font-size: 12px;
	font-weight: normal;
}

.cart-item-notes .cart-label {
	display: block;
}

.cart-column-description {
	text-align: left;
}

.row-separator {
	border-bottom: 1px solid #ddd;
	padding: 10px 0 0 0;
	margin: 0 0 10px 0;
}

.row-order-notes textarea {
	display: block;
}

.cart-summary-subtotal {
	font-size: 18px;
	font-weight: bold;
	text-align:right;
}

.quantity-box {
	width: 60px;
}

.row-pay-pal-banner, .cart-summary-discount {
	text-align: right;
}

.cart-column-option-select .ui-checkbox input
{
	left: 0;
}

.cart-column-option-select .OrderOptionsName
{
	position: absolute;
	margin: -12px 0 0 15px;
	z-index: 1;
}


/***************End MobileShoppingCart and MobileWishList********************/


/*************** Mobile Checkout ********************/
/**bigger radio and checkboxes*/
#Over13, #OKToEMailYes, #OKToEMailNo, .shippingOptionWrap input {
	width: 23px !important;
	height: 23px !important;
	position: relative;
	top: 5px;
}


#checkoutCreditCardForm td {
	width: 50%;
	padding-bottom: 2px;
}

.accordian_checkoutReview {
	padding: 4px 0px 4px 0px;
}

.shippingOptionWrap {
	font-size: 11pt;
}

#tblAccountBox input, #tblBillingInfoBox input, #tblBillingInfoBox select {
	width: 140px;
}

input#Over13, input#OKToEMailYes, input#OKToEMailNo {
	width: 15px;
}

.checkoutErrorWrap {
	padding: .5em;
	background: red;
}


.form-text {
	display: block;
	margin-top: 5px;
	margin-bottom: 10px;
	color: #737373;
	width: 100%;
}

.form-group .ui-checkbox input
{
	left: 0;
}

.over-thirteen
{
	padding:20px 0 10px 0;
	height:20px;
}

.over-thirteen span
{
	position: absolute;
	margin: -8px 0 0 15px;
	z-index: 1;
}

.final-total
{
	text-align:right;
}

.final-total .order-summary {
	margin: 0 0 20px 0;
}

.final-total .place-order-wrap {
	text-align: right;
}

.final-total .cart-summary-subtotal {
	font-size: 16px;
	font-weight: normal;
}

.final-total .cart-price {
	color: #333;
	font-weight: normal;
}

.final-total .cart-summary-total {
	font-size: 18px;
	font-weight: bold;
}

	.final-total .cart-summary-total .cart-value {
		color: #902003;
		font-weight: bold;
	}


/***************End Mobile Checkout ********************/



/***************MobileCheckoutGiftCard********************/

.giftCardName {
	font-weight: bold;
}

.giftCardAmount {
	font-weight: bold;
	color: #009C0C;
}

.giftCardOptions div {
	padding: 5px 0px;
}

.giftCardOptions input, .recipsMessageArea {
	width: 288px;
}
/***************End MobileCheckoutGiftCard****************/
/***************MobileCreateAccount********************/
#MPSignInLink.fullwidth {
	text-transform: capitalize;
}

#frmCreateAccount select {
	width: 140px;
}

/***************End MobileCreateAccount****************/
/*
Slider Styles
*/
.accordion-slider {
	text-align: center;
}

	.accordion-slider div {
		text-align: left;
	}

.slider_headings {
	width: 35px;
	height: 26px;
	display: inline-block;
	text-decoration: none;
	color: inherit;
	background-color: transparent;
	background-image: url(customimages/circleempty.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	font-size: 17px;
	font-weight: bold;
}

.slider_highlight {
	background-image: url(customimages/circlefull.png);
}

.sliderleft {
	display: block;
}

.sliderright {
	display: block;
}

td.sliderarrow {
	vertical-align: top;
	padding-top: 15px;
}

.slidertable {
	width: 100%;
}

.MDWCancel, .MDWContinue {
	width: 100%;
	font-size: 16px;
	height: 40px;
	margin: 10px 0;
}

.MDWContinue {
	background-color: green;
}

.MDWCancel {
	background-color: Red;
}

.ui-content .ui-listview {
	margin-bottom: 0px !important;
	margin-top: 0px !important;
}

.ui-content .firstListView {
	margin-top: -15px !important;
}

li.back .ui-icon {
	left: 10px !important;
	right: auto !important;
}

li.back a.ui-link-inherit {
	padding-left: 35px !important;
}

.ui-content .filljQMContainer {
	margin-left: -15px;
	margin-right: -15px;
}

.ui-content .filljQMContainerTop {
	margin-top: -15px !important;
}

.leftbutton {
	float: left;
}

.rightbutton {
	float: right;
}

.cart_items input[type="text"] {
	width: 20px;
	clear: both;
}

.deleteButton {
	float: right;
}

.addressLabel, .addressLabel span {
	padding-right: 3px;
	line-height: 36px;
}

.ccPanel td {
	vertical-align: middle;
}

.whatsThisLink {
	display: none;
}

/* Promotion Page */
.mobilepromotioncodeentrycell {
}

.mobilepromotioncodeentrydescription {
	font-weight: bold;
}

.mobilepromotioncodeentrybutton {
	text-align: right;
	vertical-align: bottom;
}

.mobilepromotionlist {
}

.mobilepromotionlistitem {
	padding-bottom: 5px;
}

.mobilepromotionlistitemcode {
}

.mobilepromotionlistitemdescription {
}

.mobilepromotioncodeentrylink {
}

.mobilepromotionreason {
	font-size: 8pt;
}

.mobilepromotionerror {
	color: #800000;
	font-weight: bold;
}

/* Promotion Page */
.error {
	font-weight: bold;
	color: Red;
}

.errorLg {
	color: Red;
	font-size: 12px;
	font-weight: bold;
}
