<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GatewaySagePayments.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <GatewaySagePayments.Properties.Settings>
            <setting name="AspDotNetStorefrontGateways_CentralPaymentsSvc_Payment"
                serializeAs="String">
                <value>https://pay.centralpayments.net/soap/v6/payment.asmx</value>
            </setting>
            <setting name="AspDotNetStorefrontGateways_PayPalSvc_PayPalAPIInterfaceService"
                serializeAs="String">
                <value>https://api-3t.sandbox.paypal.com/2.0/</value>
            </setting>
            <setting name="AspDotNetStorefrontGateways_CardiaAPI_Transaction"
                serializeAs="String">
                <value>https://secure.cardia.no/Service/Card/Transaction/1.2/Transaction.asmx</value>
            </setting>
            <setting name="AspDotNetStorefrontGateways_sagepaymentsAPI_TRANSACTION_PROCESSING"
                serializeAs="String">
                <value>https://www.sagepayments.net/web_services/vterm_extensions/transaction_processing.asmx</value>
            </setting>
            <setting name="AspDotNetStorefrontGateways_SagePayments_TRANSACTION_PROCESSING"
                serializeAs="String">
                <value>https://www.sagepayments.net/web_services/vterm_extensions/transaction_processing.asmx</value>
            </setting>
            <setting name="AspDotNetStorefrontGateways_PPSCommerce_SmartPayments"
                serializeAs="String">
                <value>https://www.ppscommerce.net/SmartPayments/transact.asmx</value>
            </setting>
            <setting name="GatewaySagePayments_SagePaymentsAPI_TRANSACTION_PROCESSING"
                serializeAs="String">
                <value>https://www.sagepayments.net/web_services/vterm_extensions/transaction_processing.asmx</value>
            </setting>
        </GatewaySagePayments.Properties.Settings>
    </applicationSettings>
</configuration>