<?xml version="1.0" standalone="yes" ?>
<!-- ##################################################################################	-->
<!-- Copyright AspDotNetStorefront.com. All Rights Reserved.							-->
<!-- http://www.aspdotnetstorefront.com													-->
<!-- For details on this license please visit the product homepage at the URL above.	-->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.												-->
<!-- ##################################################################################	-->
<package version="2.1" displayname="Entity Menu" debug="false" includeentityhelper="true">
		<PackageTransform>
				<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
              xmlns:msxsl="urn:schemas-microsoft-com:xslt"
              xmlns:aspdnsf="urn:aspdnsf"
              exclude-result-prefixes="aspdnsf">
						<xsl:output method="html" omit-xml-declaration="yes"/>

						<xsl:variable name="MenuEntityType" select="aspdnsf:StrCapitalize(/root/Runtime/entitytype)" />
						<xsl:variable name="CurrentEntityType" select="aspdnsf:StrCapitalize(/root/Runtime/PageType)" />
						<xsl:variable name="CurrentEntityID" select="/root/Runtime/PageID" />
						<xsl:variable name="ConfiguredMaxMenuSize" select="aspdnsf:AppConfig('MaxMenuSize')" />
						<xsl:variable name="MaxMenuSize">
								<xsl:choose>
										<xsl:when test="$ConfiguredMaxMenuSize = 0">6</xsl:when>
										<xsl:otherwise><xsl:value-of select="$ConfiguredMaxMenuSize" /></xsl:otherwise>
								</xsl:choose>
						</xsl:variable>
						
						<xsl:template match="/">             
								<ul class="nav nav-pills nav-justified"  runat="server" ><!--changes made by tayyab-->
                  <xsl:apply-templates select="/root/EntityHelpers/*[name() = $MenuEntityType]/Entity[position() &lt;= $MaxMenuSize]" />
								</ul>
						</xsl:template>

						<xsl:template match="Entity">
								<xsl:variable name="CurrentDepth" select="count(ancestor::Entity)+1" />
								<li id="{aspdnsf:GetCategoryID(EntityID, SEName, $MenuEntityType, 0)}" class="hide-element">
										<a href="{aspdnsf:EntityLink(EntityID, SEName, $MenuEntityType, 0)}">
												<xsl:if test="($CurrentEntityType = $MenuEntityType) and (EntityID = $CurrentEntityID or descendant::Entity/EntityID = $CurrentEntityID)">
														<xsl:attribute name="class">selected</xsl:attribute>
												</xsl:if>                     
                      <xsl:value-of select=" aspdnsf:GetMLValue(Name)"/>                   
										</a>
								</li>
						</xsl:template>

				</xsl:stylesheet>
		</PackageTransform>
</package>
