<?xml version="1.0"?>
<configuration>

	<!-- Forms Authentication Control. Change only if you know exactly what you are doing -->
  <location path="jscripts">
		<!--Needed to allow validation scripts before login-->
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="skins">
		<!--Needed to allow access to gifs before login-->
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
  <location path="App_Templates">
    <!--Needed to allow access to templates before login-->
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
	<location path="signin.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="jpegimage.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="lostpassword.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="THubService.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>

	<appSettings>
		<add key="IsAdminSite" value="1"/>
  	</appSettings>

	<system.web>

	<!-- admin site must allow html submits -->
		<pages enableEventValidation="false" validateRequest="false" styleSheetTheme="" >
			<controls>
				<add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
			</controls>
		</pages>

    <authorization>
      <allow roles="SuperAdmin,Admin"/>
      <deny users="*"/>
    </authorization>

	</system.web>

</configuration>
