<?xml version="1.0" standalone="yes" ?>
<!-- ##################################################################################	-->
<!-- Copyright AspDotNetStorefront.com. All Rights Reserved.							-->
<!-- http://www.aspdotnetstorefront.com													-->
<!-- For details on this license please visit the product homepage at the URL above.	-->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.												-->
<!-- ##################################################################################	-->
<package version="2.1" displayname="MobileAlsoBought" debug="false" includeentityhelper="false">

  <query name="AlsoBoughtItems" rowElementName="Item">
    <sql>
      <![CDATA[
			   exec aspdnsf_GetCustomersAlsoBoughtProducts 
				 @NumProductToDisplay,
				 @productid,
				 @CustomerLevelID,
				 @InvFilter,
         @affiliateID,
				 @storeID,
         @FilterProduct
            ]]>
    </sql>
    <queryparam paramname="@ProductID"				paramtype="runtime"   requestparamname="ProductID"                                  sqlDataType="int" defvalue="0"		validationpattern="" />
    <queryparam paramname="@CustomerLevelID"		paramtype="system"    requestparamname="CustomerLevelID"                            sqlDataType="int" defvalue="0"		validationpattern="" />
    <queryparam paramname="@InvFilter"				paramtype="appconfig" requestparamname="HideProductsWithLessThanThisInventoryLevel" sqlDataType="int" defvalue="0"		validationpattern="" />
    <queryparam paramname="@NumProductToDisplay"	paramtype="appconfig" requestparamname="AlsoBoughtNumberToDisplay"					sqlDataType="int" defvalue="0"		validationpattern="" />
    <queryparam paramname="@affiliateID"            paramtype="system"    requestparamname="AffiliateID"                                sqlDataType="int" defvalue="0"      validationpattern="" />
    <queryparam paramname="@StoreID"				paramtype="runtime"   requestparamname="StoreID"									sqlDataType="int" defvalue="1"		validationpattern="" />
    <queryparam paramname="@FilterProduct"   paramtype="runtime"   requestparamname="FilterProduct"										           sqlDataType="bit"	    defvalue="0"  validationpattern="" />
  </query>


	<PackageTransform>
		<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
			<xsl:output method="html" omit-xml-declaration="yes" />

			<xsl:param name="AlsoBoughtNumberToDisplay" select="aspdnsf:AppConfig('AlsoBoughtNumberToDisplay')"></xsl:param>
			<xsl:param name="AlsoBoughtProductsGridColWidth" select="aspdnsf:AppConfig('AlsoBoughtProductsGridColWidth')"></xsl:param>


			<xsl:template match="/">
				<xsl:if test="count(/root/AlsoBoughtItems/Item) &gt; 0">
					<ul data-role="listview">
						<li class="group"  data-role="list-divider">
							<xsl:value-of select="aspdnsf:StringResource('Mobile.AsloBought.Title')" disable-output-escaping="yes" />	
						</li>
						<li>
							(!XmlPackage name="mobile.productslider" products="<xsl:apply-templates select="/root/AlsoBoughtItems/Item" />" id="AlsoBought"!)
						</li>
					</ul>
				</xsl:if>
			</xsl:template>
			
			<xsl:template match="Item">
				<xsl:if test="position() != 1">
					<xsl:text>,</xsl:text>
				</xsl:if>
				<xsl:value-of select="ProductID" />
			</xsl:template>
			

		</xsl:stylesheet>
	</PackageTransform>
</package>

