<?xml version="1.0" standalone="yes" ?>
<!-- ##################################################################################	-->
<!-- Copyright AspDotNetStorefront.com. All Rights Reserved.							-->
<!-- http://www.aspdotnetstorefront.com													-->
<!-- For details on this license please visit the product homepage at the URL above.	-->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.												-->
<!-- ##################################################################################	-->
<package version="2.1" displayname="Entity Table Expanded 2" debug="false" includeentityhelper="true">
	<PackageTransform>

		<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
			<xsl:output method="html" omit-xml-declaration="yes" />

			<xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
			<xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />
			<xsl:param name="ShowSubcatsInGrid">
				<xsl:value-of select="aspdnsf:AppConfig('ShowSubcatsInGrid')" />
			</xsl:param>
			<xsl:param name="SubcatGridCols">
				<xsl:value-of select="/root/EntityHelpers/*[name()=/root/Runtime/EntityName]/descendant::Entity[EntityID=/root/Runtime/EntityID]/ColWidth" />
			</xsl:param>
			<xsl:param name="EntityName">
				<xsl:value-of select="/root/Runtime/EntityName" />
			</xsl:param>
			<xsl:param name="CatID">
				<xsl:value-of select="/root/QueryString/categoryid" />
			</xsl:param>
			<xsl:param name="EntityID">
				<xsl:value-of select="/root/Runtime/EntityID" />
			</xsl:param>
			<xsl:param name="WholesaleOnlySite">
				<xsl:value-of select="aspdnsf:AppConfig('WholesaleOnlySite')"/>
			</xsl:param>


			<xsl:param name="BaseURL">
				<xsl:choose>
					<xsl:when test="aspdnsf:StrToLower(/root/Runtime/EntityName) = 'category'">
						c-<xsl:value-of select="/root/Runtime/EntityID" />-<xsl:value-of select="/root/QueryString/sename" />.aspx
					</xsl:when>
					<xsl:when test="aspdnsf:StrToLower(/root/Runtime/EntityName) = 'section'">
						s-<xsl:value-of select="/root/Runtime/EntityID" />-<xsl:value-of select="/root/QueryString/sename" />.aspx
					</xsl:when>
					<xsl:when test="aspdnsf:StrToLower(/root/Runtime/EntityName) = 'manufacturer'">
						m-<xsl:value-of select="/root/Runtime/EntityID" />-<xsl:value-of select="/root/QueryString/sename" />.aspx
					</xsl:when>
					<xsl:when test="aspdnsf:StrToLower(/root/Runtime/EntityName) = 'library'">
						l-<xsl:value-of select="/root/Runtime/EntityID" />-<xsl:value-of select="/root/QueryString/sename" />.aspx
					</xsl:when>
				</xsl:choose>
			</xsl:param>

			<xsl:param name="CurrentPage">
				<xsl:choose>
					<xsl:when test="/root/QueryString/pagenum">
						<xsl:value-of select="/root/QueryString/pagenum" />
					</xsl:when>
					<xsl:otherwise>1</xsl:otherwise>
				</xsl:choose>
			</xsl:param>

			<xsl:param name="CurrentCat" select="/root/EntityHelpers/*[name()=/root/Runtime/EntityName]//Entity[EntityID = $EntityID]" />



			<xsl:template match="/">
				<ul data-role="listview" title="{aspdnsf:GetMLValue($CurrentCat/Name)}">
					<xsl:if test="count($CurrentCat/Entity) &gt; 1">
						<li class="group" data-role="list-divider">
							<h5>
								<xsl:value-of select="aspdnsf:StringResource('Mobile.Section.SubSection')" disable-output-escaping="yes" />
							</h5>
						</li>
					</xsl:if>
					<xsl:apply-templates select="$CurrentCat/Entity"/>
					<xsl:if test="count($CurrentCat/Entity) > 0 and string-length($CurrentCat/Description) &gt; 4">
						<li class="group" data-role="list-divider"></li>
					</xsl:if>
					<xsl:if test="string-length($CurrentCat/Description) &gt; 4">
						<li>
							<xsl:value-of select="aspdnsf:GetMLValue($CurrentCat/Description)" disable-output-escaping="yes" />
						</li>
					</xsl:if>
				</ul>
			</xsl:template>


			<xsl:template match="Entity">
				<xsl:variable name="scName" select="aspdnsf:GetMLValue(Name)"></xsl:variable>
				<li>
					<a href="{aspdnsf:EntityLink(EntityID, SEName, $EntityName, 0, '')}">
						<xsl:value-of select="$scName" disable-output-escaping="yes"/>
					</a>
				</li>
			</xsl:template>


		</xsl:stylesheet>
	</PackageTransform>
</package>
