<?xml version="1.0" encoding="UTF-8" ?>
<!-- ##################################################################################	-->
<!-- Copyright AspDotNetStorefront.com. All Rights Reserved.							-->
<!-- http://www.aspdotnetstorefront.com													-->
<!-- For details on this license please visit the product homepage at the URL above.	-->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.												-->
<!-- ##################################################################################	-->
<package version="2.1" displayname="Vortx Mobile Product" debug="false" includeentityhelper="false">
  <query name="Products" rowElementName="Product">
    <sql>
      <![CDATA[
				exec dbo.aspdnsf_ProductInfo
					@ProductID = @ProductID,
					@CustomerLevelID = @CustomerLevelID,
					@DefaultVariantOnly = 0,
					@AffiliateID = @AffiliateID,
					@StoreID = @StoreID
      ]]>
    </sql>
    <queryparam paramname="@ProductID"				paramtype="request"	requestparamname="ProductID"				sqlDataType="int"	defvalue="0"	validationpattern="^\d{1,10}$" />
    <queryparam paramname="@CustomerLevelID"	paramtype="runtime"	requestparamname="CustomerLevelID"	sqlDataType="int"	defvalue="0"	validationpattern="" />
    <queryparam paramname="@AffiliateID"			paramtype="system"	requestparamname="AffiliateID"			sqlDataType="int"	defvalue="0"	validationpattern="" />
		<queryparam paramname="@StoreID"					paramtype="runtime"	requestparamname="StoreID"					sqlDataType="int"	defvalue="1"	validationpattern="" />
	</query>

  <PackageTransform>

    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" xmlns:mobile="urn:mobile" exclude-result-prefixes="aspdnsf mobile">

      <xsl:output method="html" omit-xml-declaration="yes" />

      <xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
      <xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />
      <xsl:param name="XmlPackageName" select="/root/System/XmlPackageName" />
      <xsl:param name="GeneralProduct" select="/root/Products/Product[position() = 1]" />
			<xsl:param name="DisplayOutOfStockOnProductPages" select="aspdnsf:AppConfigBool('DisplayOutOfStockOnProductPages')" />
			<xsl:param name="OutOfStockThreshold" select="aspdnsf:AppConfig('OutOfStockThreshold')" />

			<xsl:template match="/">
        <xsl:param name="pName" select="aspdnsf:GetMLValue($GeneralProduct/Name)" />
        <xsl:param name="pDescription" select="aspdnsf:GetMLValue($GeneralProduct/Description)" />
        <xsl:param name="pSalesPromptName" select="aspdnsf:GetMLValue($GeneralProduct/SalesPromptName)" />
        <xsl:param name="ProductID" select="$GeneralProduct/ProductID" />
        <xsl:choose>
          <xsl:when test="$GeneralProduct/IsAKit=1 or $GeneralProduct/IsRecurring > 0">
            <ul data-role="listview">
              <li style="color:red; font-size:13px;" class="group" data-role="list-divider">
                <xsl:value-of select="aspdnsf:StringResource('Mobile.Product.Unsupported')" disable-output-escaping="yes" />
              </li>
              <li>
                <a href="mobileleave.aspx?returnurl={aspdnsf:ProductLink($GeneralProduct/ProductID, $GeneralProduct/SEName, 0)}">Leave mobile site.</a>
              </li>
              <li>
                <a href="mobileemailproduct.aspx?productid={$GeneralProduct/ProductID}">
                  <xsl:value-of select="aspdnsf:StringResource('Mobile.Product.UnsupportedEmail')" disable-output-escaping="yes" />
                </a>
              </li>
            </ul>
          </xsl:when>
          <xsl:otherwise>
            <script type="text/javascript">
              <![CDATA[
              submitonce = function(theform){toggleForm(theform, true);}
              submitenabled = function(theform){toggleForm(theform, false);}
              
              function toggleForm(theform, disableForm)
              {
                if (document.all||document.getElementById)
		            {
		              for (i=0;i<theform.length;i++)
			            {
			                var tempobj=theform.elements[i];
			                if(tempobj != null && tempobj.type != null && (tempobj.type.toLowerCase()=="submit" || tempobj.type.toLowerCase()=="reset"))
				                tempobj.disabled=disableForm;
			            }
		            }
              }
              ]]>
            </script>
            <table id="MProductPageTable" cellspacing="0" cellpadding="0" class="filljQMContainer filljQMContainerTop">
              <tr>
                <td id="MProductImageCell" valign="top">
                  <a href="mobileproductimages.aspx?productid={$GeneralProduct/ProductID}">
                    <img src="{aspdnsf:ProductImageUrl($GeneralProduct/ProductID, $GeneralProduct/ImageFilenameOverride, $GeneralProduct/SKU, 'icon', 1)}" class="MobileProductImage" />
                  </a>
                  
                  <a href="mobileemailproduct.aspx?productid={$GeneralProduct/ProductID}">
                    <xsl:value-of select="aspdnsf:StringResource('Mobile.Product.Email')" disable-output-escaping="yes" />
                  </a>
                </td>
                <td>
                  <ul data-role="listview" data-inset="true" data-icon="star">
                    <li data-role="list-divider">
                      <h1 ID="MProductName">
                        <xsl:value-of select="$pName" disable-output-escaping="yes" />
                      </h1>
                    </li>
                  </ul>
                  <div ID="MProductSummary">
                    <xsl:value-of select="aspdnsf:GetMLValue($GeneralProduct/Summary)" disable-output-escaping="yes" />
                  </div>
                </td>
              </tr>
            </table>

            <div data-role="collapsible">
              <h3>
                <xsl:value-of select="aspdnsf:StringResource('Mobile.Product.Description')" disable-output-escaping="yes" />
              </h3>
              <p>
                <xsl:value-of select="$pDescription" disable-output-escaping="yes" />
              </p>
            </div>
            <xsl:value-of select="mobile:ShowQuantityDiscountTableForAccordion($GeneralProduct/ProductID, 'Quantity Discounts', 'MPP2')" disable-output-escaping="yes"/>
            <ul data-role="listview">
              <xsl:apply-templates select="/root/Products/Product" />
            </ul>
            <xsl:if test="string-length($GeneralProduct/RelatedProducts) &gt; 1">
              <ul data-role="listview">
                <li class="group" data-role="list-divider">
                  <xsl:value-of select="aspdnsf:StringResource('Mobile.Related.Title')" disable-output-escaping="yes" />
                </li>
                <li>
                  (!XmlPackage name="mobile.productslider" products="<xsl:apply-templates select="$GeneralProduct/RelatedProducts"/>" id="RelatedProducts"!)
                </li>
              </ul>
            </xsl:if>
            <xsl:value-of select="aspdnsf:RecentlyViewed($GeneralProduct/ProductID, 0)" disable-output-escaping="yes"/>
            <xsl:value-of select="aspdnsf:AlsoBought($GeneralProduct/ProductID, $GeneralProduct/VariantID)" disable-output-escaping="yes"/>
            <xsl:value-of select="aspdnsf:ShowUpsellProducts($GeneralProduct/ProductID)" disable-output-escaping="yes"/>
          </xsl:otherwise>
        </xsl:choose>
      </xsl:template>

      <xsl:template match="Product">
        <xsl:param name="vName" select="aspdnsf:GetMLValue(VariantName)" />
        <xsl:param name="pDescription" select="aspdnsf:GetMLValue(Description)" />
        <xsl:param name="pSalesPromptName" select="aspdnsf:GetMLValue(SalesPromptName)" />
        <xsl:param name="vIconImage" select="aspdnsf:LookupVariantImage(ProductID, VariantID, ImageFileNameOverride, SKU, 'icon', 0)" />
        <li>
          <div>
            <xsl:if test="not(contains($vIconImage, 'nopictureicon'))">
              <a class="MPVariantImage">
                <xsl:value-of select="$vIconImage" disable-output-escaping="yes" />
              </a>
            </xsl:if>
            <xsl:if test="string-length($vName) &gt; 0">
              <h2 class="MPVariantName">
                <xsl:value-of select="$vName" disable-output-escaping="yes" />
              </h2>
            </xsl:if>

            <xsl:if test="number(CustomerEntersPrice)=0">
              <div class="MPVariantPrice">
                <xsl:attribute name="id">
                  VariantPrice_<xsl:value-of select="VariantID"/>
                </xsl:attribute>
                <xsl:value-of select="aspdnsf:GetVariantPrice(VariantID, number(HidePriceUntilCart), Price, SalePrice, ExtendedPrice, Points, $pSalesPromptName, TaxClassID)" disable-output-escaping="yes" />
              </div>
            </xsl:if>

			<xsl:choose>
				<xsl:when test="aspdnsf:AppConfigBool('ShowInventoryTable')='true'">
					<div class="productListItemStockHint">
						<xsl:value-of select="aspdnsf:ShowInventoryTable(ProductID, VariantID)" disable-output-escaping="yes" />
					</div>
				</xsl:when>
				<xsl:otherwise>
					<xsl:if test="$DisplayOutOfStockOnProductPages = 'true'">
						<div class="productListItemStockHint">
							<xsl:value-of select="aspdnsf:DisplayProductStockHint(ProductID, VariantID, 'Product')" disable-output-escaping="yes" />
						</div>
					</xsl:if>
				</xsl:otherwise>
			</xsl:choose>

			  <div class="MPAddToCart" data-role="fieldcontain">
              <xsl:value-of select="aspdnsf:AddtoCartForm(ProductID, VariantID, 0, 'right')" disable-output-escaping="yes" />
            </div>
            <div class="clear" ></div>
          </div>


        </li>

      </xsl:template>

    </xsl:stylesheet>
  </PackageTransform>
</package>
