<?xml version="1.0" encoding="UTF-8" ?>
<!-- ##################################################################################	-->
<!-- Copyright AspDotNetStorefront.com. All Rights Reserved.							-->
<!-- http://www.aspdotnetstorefront.com													-->
<!-- For details on this license please visit the product homepage at the URL above.	-->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.												-->
<!-- ##################################################################################	-->
<package version="2.1" displayname="Variants In Right Bar" debug="false" includeentityhelper="true">
  <PackageTransform>

    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" xmlns:mobile="urn:mobile"   exclude-result-prefixes="aspdnsf mobile">
      <xsl:output method="html" omit-xml-declaration="yes" />
		
		
		<xsl:param name="Active" select="/root/Runtime/active" />
		<xsl:param name="ShippingOptions" select="mobile:GetCheckoutHeaderLinks()"/>
		<xsl:param name="ActiveStep" select="$ShippingOptions/CheckoutSteps/CheckoutStep[Key = $Active]"/>
		<xsl:param name="ActiveStepPosition" select="count($ShippingOptions/CheckoutSteps/CheckoutStep[Key = $Active]/preceding-sibling::*) + 1"/>
		
      <xsl:template match="/">
		  <table id="tblCheckoutHeader" cellspacing="0" cellpadding="0">
			  <tr>
				  <xsl:apply-templates select="$ShippingOptions/CheckoutSteps/CheckoutStep[position() &lt; $ActiveStepPosition]" mode="Link" />
				  <xsl:apply-templates select="$ShippingOptions/CheckoutSteps/CheckoutStep[position() = $ActiveStepPosition]" mode="Active" />
				  <xsl:apply-templates select="$ShippingOptions/CheckoutSteps/CheckoutStep[position() &gt; $ActiveStepPosition]" mode="Disabled" />
			  </tr>
		  </table>
      </xsl:template>

		<xsl:template match="CheckoutStep" mode="Link">
			<td>
				<a href="{Link}">
					<xsl:value-of select="Name" disable-output-escaping="yes" />
				</a>
			</td>
				<xsl:call-template name="sep" />
		</xsl:template>
		<xsl:template match="CheckoutStep" mode="Active">
			<td>
				<a class="active">
					<xsl:value-of select="Name" disable-output-escaping="yes" />
				</a>
			</td>
				<xsl:call-template name="sep" />
		</xsl:template>
		<xsl:template match="CheckoutStep" mode="Disabled">
			<td>
				<a class="disabled">
					<xsl:value-of select="Name" disable-output-escaping="yes" />
				</a>
			</td>
				<xsl:call-template name="sep" />
		</xsl:template>

		<xsl:template name="sep">
			<td class="sep"></td>
		</xsl:template>

    </xsl:stylesheet>
  </PackageTransform>
</package>
