<?xml version="1.0" standalone="yes" ?>
<!-- ##################################################################################	-->
<!-- Copyright AspDotNetStorefront.com. All Rights Reserved.							-->
<!-- http://www.aspdotnetstorefront.com													-->
<!-- For details on this license please visit the product homepage at the URL above.	-->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.												-->
<!-- ##################################################################################	-->
<package version="2.1" displayname="Search" debug="false" includeentityhelper="true">
	<query name="Products" rowElementName="Product" runif="SearchTerm">
		<sql>
			<![CDATA[
                exec aspdnsf_GetProducts 
                    @localeName = @locale,
                    @CustomerLevelID = @CustLevelID,
                    @affiliateID = @AffID,
                    @ProductTypeID = @ProdTypeID, 
                    @ViewType = 1,
                    @pagenum = @pgnum,
                    @pagesize = @PageSize,
                    @StatsFirst = 0,
					@searchstr = @SearchTerm,
                    @publishedonly = 1,
                    @ExcludePacks = 0,
                    @ExcludeKits = 0,
                    @ExcludeSysProds = 1,
                    @storeID = @StoreID,
                    @filterProduct = @FilterProduct
                    
            ]]>
		</sql>
		<queryparam paramname="@pgnum" paramtype="request" requestparamname="pagenum" sqlDataType="int" defvalue="1"  validationpattern="" />
		<queryparam paramname="@PageSize" paramtype="appconfig" requestparamname="Mobile.Entity.PageSize" sqlDataType="int" defvalue="0"  validationpattern="" />
		<queryparam paramname="@locale" paramtype="runtime" requestparamname="LocaleSetting" sqlDataType="varchar" defvalue="en-US"  validationpattern="" />
		<queryparam paramname="@CustLevelID" paramtype="runtime" requestparamname="CustomerLevelID" sqlDataType="int" defvalue="0"  validationpattern="" />
		<queryparam paramname="@AffID" paramtype="runtime" requestparamname="AffiliateID" sqlDataType="int" defvalue="0"  validationpattern="" />
		<queryparam paramname="@ProdTypeID" paramtype="runtime" requestparamname="ProductTypeFilterID" sqlDataType="int" defvalue="null"  validationpattern="" />
		<queryparam paramname="@SearchTerm" paramtype="request" requestparamname="SearchTerm" sqlDataType="varchar" defvalue=""  validationpattern="" />
        	<queryparam paramname="@StoreID"	      paramtype="runtime" requestparamname="StoreID"							sqlDataType="int"	    defvalue="1"      validationpattern="" />
    		<queryparam paramname="@FilterProduct"  paramtype="runtime" requestparamname="FilterProduct"				sqlDataType="bit"	    defvalue="0"      validationpattern="" />
  </query>

	<PackageTransform>
		<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
						xmlns:aspdnsf="urn:aspdnsf" xmlns:mobile="urn:mobile"
						exclude-result-prefixes="aspdnsf mobile">
			<xsl:output method="html" omit-xml-declaration="yes" />
			<!-- Include Product StyleSheet-->
			<xsl:include href="productTemplate.xslt" />
			<xsl:include href="paging.xslt" />

			<xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
			<xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />

			<xsl:param name="HeaderText">
				<![CDATA[Search Results]]>
			</xsl:param>

			<xsl:template match="/">
        <ul data-role="listview">
					<li class="group" data-role="list-divider">
						<xsl:value-of select="$HeaderText" />
					</li>
				</ul>
				<xsl:choose>
				<xsl:when test="count(/root/Products/Product)>0">
          <ul data-role="listview" data-split-icon="arrow-r" class="productList">
						<xsl:apply-templates select="/root/Products/Product" />
					</ul>
				</xsl:when>
					<xsl:otherwise>
            <ul data-role="listview">
							<li>
								<xsl:value-of select="aspdnsf:StringResource('search.aspx.9', $LocaleSetting)" disable-output-escaping="yes" />
							</li>
						</ul>
					</xsl:otherwise>
				</xsl:choose>

				<div class="productListPaging">
					<xsl:call-template name="Paging" />
				</div>
			</xsl:template>
		</xsl:stylesheet>



	</PackageTransform>
</package>


