<?xml version="1.0" encoding="UTF-8" ?>
<!-- ##################################################################################	-->
<!-- Copyright AspDotNetStorefront.com. All Rights Reserved.							-->
<!-- http://www.aspdotnetstorefront.com													-->
<!-- For details on this license please visit the product homepage at the URL above.	-->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.												-->
<!-- ##################################################################################	-->

<package version="2.1" displayname="Variants In Right Bar" debug="false" includeentityhelper="true">
  <PackageTransform>

    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" xmlns:mobile="urn:mobile" exclude-result-prefixes="aspdnsf mobile">
      <xsl:output method="html" omit-xml-declaration="yes" />

      <xsl:template match="/">
		  <ul data-role="listview">
			  <xsl:if test="aspdnsf:ToLower(/root/System/RequestedPage) != 'default.aspx'">
				  <li class="group" data-role="list-divider"></li>
				  <li data-icon="arrow-l" class="back">
					  <a href="javascript:history.back()">
						  <xsl:value-of select="aspdnsf:StringResource('Mobile.Global.BackLink')" disable-output-escaping="yes" />
					  </a>
				  </li>
				  <li data-icon="home" class="back">
					  <a href="default.aspx">
						  <xsl:value-of select="aspdnsf:StringResource('Mobile.Global.HomeLink')" disable-output-escaping="yes" />
					  </a>
				  </li>
			  </xsl:if>
			  <li data-icon="back" class="back">
				  <a href="mobileleave.aspx">
					  <xsl:value-of select="aspdnsf:StringResource('Mobile.FullSiteLink')" disable-output-escaping="yes" />
				  </a>
			  </li>
		  </ul>
		  
		  <xsl:value-of select="mobile:GetContactLinks()" disable-output-escaping="yes" />
      </xsl:template>

    </xsl:stylesheet>
  </PackageTransform>
</package>
