<?xml version="1.0" standalone="yes" ?>
<!-- ##################################################################################	-->
<!-- Copyright AspDotNetStorefront.com. All Rights Reserved.							-->
<!-- http://www.aspdotnetstorefront.com													-->
<!-- For details on this license please visit the product homepage at the URL above.	-->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.												-->
<!-- ##################################################################################	-->
<package version="2.1" displayname="Mobile Entity" debug="false" includeentityhelper="true">
	<query name="Products" rowElementName="Product">
		<sql>
			<![CDATA[
			
                exec dbo.aspdnsf_GetProducts 
                    @categoryID = @CatID,
                    @sectionID = @SecID,
                    @manufacturerID = @ManID,
                    @distributorID = @DistID,
                    @genreID = @GenreID,
                    @vectorID = @VectorID,
                    @localeName = @locale,
                    @CustomerLevelID = @CustLevelID,
                    @affiliateID = @AffID,
                    @ProductTypeID = @ProdTypeID, 
                    @ViewType = 1,
                    @pagenum = @pgnum,
                    @pagesize = @PageSize,
                    @StatsFirst = 0,
                    @publishedonly = 1,
                    @ExcludePacks = 0,
                    @ExcludeKits = 0,
                    @ExcludeSysProds = 0,
                    @InventoryFilter = @InvFilter,
                    @sortEntityName = @entityname,
		    @storeID = @StoreID,
                    @filterProduct = @FilterProduct
            ]]>
		</sql>		
		<queryparam paramname="@CatID" paramtype="runtime" requestparamname="CatID" sqlDataType="int" defvalue="0"  validationpattern="" />
		<queryparam paramname="@PageSize" paramtype="appconfig" requestparamname="Mobile.Entity.PageSize" sqlDataType="int" defvalue="0"  validationpattern="" />
		<queryparam paramname="@SecID" paramtype="runtime" requestparamname="SecID" sqlDataType="int" defvalue="0"  validationpattern="" />
		<queryparam paramname="@ManID" paramtype="runtime" requestparamname="ManID" sqlDataType="int" defvalue="0"  validationpattern="" />
		<queryparam paramname="@DistID" paramtype="runtime" requestparamname="DistID" sqlDataType="int" defvalue="0"  validationpattern="" />
		<queryparam paramname="@GenreID" paramtype="runtime" requestparamname="GenreID" sqlDataType="int" defvalue="0"  validationpattern="" />
		<queryparam paramname="@VectorID" paramtype="runtime" requestparamname="VectorID" sqlDataType="int" defvalue="0"  validationpattern="" />
		<queryparam paramname="@locale" paramtype="runtime" requestparamname="LocaleSetting" sqlDataType="varchar" defvalue="en-US"  validationpattern="" />
		<queryparam paramname="@CustLevelID" paramtype="runtime" requestparamname="CustomerLevelID" sqlDataType="int" defvalue="0"  validationpattern="" />
		<queryparam paramname="@AffID" paramtype="runtime" requestparamname="AffiliateID" sqlDataType="int" defvalue="0"  validationpattern="" />
		<queryparam paramname="@ProdTypeID" paramtype="runtime" requestparamname="ProductTypeFilterID" sqlDataType="int" defvalue="1"  validationpattern="" />
		<queryparam paramname="@pgnum" paramtype="request" requestparamname="pagenum" sqlDataType="int" defvalue="1"  validationpattern="" />
		<queryparam paramname="@InvFilter" paramtype="appconfig" requestparamname="HideProductsWithLessThanThisInventoryLevel" sqlDataType="int" defvalue="0"  validationpattern="" />
		<queryparam paramname="@entityname" paramtype="runtime" requestparamname="EntityName" sqlDataType="varchar" defvalue=""  validationpattern="" />
		<queryparam paramname="@StoreID"	      paramtype="runtime"   requestparamname="StoreID"										                   sqlDataType="int"	   defvalue="1"      validationpattern="" />
        	<queryparam paramname="@FilterProduct"  paramtype="runtime"   requestparamname="FilterProduct"										             sqlDataType="bit"	   defvalue="0"      validationpattern="" />
	</query>

	<PackageTransform>

		<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform"	xmlns:msxsl="urn:schemas-microsoft-com:xslt"	xmlns:aspdnsf="urn:aspdnsf"	xmlns:mobile="urn:mobile" exclude-result-prefixes="msxsl aspdnsf mobile">
			<xsl:output method="html" omit-xml-declaration="yes" />
			
			<!-- Include Product StyleSheet-->
			<xsl:include href="productTemplate.xslt" />
			<xsl:include href="paging.xslt" />
			
			<xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
			<xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />
			
			<xsl:param name="EntityName">
				<xsl:value-of select="/root/Runtime/EntityName" />
			</xsl:param>
			<xsl:param name="EntityID">
				<xsl:value-of select="/root/Runtime/EntityID" />
			</xsl:param>
			<xsl:param name="WholesaleOnlySite">
				<xsl:value-of select="aspdnsf:AppConfig('WholesaleOnlySite')"/>
			</xsl:param>

			<xsl:param name="CurrentEntity" select="/root/EntityHelpers/*[name()=/root/Runtime/EntityName]//Entity[EntityID = $EntityID]" />

			<xsl:param name="Description">
				<xsl:value-of select="aspdnsf:GetMLValue($CurrentEntity/Description)" disable-output-escaping="yes" />
			</xsl:param>
			<xsl:param name="DescriptionTrimmed" select="mobile:TextClip(aspdnsf:StripHtml($Description), 15)" />

			<xsl:template match="/">
        <xsl:param name="SubCatPack" select="aspdnsf:XmlPackage('mobile.entitylist.xml.config', concat('entityname=', /root/Runtime/EntityName, '&amp;rootentityid=',$EntityID))" />
        <ul data-role="listview">
					<li class="group" data-role="list-divider">
						<xsl:value-of select="aspdnsf:GetMLValue($CurrentEntity/Name)" disable-output-escaping="yes" />
					</li>
				</ul>
				<xsl:if test="string-length($Description) > 0">
          <div data-role="collapsible" data-mini="true">
            <h3>
              <xsl:text>Description</xsl:text>
            </h3>
            <div class="entityDescription">
              <xsl:value-of select="$Description"  disable-output-escaping="yes" />
            </div>
          </div>
          <ul data-role="listview">
            <li class="group" data-role="list-divider"></li>
          </ul>
				</xsl:if>

          <xsl:if test="string-length($SubCatPack) > 8">
            <xsl:choose>
              <xsl:when test="count(/root/Products/Product) > 0">
                <div data-role="collapsible" data-mini="true">
                  <h3>
                    <xsl:text>Sub Categories</xsl:text>
                  </h3>
                  <div class="entityDescription">
                      <xsl:value-of select="$SubCatPack" disable-output-escaping="yes" />
                  </div>
                </div>
              </xsl:when>
              <xsl:otherwise>
                <xsl:value-of select="$SubCatPack" disable-output-escaping="yes" />
              </xsl:otherwise>
            </xsl:choose>
            <ul data-role="listview">
              <li class="group" data-role="list-divider"></li>
            </ul>
          </xsl:if>


          
				<xsl:if test="count(/root/Products/Product) > 0">
          <ul data-role="listview" data-split-icon="arrow-r" class="productList">
            <xsl:apply-templates select="/root/Products/Product" />
          </ul>
				</xsl:if>
				<xsl:call-template name="Paging" />
			</xsl:template>


			<!-- Entity -->
			<xsl:template match="Entity">
				<xsl:variable name="scName" select="aspdnsf:GetMLValue(Name)"></xsl:variable>
				<li>
					<a href="{aspdnsf:EntityLink(EntityID, SEName, $EntityName, 0, '')}">
						<xsl:value-of select="$scName" disable-output-escaping="yes"/>
					</a>
				</li>
			</xsl:template>


		</xsl:stylesheet>
	</PackageTransform>
</package>
