<?xml version="1.0" standalone="yes" ?>
<!-- ##################################################################################	-->
<!-- Copyright AspDotNetStorefront.com. All Rights Reserved.							-->
<!-- http://www.aspdotnetstorefront.com													-->
<!-- For details on this license please visit the product homepage at the URL above.	-->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.												-->
<!-- ##################################################################################	-->

<package version="2.1" displayname="Category Page" debug="false" includeentityhelper="true">

  <query name="Products" rowElementName="Product">
    <sql>
      <![CDATA[
                exec aspdnsf_GetProducts 
                    @categoryID = @CatID,
                    @sectionID = @SecID,
                    @manufacturerID = @ManID,
                    @distributorID = @DistID,
                    @genreID = @GenreID,
                    @vectorID = @VectorID,
                    @localeName = @locale,
                    @CustomerLevelID = @CustLevelID,
                    @affiliateID = @AffID,
                    @ProductTypeID = @ProdTypeID, 
                    @ViewType = 1,
                    @pagenum = @pgnum,
                    @pagesize = null,
                    @StatsFirst = 0,
                    @publishedonly = 1,
                    @ExcludePacks = 0,
                    @ExcludeKits = 0,
                    @ExcludeSysProds = 0,
                    @InventoryFilter = @InvFilter,
                    @sortEntityName = @entityname
            ]]>
    </sql>
    <queryparam paramname="@CatID" paramtype="runtime" requestparamname="CatID" sqlDataType="int" defvalue="0"  validationpattern="" />
    <queryparam paramname="@SecID" paramtype="runtime" requestparamname="SecID" sqlDataType="int" defvalue="0"  validationpattern="" />
    <queryparam paramname="@ManID" paramtype="runtime" requestparamname="ManID" sqlDataType="int" defvalue="0"  validationpattern="" />
    <queryparam paramname="@DistID" paramtype="runtime" requestparamname="DistID" sqlDataType="int" defvalue="0"  validationpattern="" />
    <queryparam paramname="@GenreID" paramtype="runtime" requestparamname="GenreID" sqlDataType="int" defvalue="0"  validationpattern="" />
    <queryparam paramname="@VectorID" paramtype="runtime" requestparamname="VectorID" sqlDataType="int" defvalue="0"  validationpattern="" />
    <queryparam paramname="@locale" paramtype="runtime" requestparamname="LocaleSetting" sqlDataType="varchar" defvalue="en-US"  validationpattern="" />
    <queryparam paramname="@CustLevelID" paramtype="runtime" requestparamname="CustomerLevelID" sqlDataType="int" defvalue="0"  validationpattern="" />
    <queryparam paramname="@AffID" paramtype="runtime" requestparamname="AffiliateID" sqlDataType="int" defvalue="0"  validationpattern="" />
    <queryparam paramname="@ProdTypeID" paramtype="runtime" requestparamname="ProductTypeFilterID" sqlDataType="int" defvalue="1"  validationpattern="" />
    <queryparam paramname="@pgnum" paramtype="request" requestparamname="pagenum" sqlDataType="int" defvalue="1"  validationpattern="" />
    <queryparam paramname="@InvFilter" paramtype="appconfig" requestparamname="HideProductsWithLessThanThisInventoryLevel" sqlDataType="int" defvalue="0"  validationpattern="" />
    <queryparam paramname="@entityname" paramtype="runtime" requestparamname="EntityName" sqlDataType="varchar" defvalue=""  validationpattern="" />
  </query>

  <PackageTransform>

    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
      <xsl:output method="html" omit-xml-declaration="yes" />

      <xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
      <xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />
      <xsl:param name="ShowSubcatsInGrid">
        <xsl:value-of select="aspdnsf:AppConfig('ShowSubcatsInGrid')" />
      </xsl:param>
      <xsl:param name="SubcatGridCols">
        <xsl:value-of select="/root/EntityHelpers/*[name()=/root/Runtime/EntityName]/descendant::Entity[EntityID=/root/Runtime/EntityID]/ColWidth" />
      </xsl:param>
      <xsl:param name="EntityName">
        <xsl:value-of select="/root/Runtime/EntityName" />
      </xsl:param>
      <xsl:param name="EntityID">
        <xsl:value-of select="/root/Runtime/EntityID" />
      </xsl:param>
      <xsl:param name="WholesaleOnlySite">
        <xsl:value-of select="aspdnsf:AppConfig('WholesaleOnlySite')"/>
      </xsl:param>

      <xsl:param name="BaseURL">
        <xsl:choose>
          <xsl:when test="aspdnsf:StrToLower(/root/Runtime/EntityName) = 'category'">
            <![CDATA[c-]]><xsl:value-of select="/root/Runtime/EntityID" />-<xsl:value-of select="/root/QueryString/sename" /><![CDATA[.aspx]]>
          </xsl:when>
          <xsl:when test="aspdnsf:StrToLower(/root/Runtime/EntityName) = 'section'">
            <![CDATA[s-]]><xsl:value-of select="/root/Runtime/EntityID" />-<xsl:value-of select="/root/QueryString/sename" /><![CDATA[.aspx]]>
          </xsl:when>
          <xsl:when test="aspdnsf:StrToLower(/root/Runtime/EntityName) = 'manufacturer'">
            <![CDATA[m-]]><xsl:value-of select="/root/Runtime/EntityID" />-<xsl:value-of select="/root/QueryString/sename" /><![CDATA[.aspx]]>
          </xsl:when>
          <xsl:when test="aspdnsf:StrToLower(/root/Runtime/EntityName) = 'library'">
            <![CDATA[l-]]><xsl:value-of select="/root/Runtime/EntityID" />-<xsl:value-of select="/root/QueryString/sename" /><![CDATA[.aspx]]>
          </xsl:when>
        </xsl:choose>
      </xsl:param>

      <xsl:param name="CurrentPage">
        <xsl:choose>
          <xsl:when test="/root/QueryString/pagenum">
            <xsl:value-of select="/root/QueryString/pagenum" />
          </xsl:when>
          <xsl:otherwise>1</xsl:otherwise>
        </xsl:choose>
      </xsl:param>

      <xsl:template match="/">
        <div id="entityPageHeader">
          <xsl:value-of select="aspdnsf:EntityPageHeaderDescription($EntityName, $EntityID)" disable-output-escaping="yes" />
        </div>
        <xsl:call-template name="SubEntity" />
        <xsl:choose>
          <xsl:when test="count(/root/Products/Product) = 0 and count(/root/EntityHelpers/*[name()=/root/Runtime/EntityName]/descendant::Entity[EntityID=/root/Runtime/EntityID]/Entity) = 0">
            <xsl:value-of select="aspdnsf:Topic(concat('empty', /root/Runtime/EntityName, 'text'))" disable-output-escaping="yes" />
          </xsl:when>
          <xsl:otherwise>
            <div id="pagingControl1">
              <xsl:value-of select="aspdnsf:PagingControl($BaseURL, $CurrentPage, /root/Products2/Product/pages)" disable-output-escaping="yes" />
            </div>
            <div id="products">
              <xsl:apply-templates select="/root/Products/Product" />
            </div>
            <div id="pagingControl2">
              <xsl:value-of select="aspdnsf:PagingControl($BaseURL, $CurrentPage, /root/Products2/Product/pages)" disable-output-escaping="yes" />
            </div>
          </xsl:otherwise>
        </xsl:choose>
      </xsl:template>

      <xsl:template name="SubEntity">
        <xsl:for-each select="/root/EntityHelpers/*[name()=/root/Runtime/EntityName]/descendant::Entity[ParentEntityID=/root/Runtime/EntityID]">

          <xsl:choose>
            <xsl:when test="$ShowSubcatsInGrid = 'true'">
              <xsl:if test="position() mod $SubcatGridCols = 1 or ($SubcatGridCols = 1)">
                <xsl:for-each select=". | following-sibling::*[position() &lt; $SubcatGridCols]">
                  <xsl:variable name="scName">
                    <xsl:choose>
                      <xsl:when test="count(Name/ml/locale[@name=$LocaleSetting])!=0">
                        <xsl:value-of select="Name/ml/locale[@name=$LocaleSetting]"/>
                      </xsl:when>
                      <xsl:when test="count(Name/ml/locale[@name=$WebConfigLocaleSetting]) !=0 ">
                        <xsl:value-of select="Name/ml/locale[@name=$WebConfigLocaleSetting]"/>
                      </xsl:when>
                      <xsl:when test="count(Name/ml)=0">
                        <xsl:value-of select="Name"/>
                      </xsl:when>
                    </xsl:choose>
                  </xsl:variable>
                  <div id="subCatCell">
                    <xsl:call-template name="SubCatCell">
                      <xsl:with-param name="scName" select="$scName" />
                    </xsl:call-template>
                  </div>
                </xsl:for-each>
              </xsl:if>
            </xsl:when>
            <xsl:otherwise>
              <xsl:variable name="scName">
                <xsl:choose>
                  <xsl:when test="count(Name/ml/locale[@name=$LocaleSetting])!=0">
                    <xsl:value-of select="Name/ml/locale[@name=$LocaleSetting]"/>
                  </xsl:when>
                  <xsl:when test="count(Name/ml/locale[@name=$WebConfigLocaleSetting]) !=0 ">
                    <xsl:value-of select="Name/ml/locale[@name=$WebConfigLocaleSetting]"/>
                  </xsl:when>
                  <xsl:when test="count(Name/ml)=0">
                    <xsl:value-of select="Name"/>
                  </xsl:when>
                </xsl:choose>
              </xsl:variable>
              <span class="entityCategory">
                <a href="{aspdnsf:EntityLink(EntityID, SEName, $EntityName, 0, '')}">
                  <xsl:value-of select="$scName" disable-output-escaping="yes"/>
                </a>
                <xsl:if test="position() != last()">,&#160;</xsl:if>
              </span>
            </xsl:otherwise>
          </xsl:choose>
        </xsl:for-each>
      </xsl:template>

      <xsl:template name="SubCatCell">
        <xsl:param name="scName"></xsl:param>

        <xsl:param name="URL">
          <xsl:value-of select="aspdnsf:EntityLink(EntityID, SEName, $EntityName, 0, '')" />
        </xsl:param>

        <a href="{$URL}">
          <xsl:value-of select="aspdnsf:LookupEntityImage(EntityID, $EntityName, 'icon', 0)" disable-output-escaping="yes" />
        </a>
        
        <a href="{$URL}">
          <xsl:value-of select="$scName" disable-output-escaping="yes"/>
        </a>
      </xsl:template>

      <xsl:template match="Product">
        <xsl:param name="pName" select="aspdnsf:GetMLValue(Name)"></xsl:param>
        <xsl:param name="pDescription" select="aspdnsf:GetMLValue(Description)"></xsl:param>
        <xsl:param name="pSalesPromptName" select="aspdnsf:GetMLValue(SalesPromptName)"></xsl:param>
        <xsl:param name="URL">
          <xsl:value-of select="aspdnsf:ProductandEntityLink(ProductID, SEName, $EntityID, $EntityName, 0)" disable-output-escaping="yes" />
        </xsl:param>

        <xsl:choose>
          <xsl:when test="position() &lt;= 4">
            <xsl:if test="position() = 1">
              <h3>Top Sellers</h3>
            </xsl:if>
            <div class="topFeature">
              <div class="topFeatureP">
                <a href="{$URL}">
                  <xsl:value-of select="aspdnsf:LookupProductImage(ProductID, ImageFileNameOverride, SKU, 'icon', 0)" disable-output-escaping="yes" />
                </a>
                
                <p>
                  <span class="topName">
                    <a href="{$URL}">
                      <xsl:value-of select="$pName" disable-output-escaping="yes"/>
                    </a>
                  </span>
                  
                  <span class="topDescription">
                    <xsl:value-of select="$pDescription" disable-output-escaping="yes" />
                  </span>
                  <xsl:choose>
                    <xsl:when test="MiscText = 'SHOW INVENTORY'">
                      <xsl:value-of select="aspdnsf:StringResource('searchadv.aspx.20')" disable-output-escaping="yes" />
                      <xsl:value-of select="Inventory" />
                    </xsl:when>
                    <xsl:otherwise>
                      In Stock: <xsl:choose>
                        <xsl:when test="number(Inventory)>0">
                          <span class="topInStock">
                            <xsl:value-of select="aspdnsf:StringResource('searchadv.aspx.5')" disable-output-escaping="yes" />
                          </span>
                        </xsl:when>
                        <xsl:otherwise>
                          <span class="topOutStock">
                            <xsl:value-of select="aspdnsf:StringResource('searchadv.aspx.6')" disable-output-escaping="yes" />
                          </span>
                        </xsl:otherwise>
                      </xsl:choose>
                    </xsl:otherwise>
                  </xsl:choose>
                  
                  <span class="topPrice">
                  <xsl:value-of select="aspdnsf:GetVariantPrice(VariantID, number(HidePriceUntilCart), Price, SalePrice, ExtendedPrice, Points, $pSalesPromptName, TaxClassID)" disable-output-escaping="yes" />
                  </span>
                </p>
              </div>
            </div>
            <xsl:if test="position() = 4">
              <div id="entitySep">
                <h3>Featured Products</h3>
              </div>
            </xsl:if>
          </xsl:when>
          <xsl:otherwise>
            <div class="btmP">
              <xsl:choose>
                <xsl:when test="position() mod 2 = 0">
                  <xsl:attribute name="style">
                    <![CDATA[background-color:#eee;border:1px solid #ddd;]]>
                  </xsl:attribute>
                </xsl:when>
                <xsl:otherwise>
                  <xsl:attribute name="style">
                    <![CDATA[border:1px solid #eee;]]>
                  </xsl:attribute>
                </xsl:otherwise>
              </xsl:choose>
              <a href="{$URL}">
                <xsl:value-of select="aspdnsf:LookupProductImage(ProductID, ImageFileNameOverride, SKU, 'icon', 0)" disable-output-escaping="yes" />
              </a>
              <a href="{$URL}">
                <span class="btmName">
                  <xsl:value-of select="$pName" disable-output-escaping="yes"/>
                </span>
              </a>
              <span class="btmDescription">
                <xsl:value-of select="$pDescription" disable-output-escaping="yes" />
              </span>
              <xsl:choose>
                <xsl:when test="MiscText = 'SHOW INVENTORY'">
                  <xsl:value-of select="aspdnsf:StringResource('searchadv.aspx.20')" disable-output-escaping="yes" />
                  <xsl:value-of select="Inventory" />
                </xsl:when>
                <xsl:otherwise>
                  In Stock:
                  <xsl:choose>
                    <xsl:when test="number(Inventory)>0">
                      <span class="btmInStock">
                        <xsl:value-of select="aspdnsf:StringResource('searchadv.aspx.5')" disable-output-escaping="yes" />
                      </span>
                    </xsl:when>
                    <xsl:otherwise>
                      <span class="btmOutStock">
                        <xsl:value-of select="aspdnsf:StringResource('searchadv.aspx.6')" disable-output-escaping="yes" />
                      </span>
                    </xsl:otherwise>
                  </xsl:choose>

                </xsl:otherwise>
              </xsl:choose>
              <span class="btmPrice">
                <xsl:value-of select="aspdnsf:GetVariantPrice(VariantID, number(HidePriceUntilCart), Price, SalePrice, ExtendedPrice, Points, $pSalesPromptName, TaxClassID)" disable-output-escaping="yes" />
              </span>
            </div>
          </xsl:otherwise>
        </xsl:choose>
      </xsl:template>
    </xsl:stylesheet>
  </PackageTransform>
</package>
