<?xml version="1.0" standalone="yes" ?>
<!-- ##################################################################################	-->
<!-- Copyright AspDotNetStorefront.com. All Rights Reserved.							-->
<!-- http://www.aspdotnetstorefront.com													-->
<!-- For details on this license please visit the product homepage at the URL above.	-->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.												-->
<!-- ##################################################################################	-->
<package version="2.1" displayname="Categories" debug="false" includeentityhelper="true">
    <PackageTransform>
        <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
            <xsl:output method="html" omit-xml-declaration="yes"/>

            <xsl:param name="AncestorID">
                <xsl:for-each select="/root/EntityHelpers/Category//Entity[EntityID = $CategoryID]">
                    <xsl:value-of select="ancestor::*/EntityID"/>
                </xsl:for-each>
            </xsl:param>

            <xsl:param name="ParentID">
                <xsl:for-each select="/root/EntityHelpers/Category//Entity[EntityID = $CategoryID]">
                    <xsl:value-of select="parent::*/EntityID"/>
                </xsl:for-each>
            </xsl:param>

            <xsl:param name="CategoryID">
                <xsl:choose>
                    <xsl:when test="/root/QueryString/categoryid">
                        <xsl:value-of select="/root/QueryString/categoryid"/>
                    </xsl:when>
                    <xsl:otherwise>0</xsl:otherwise>
                </xsl:choose>
            </xsl:param>

            <xsl:template match="/">

                    <xsl:for-each select="/root/EntityHelpers/Category/Entity">
                        <xsl:sort select="DisplayOrder"/>
                        <xsl:sort select="Name"/>
                        <xsl:sort select="EntityID"/>
                      <table class="menu_border_categprytype" width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td align="left">
                            <table class="menu_border_categprytype" width="100%" border="0" cellpadding="0" cellspacing="1">
                              <tr class="menu_header_tr">
                                <td width="100%" onclick="location.href='#'" style="cursor: pointer;" onmouseover="this.className='menu_header_td_over';" onmouseout="this.className='menu_header_td';" class="menu_header_td">
                                  <table width="100%" border="0" cellpadding="2" cellspacing="0">
                                    <tr class="menu_header_tr_inner">
                                      <td class="menu_header_td_inner">
                                        <xsl:element name="a">
                                          <xsl:attribute name="class">
                                            <![CDATA[menu_categorytype]]>
                                          </xsl:attribute>
                                          <xsl:attribute name="href">
                                            <xsl:value-of select="concat('c-',EntityID,'-',SEName,'.aspx')"/>
                                          </xsl:attribute>
                                          <xsl:value-of select="aspdnsf:GetMLValue(Name)"/>
                                        </xsl:element>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                            <tr>
                              <td class="menu_body_categprytype" valign="top" height="100%">
                                <table class="menu_body_categprytype" width="100%" border="0" cellpadding="1" cellspacing="0">
 
                        <xsl:if test="(EntityID = $CategoryID) or (EntityID = $AncestorID)">

                            <xsl:for-each select="descendant::Entity[(descendant::ParentEntityID = $CategoryID) or (descendant::EntityID = $CategoryID)]">
                              
                                <xsl:sort select="DisplayOrder"/>
                                <xsl:sort select="Name"/>
                                <xsl:sort select="EntityID"/>
                              <xsl:variable name="EntityID" select="EntityID"/>

                              <tr class="menu_category_tr" style="cursor:pointer" onClick="location.href='#'">
                                <td onmouseover="this.className='menu_category_td_over';" onmouseout="this.className='menu_category_td';" class="menu_category_td">
                                  <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                    <tr class="menu_category_tr_inner">
                                      <td class="menu_category_td_inner" width="100%">

                                        <xsl:call-template name="Space">
                                          <xsl:with-param name="count" select="count(ancestor::*/Entity[(descendant::EntityID = $EntityID)]) - 1"/>
                                        </xsl:call-template>
                                        <xsl:element name="a">
                                          <xsl:attribute name="class">
                                            <![CDATA[menu_category]]>
                                          </xsl:attribute>
                                          <xsl:attribute name="href">
                                            <xsl:value-of select="concat('c-',EntityID,'-',SEName,'.aspx')"/>
                                          </xsl:attribute>
                                          <xsl:value-of select="Name"/>
                                        </xsl:element>
                                      </td>
                                      <td></td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </xsl:for-each>

                        </xsl:if>
                    </table>
                  </td>
                  </tr>
                 </table>
              </xsl:for-each>

            </xsl:template>

            <xsl:template name="Space">
                <xsl:param name="count" select="1"/>
                <xsl:if test="$count > 0">
                    <xsl:text>&#160;</xsl:text>
                    <xsl:call-template name="Space">
                        <xsl:with-param name="count" select="$count - 1"/>
                    </xsl:call-template>
                </xsl:if>
            </xsl:template>

        </xsl:stylesheet>
    </PackageTransform>
</package>
