<?xml version="1.0" standalone="yes" ?>
<!-- ##################################################################################	-->
<!-- Copyright AspDotNetStorefront.com. All Rights Reserved.							-->
<!-- http://www.aspdotnetstorefront.com													-->
<!-- For details on this license please visit the product homepage at the URL above.	-->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.												-->
<!-- ##################################################################################	-->

<package version="2.1" displayname="Categories" debug="false" includeentityhelper="true">
  <PackageTransform>

    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
      <xsl:output method="html" omit-xml-declaration="yes"/>

      <xsl:template match="/">
        <xsl:for-each select="/root/EntityHelpers/Category/Entity">
            <xsl:sort select="DisplayOrder"/>
            <xsl:sort select="Name"/>

            <xsl:element name="li">

            <xsl:element name="a">
              <xsl:attribute name="href">
                <xsl:value-of select="concat('c-',EntityID,'-',SEName,'.aspx')"/>
              </xsl:attribute>
              <xsl:value-of select="aspdnsf:GetMLValue(Name)"/>
            </xsl:element>

          </xsl:element>

        </xsl:for-each>
      </xsl:template>

    </xsl:stylesheet>
  </PackageTransform>
</package>
