<?xml version="1.0" standalone="yes" ?>
<!-- ##################################################################################	-->
<!-- Copyright AspDotNetStorefront.com. All Rights Reserved.							-->
<!-- http://www.aspdotnetstorefront.com													-->
<!-- For details on this license please visit the product homepage at the URL above.	-->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.												-->
<!-- ##################################################################################	-->
<package version="2.1" displayname="Mobile Upsell Products" debug="false" includeentityhelper="false">

  <query name="UpsellProducts" rowElementName="Item" runif="Productid">
    <sql>
      <![CDATA[
				          exec aspdnsf_GetUpsellProducts @productID, @customerlevelID, @invFilter, @storeID, @FilterProduct
            ]]>
    </sql>
    <queryparam paramname="@productid"        paramtype="runtime"   requestparamname="Productid"                                  sqlDataType="int"   defvalue="0"  validationpattern="" />
    <queryparam paramname="@CustomerLevelID"  paramtype="runtime"   requestparamname="CustomerLevelID"                            sqlDataType="int"   defvalue="0"  validationpattern="" />
    <queryparam paramname="@InvFilter"        paramtype="appconfig" requestparamname="HideProductsWithLessThanThisInventoryLevel" sqlDataType="int"   defvalue="0"  validationpattern="" />
    <queryparam paramname="@StoreID"		      paramtype="runtime"   requestparamname="StoreID"									                  sqlDataType="int"   defvalue="1"  validationpattern="" />
    <queryparam paramname="@FilterProduct"    paramtype="runtime"   requestparamname="FilterProduct"										           sqlDataType="bit"	defvalue="0"  validationpattern="" />
  </query>

    <PackageTransform>
        <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
            <xsl:output method="html" omit-xml-declaration="yes" />
            <xsl:template match="/">
                <xsl:if test="count(/root/UpsellProducts/Item) &gt; 0">
                  <ul data-role="listview">
						        <li class="group" data-role="list-divider">
							        <xsl:value-of select="aspdnsf:StringResource('Mobile.Upsell.Title')" />	
						        </li>
						        <li>
							        (!XmlPackage name="mobile.productslider" products="<xsl:apply-templates select="/root/UpsellProducts/Item" />" id="Upsell"!)
						        </li>
					        </ul>
                </xsl:if>
            </xsl:template>

			<xsl:template match="Item">
				<xsl:if test="position() != 1">
					<xsl:text>,</xsl:text>
				</xsl:if>
				<xsl:value-of select="ProductID" />
			</xsl:template>
			
        </xsl:stylesheet>
    </PackageTransform>
</package>

