<?xml version="1.0" encoding="utf-8" standalone="yes" ?>
<!-- ##################################################################################	-->
<!-- Copyright AspDotNetStorefront.com. All Rights Reserved.							-->
<!-- http://www.aspdotnetstorefront.com													-->
<!-- For details on this license please visit the product homepage at the URL above.	-->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.												-->
<!-- ##################################################################################	-->

<package nopass2="false" nosystem="false">
  <query name="EntityMgr" rowElementName="Entity">
    <sql>
      <![CDATA[
                exec aspdnsf_EntityMgr @EntityName, @PublishedOnly
            ]]>
    </sql>
    <queryparam paramname="@EntityName" paramtype="runtime" requestparamname="EntityName" sqlDataType="varchar" defvalue=""  validationpattern=""/>
    <queryparam paramname="@PublishedOnly" paramtype="runtime" requestparamname="PublishedOnly" sqlDataType="tinyint" defvalue="0"  validationpattern=""/>
  </query>
  <query name="StoreEntity" rowElementName="Map" runif="FilterByStore">
    <sql>
      <![CDATA[
                select EntityID from EntityStore where LOWER(EntityType) = LOWER(@EntityName) and StoreID = @StoreID
            ]]>
    </sql>
    <queryparam paramname="@EntityName" paramtype="runtime" requestparamname="EntityName" sqlDataType="varchar" defvalue=""  validationpattern=""/>
    <queryparam paramname="@StoreID" paramtype="runtime" requestparamname="CurrentStoreID" sqlDataType="int" defvalue="0"  validationpattern=""/>
  </query>
    <PackageTransform>
        <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform">
            <xsl:output method="xml" standalone="yes" omit-xml-declaration="yes" indent="no"  />

            <xsl:param name="FilterByStore" select="/root/Runtime/FilterByStore = 'true'" />

            <xsl:key name="parentID" match="Entity" use="ParentEntityID"/>
            <xsl:template match="root">
                <root>
                    <xsl:for-each select="EntityMgr">
                        <xsl:call-template name="entityTmpl">
                            <xsl:with-param name="psectionid" select="0"></xsl:with-param>
                        </xsl:call-template>
                    </xsl:for-each>
                </root>
            </xsl:template>
            
            <xsl:template name="entityTmpl">
                <xsl:param name="psectionid"></xsl:param>
                <xsl:for-each select="key('parentID', $psectionid)">
                    <xsl:sort select="DisplayOrder" data-type="number"/>
                    <xsl:sort select="Name" />
                    <xsl:if test="not($FilterByStore) or EntityID = /root/StoreEntity/Map/EntityID">
                      <xsl:copy>
                        <xsl:copy-of select="EntityID"/>
                        <xsl:copy-of select="XmlPackage"/>
                        <xsl:copy-of select="Name"/>
                        <xsl:copy-of select="ColWidth"/>
                        <xsl:copy-of select="ParentEntityID"/>
                        <xsl:copy-of select="Description" />
                        <xsl:copy-of select="DisplayOrder"/>
                        <xsl:copy-of select="Published"/>
                        <xsl:copy-of select="SEName"/>
                        <xsl:copy-of select="PageSize"/>
                        <xsl:copy-of select="SETitle"/>
                        <xsl:copy-of select="SEAltText"/>
                        <xsl:copy-of select="SEDescription"/>
                        <xsl:copy-of select="SEKeywords"/>
                        <xsl:copy-of select="SENoScript"/>
                        <xsl:copy-of select="TemplateName"/>
                        <xsl:call-template name="entityTmpl">
                            <xsl:with-param name="psectionid" select="EntityID"></xsl:with-param>
                        </xsl:call-template>
                    </xsl:copy>
                  </xsl:if>
                </xsl:for-each>
            </xsl:template>

        </xsl:stylesheet>
    </PackageTransform>
</package>
