<?xml version="1.0" standalone="yes" ?>
<!-- ##################################################################################	-->
<!-- Copyright AspDotNetStorefront.com. All Rights Reserved.							-->
<!-- http://www.aspdotnetstorefront.com													-->
<!-- For details on this license please visit the product homepage at the URL above.	-->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.												-->
<!-- ##################################################################################	-->
<!-- ##################################################################################	-->
<!-- Copyright AspDotNetStorefront.com. All Rights Reserved.							-->
<!-- http://www.aspdotnetstorefront.com													-->
<!-- For details on this license please visit the product homepage at the URL above.	-->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.												-->
<!-- ##################################################################################	-->
<package version="2.1" displayname="Customers Also Bought These Products" debug="false" includeentityhelper="false">
	<query name="AlsoBought" rowElementName="Item">
		<sql>
			<![CDATA[
				exec aspdnsf_GetCustomersAlsoBoughtProducts 
					@NumProductToDisplay,
					@productid,
					@CustomerLevelID,
					@InvFilter,
					@affiliateID,
					@storeID,
					@FilterProduct
            ]]>
		</sql>
		<queryparam paramname="@ProductID"				paramtype="runtime"   requestparamname="ProductID"                                  sqlDataType="int" defvalue="0"		validationpattern="" />
		<queryparam paramname="@CustomerLevelID"		paramtype="system"    requestparamname="CustomerLevelID"                            sqlDataType="int" defvalue="0"		validationpattern="" />
		<queryparam paramname="@InvFilter"				paramtype="appconfig" requestparamname="HideProductsWithLessThanThisInventoryLevel" sqlDataType="int" defvalue="0"		validationpattern="" />
		<queryparam paramname="@NumProductToDisplay"	paramtype="appconfig" requestparamname="AlsoBoughtNumberToDisplay"					sqlDataType="int" defvalue="0"		validationpattern="" />
		<queryparam paramname="@affiliateID"            paramtype="system"    requestparamname="AffiliateID"                                sqlDataType="int" defvalue="0"      validationpattern="" />
		<queryparam paramname="@StoreID"				paramtype="runtime"   requestparamname="StoreID"									sqlDataType="int" defvalue="1"		validationpattern="" />
		<queryparam paramname="@FilterProduct"   paramtype="runtime"   requestparamname="FilterProduct"										           sqlDataType="bit"	    defvalue="0"  validationpattern="" />
	</query>


	<PackageTransform>
		<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
			<xsl:output method="html" omit-xml-declaration="yes" />

			<xsl:param name="AlsoBoughtProductsGridColWidth" select="aspdnsf:AppConfig('AlsoBoughtProductsGridColWidth')"></xsl:param>

			<xsl:variable name="ProductIdsOnPage">
				<xsl:for-each select="/root/AlsoBought/Item/ProductID">
					<xsl:value-of select="." />
					<xsl:if test="position() != last()">
						<xsl:text>,</xsl:text>
					</xsl:if>
				</xsl:for-each>
			</xsl:variable>
			<xsl:variable name="AvailablePromotions" select="aspdnsf:XmlPackageAsXml('availablePromotions.xml.config', concat('productIdList=', $ProductIdsOnPage))/root/Promotions" />

			<xsl:template match="/">
				<xsl:if test="count(/root/AlsoBought/Item) &gt; 0">
					<div class="also-bought-products other-products-wrap">
						<div class="group-header also-bought-items-header other-products-header">
							<xsl:value-of select="aspdnsf:StringResource('Header.AlsoBoughtHeader')" disable-output-escaping="yes" />
						</div>
						<div class="page-row also-bought-item-row">
							<xsl:apply-templates select="/root/AlsoBought/Item" />
						</div>
					</div>
				</xsl:if>
			</xsl:template>

			<xsl:template match="Item">
				<xsl:variable name="Name" select="aspdnsf:GetMLValue(Name)"></xsl:variable>
				<xsl:variable name="SalesPromptName" select="aspdnsf:GetMLValue(SalesPromptName)"></xsl:variable>
				<xsl:variable name="SEAltText" select="aspdnsf:GetMLValue(SEAltText)"></xsl:variable>
				<xsl:variable name="AltText">
					<xsl:choose>
						<xsl:when test="$SEAltText=''">
							<xsl:value-of select="$Name" />
						</xsl:when>
						<xsl:otherwise>
							<xsl:value-of select="$SEAltText" />
						</xsl:otherwise>
					</xsl:choose>
				</xsl:variable>
				<xsl:variable name="ProductID" select="ProductID" />
				<xsl:variable name="IsRecurring" select="HasRecurring" />
				<xsl:variable name="ProductLink" select="aspdnsf:ProductLink(ProductID, SEName, 0)" />
				<xsl:variable name="ImageUrl" select="aspdnsf:ImageUrl(ProductID, 'product', 'icon', 0)" />
				<xsl:variable name="GridItemCSSClassName">
					<xsl:choose>
						<xsl:when test="number($AlsoBoughtProductsGridColWidth) = 1">
							<xsl:text>full-width</xsl:text>
						</xsl:when>
						<xsl:when test="number($AlsoBoughtProductsGridColWidth) = 2">
							<xsl:text>one-half</xsl:text>
						</xsl:when>
						<xsl:when test="number($AlsoBoughtProductsGridColWidth) = 3">
							<xsl:text>one-third</xsl:text>
						</xsl:when>
						<xsl:when test="number($AlsoBoughtProductsGridColWidth) = 4">
							<xsl:text>one-fourth</xsl:text>
						</xsl:when>
						<xsl:when test="number($AlsoBoughtProductsGridColWidth) = 5">
							<xsl:text>one-fifth</xsl:text>
						</xsl:when>
						<xsl:when test="number($AlsoBoughtProductsGridColWidth) = 6">
							<xsl:text>one-sixth</xsl:text>
						</xsl:when>
						<xsl:otherwise>
							<xsl:text>one-fourth</xsl:text>
						</xsl:otherwise>
					</xsl:choose>
				</xsl:variable>
				<xsl:if test="position() mod $AlsoBoughtProductsGridColWidth = 1 and position() &gt; 1">
					<xsl:variable name="NewRowHtml">
						<xsl:text>&lt;/div&gt;&lt;div class="page-row also-bought-item-row"&gt;</xsl:text>
					</xsl:variable>
					<xsl:value-of select="$NewRowHtml" disable-output-escaping="yes" />
				</xsl:if>
				<div class="{$GridItemCSSClassName} product-grid-item also-bought-item">
					<div class="grid-item-inner">
						<div class="also-bought-item-image-wrap grid-item-image-wrap">
							<a href="{$ProductLink}">
								<img src="{$ImageUrl}" alt="{$AltText}" class="grid-item-image product-image also-bought-item-image" />
							</a>
						</div>
						<div class="also-bought-item-name-wrap grid-item-name-wrap">
							<a href="{$ProductLink}">
								<xsl:value-of select="$Name" disable-output-escaping="yes" />
							</a>
						</div>
						<xsl:if test="aspdnsf:AppConfigBool('DisplayOutOfStockProducts') = 'true'">
							<div class="also-bought-item-stock-wrap">
								<xsl:value-of select="aspdnsf:DisplayProductStockHint(ProductID,'Entity')" disable-output-escaping="yes" />
							</div>
						</xsl:if>
						<xsl:if test="$IsRecurring = 'True'">
							<div class="productCallToActionIsRecurring">
								<xsl:value-of select="aspdnsf:StringResource('product.CallToAction.IsRecurring')" disable-output-escaping="yes" />
							</div>
						</xsl:if>
						<xsl:apply-templates select="$AvailablePromotions/Promotion[ProductId=$ProductID]" />
					</div>
				</div>
			</xsl:template>

			<xsl:template match="Promotion">
				<div class="promotion-call-to-action">
					<xsl:value-of select="CallToAction" disable-output-escaping="yes" />
				</div>
			</xsl:template>

		</xsl:stylesheet>
	</PackageTransform>
</package>

