<?xml version="1.0" standalone="yes" ?>
<!-- ##################################################################################	-->
<!-- Copyright AspDotNetStorefront.com. All Rights Reserved.							-->
<!-- http://www.aspdotnetstorefront.com													-->
<!-- For details on this license please visit the product homepage at the URL above.	-->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.												-->
<!-- ##################################################################################	-->
<!-- This XML package displays products in a 1-column list with a quantity box for each and a single add to cart form at the bottom.  -->
<!-- Sub-entities are also displayed at the top in a list or grid, depending on the 'ShowSubcatsInGrid' AppConfig. -->
<!-- This package should not be used on responsive skins. -->
<package version="2.1" displayname="Entity Table Order Form" debug="false" includeentityhelper="true">
  <query name="Products" rowElementName="Product">
    <sql>
      <![CDATA[
				exec dbo.aspdnsf_GetProducts 
					@categoryID = @CatID,
					@sectionID = @SecID,
					@manufacturerID = @ManID,
					@distributorID = @DistID,
					@genreID = @GenreID,
					@vectorID = @VectorID,
					@localeName = @locale,
					@CustomerLevelID = @CustLevelID,
					@affiliateID = @AffID,
					@ProductTypeID = @ProdTypeID, 
					@ViewType = 1,
					@pagenum = @pgnum,
					@pagesize = null,
					@StatsFirst = 0,
					@publishedonly = 1,
					@ExcludePacks = 1,
					@ExcludeKits = 1,
					@ExcludeSysProds = 0,
					@InventoryFilter = @InvFilter,
					@sortEntityName = @entityname,
					@storeID = @StoreID,
					@filterProduct = @FilterProduct
			]]>
    </sql>
    <queryparam paramname="@CatID"          paramtype="runtime"     requestparamname="CatID"                                        sqlDataType="int"       defvalue="0"        validationpattern="" />
    <queryparam paramname="@SecID"          paramtype="runtime"     requestparamname="SecID"                                        sqlDataType="int"       defvalue="0"        validationpattern="" />
    <queryparam paramname="@ManID"          paramtype="runtime"     requestparamname="ManID"                                        sqlDataType="int"       defvalue="0"        validationpattern="" />
    <queryparam paramname="@DistID"         paramtype="runtime"     requestparamname="DistID"                                       sqlDataType="int"       defvalue="0"        validationpattern="" />
    <queryparam paramname="@GenreID"        paramtype="runtime"     requestparamname="GenreID"                                      sqlDataType="int"       defvalue="0"        validationpattern="" />
    <queryparam paramname="@VectorID"       paramtype="runtime"     requestparamname="VectorID"                                     sqlDataType="int"       defvalue="0"        validationpattern="" />
    <queryparam paramname="@locale"         paramtype="system"      requestparamname="LocaleSetting"                                sqlDataType="varchar"   defvalue="en-US"    validationpattern="" />
    <queryparam paramname="@CustLevelID"    paramtype="system"      requestparamname="CustomerLevelID"                              sqlDataType="int"       defvalue="0"        validationpattern="" />
    <queryparam paramname="@AffID"          paramtype="system"      requestparamname="AffiliateID"                                  sqlDataType="int"       defvalue="0"        validationpattern="" />
    <queryparam paramname="@ProdTypeID"     paramtype="runtime"     requestparamname="ProductTypeFilterID"                          sqlDataType="int"       defvalue="1"        validationpattern="" />
    <queryparam paramname="@pgnum"          paramtype="request"     requestparamname="pagenum"                                      sqlDataType="int"       defvalue="1"        validationpattern="" />
    <queryparam paramname="@InvFilter"      paramtype="appconfig"   requestparamname="HideProductsWithLessThanThisInventoryLevel"   sqlDataType="int"       defvalue="0"        validationpattern="" />
    <queryparam paramname="@entityname"     paramtype="runtime"     requestparamname="EntityName"                                   sqlDataType="varchar"   defvalue=""         validationpattern="" />
    <queryparam paramname="@StoreID"		paramtype="runtime"		requestparamname="StoreID"										sqlDataType="int"		defvalue="1"		validationpattern="" />
    <queryparam paramname="@FilterProduct"  paramtype="runtime"   requestparamname="FilterProduct"										          sqlDataType="bit"	    defvalue="0"      validationpattern="" />
  </query>


  <PackageTransform>

    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
      <xsl:output method="html" omit-xml-declaration="yes" />

      <xsl:variable name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
      <xsl:variable name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />
      <xsl:variable name="EntityName" select="/root/Runtime/EntityName" />
      <xsl:variable name="EntityID" select="/root/Runtime/EntityID" />
      <xsl:variable name="ShowSubcatsInGrid" select="aspdnsf:AppConfig('ShowSubcatsInGrid')" />
      <xsl:variable name="ShowSummaryInTableOrderFormat" select="aspdnsf:AppConfig('ShowSummaryInTableOrderFormat')" />
      <xsl:variable name="WholesaleOnlySite" select="aspdnsf:AppConfig('WholesaleOnlySite')" />
      <xsl:variable name="CurrentEntity" select="/root/EntityHelpers/*[name()=$EntityName]/descendant::Entity[EntityID=$EntityID]" />

      <!-- Determine the right CSS class to use on grid items on this page based on the number of columns that will display -->
      <xsl:param name="SubcatGridCols" select="number($CurrentEntity/ColWidth)" />
      <xsl:param name="GridItemsCssClassName">
        <xsl:choose>
          <xsl:when test="$SubcatGridCols = 1">full-width</xsl:when>
          <xsl:when test="$SubcatGridCols = 2">one-half</xsl:when>
          <xsl:when test="$SubcatGridCols = 3">one-third</xsl:when>
          <xsl:when test="$SubcatGridCols = 4">one-fourth</xsl:when>
          <xsl:when test="$SubcatGridCols = 5">one-fifth</xsl:when>
          <xsl:when test="$SubcatGridCols = 6">one-sixth</xsl:when>
          <xsl:otherwise>one-fourth</xsl:otherwise>
        </xsl:choose>
      </xsl:param>

      <xsl:variable name="BaseURL" select="aspdnsf:EntityLink(/root/Runtime/EntityID, $CurrentEntity/SEName, /root/Runtime/EntityName, 0)" />

      <xsl:variable name="CurrentPage">
        <xsl:choose>
          <xsl:when test="/root/QueryString/pagenum">
            <xsl:value-of select="/root/QueryString/pagenum" />
          </xsl:when>
          <xsl:otherwise>1</xsl:otherwise>
        </xsl:choose>
      </xsl:variable>

      <xsl:variable name="ProductIdsOnPage">
        <xsl:for-each select="/root/Products/Product/ProductID">
          <xsl:value-of select="." />
          <xsl:if test="position() != last()">
            <xsl:text>,</xsl:text>
          </xsl:if>
        </xsl:for-each>
      </xsl:variable>

      <xsl:variable name="AvailablePromotions" select="aspdnsf:XmlPackageAsXml('availablePromotions.xml.config', concat('productIdList=', $ProductIdsOnPage))/root/Promotions" />

      <!-- This is the main template for this package.  It runs regardless of whether or not this entity contains any sub-entities or products. -->
      <xsl:template match="/">
        <script type="text/javascript" Language="JavaScript">
          <![CDATA[
				function TableOrderForm_Validator(theForm){
					return (true);
				}
			]]>
        </script>
        <div class="page-wrap entity-page table-order-page">
          <h1 class="entity-page-header table-order-header">
            <xsl:value-of select="aspdnsf:GetMLValue($CurrentEntity/Name)" disable-output-escaping="yes" />
          </h1>
          <div class="entity-description-wrap">
            <xsl:value-of select="aspdnsf:EntityPageHeaderDescription($EntityName, $EntityID)" disable-output-escaping="yes" />
          </div>
          <xsl:choose>
            <xsl:when test="$ShowSubcatsInGrid = 'true'">
              <div class="sub-entity-grid">
                <div class="page-row sub-entity-row">
                  <xsl:apply-templates select="$CurrentEntity/Entity" mode="grid" />
                </div>
              </div>
            </xsl:when>
            <xsl:otherwise>
              <ul class="sub-entity-list">
                <xsl:apply-templates select="$CurrentEntity/Entity" mode="list" />
              </ul>
            </xsl:otherwise>
          </xsl:choose>
          <xsl:choose>
            <xsl:when test="count(/root/Products/Product) = 0 and count($CurrentEntity/Entity) = 0">
              <xsl:value-of select="aspdnsf:Topic(concat('empty', /root/Runtime/EntityName, 'text'))" disable-output-escaping="yes" />
            </xsl:when>
            <xsl:otherwise>
              <div class="entity-paging-wrap">
                <xsl:value-of select="aspdnsf:PagingControl($BaseURL, $CurrentPage, /root/Products2/Product/pages)" disable-output-escaping="yes" />
              </div>
              <div class="table-order-prompt">
                <xsl:value-of select="aspdnsf:StrFormatStringresource(concat('show', $EntityName, '.aspx.22'), concat(aspdnsf:StringResource('AppConfig.CartPrompt'), ',', aspdnsf:StringResource('AppConfig.CartButtonPrompt')), ',')" disable-output-escaping="yes" />
              </div>
              <div class="entity-page-products table-order-products">
                <xsl:apply-templates select="/root/Products/Product" />
              </div>
              <div class="table-order">
                <input id="tableOrderAddToCart" class="button call-to-action add-to-cart" type="Button" value="{aspdnsf:StringResource('AppConfig.CartButtonPrompt', $LocaleSetting)}" onclick="__doPostBack('tableOrderAddToCart',null);"></input>
              </div>
              <div class="entity-paging-wrap">
                <xsl:value-of select="aspdnsf:PagingControl($BaseURL, $CurrentPage, /root/Products2/Product/pages)" disable-output-escaping="yes" />
              </div>
            </xsl:otherwise>
          </xsl:choose>
        </div>
      </xsl:template>

      <!-- Runs once for each sub-entity if ShowSubCatsInGrid AppConfig = true -->
      <xsl:template match="Entity" mode="grid">
        <xsl:variable name="Name" select="aspdnsf:GetMLValue(Name)" />
        <xsl:variable name="AltText">
          <xsl:choose>
            <xsl:when test="aspdnsf:GetMLValue(SEAltText)=''">
              <xsl:value-of select="$Name" />
            </xsl:when>
            <xsl:otherwise>
              <xsl:value-of select="aspdnsf:GetMLValue(SEAltText)" />
            </xsl:otherwise>
          </xsl:choose>
        </xsl:variable>
        <xsl:variable name="URL">
          <xsl:value-of select="aspdnsf:EntityLink(EntityID, SEName, $EntityName, 0, '')" />
        </xsl:variable>

        <!-- Start a new row if this one is full -->
        <xsl:if test="position() mod $SubcatGridCols = 1 and position() &gt; 1">
          <xsl:variable name="NewRowHtml">
            <xsl:text>&lt;/div&gt;&lt;div class="page-row  sub-entity-row"&gt;</xsl:text>
          </xsl:variable>
          <xsl:value-of select="$NewRowHtml" disable-output-escaping="yes" />
        </xsl:if>

        <!-- Assign the class determined above for the grid -->
        <div class="{$GridItemsCssClassName} sub-entity-grid-item grid-item">
          <div class="sub-entity-image-wrap grid-item-image-wrap">
            <a href="{$URL}" class="sub-entity-image-link">
              <img src="{aspdnsf:ImageUrl(EntityID, $EntityName, 'icon', 0)}" alt="{$AltText}" class="img-responsive img-thumbnail sub-entity-grid-image grid-item-image" />
            </a>
          </div>
          <div class="sub-entity-name-wrap grid-item-name-wrap">
            <a href="{$URL}" class="sub-entity-name-link">
              <xsl:value-of select="$Name" disable-output-escaping="yes"/>
            </a>
          </div>
        </div>
      </xsl:template>

      <!-- Runs once for each sub-entity if ShowSubCatsInGrid AppConfig = false -->
      <xsl:template match="Entity" mode="list">
        <xsl:variable name="Name" select="aspdnsf:GetMLValue(Name)" />
        <xsl:variable name="URL">
          <xsl:value-of select="aspdnsf:EntityLink(EntityID, SEName, $EntityName, 0, '')" />
        </xsl:variable>
        <li class="sub-entity-list-item">
          <a href="{$URL}" class="sub-entity-name-link">
            <xsl:value-of select="$Name" disable-output-escaping="yes"/>
          </a>
        </li>
      </xsl:template>

      <!-- Runs once for each product mapped to this entity -->
      <xsl:template match="Product">
        <xsl:variable name="pName" select="aspdnsf:GetMLValue(Name)" />
        <xsl:variable name="pDescription" select="aspdnsf:GetMLValue(Description)" />
        <xsl:variable name="pSummary" select="aspdnsf:GetMLValue(Summary)" />
        <xsl:variable name="pSalesPromptName" select="aspdnsf:GetMLValue(SalesPromptName)" />
        <xsl:variable name="pShowBuyButton" select="aspdnsf:GetMLValue(ShowBuyButton)" />
        <xsl:variable name="URL" select="aspdnsf:ProductLink(ProductID, SEName, 0)" />
        <xsl:variable name="pSEAltText" select="aspdnsf:GetMLValue(SEAltText)" />
        <xsl:variable name="AltText">
          <xsl:choose>
            <xsl:when test="$pSEAltText=''">
              <xsl:value-of select="$pName" />
            </xsl:when>
            <xsl:otherwise>
              <xsl:value-of select="$pSEAltText" />
            </xsl:otherwise>
          </xsl:choose>
        </xsl:variable>

        <xsl:variable name="productId" select="ProductID" />
        <xsl:variable name="isRecurring" select="HasRecurring" />

        <div class="page-row list-item table-order-list-item">
          <div class="one-fourth list-item-image-wrap table-order-list-item-image-wrap">
            <xsl:value-of select="aspdnsf:LookupProductImage(ProductID, ImageFileNameOverride, SKU, 'icon', 0, $AltText)" disable-output-escaping="yes" />
          </div>
          <div class="three-fourths list-item-info-wrap table-order-list-item-info-wrap">
            <div class="list-item-name-wrap table-order-list-item-name-wrap">
              <a class="list-item-name-link product-list-item-name-link" href="{$URL}">
                <xsl:value-of select="$pName" disable-output-escaping="yes" />
              </a>
            </div>
            <div class="list-item-sku-wrap table-order-sku">
              <span class="sku-label">
                <xsl:value-of select="aspdnsf:StrFormatStringresource((aspdnsf:StringResource(concat('show', $EntityName, '.aspx.23'), $LocaleSetting)), concat((aspdnsf:StringResource('AppConfig.CartPrompt')),',',(aspdnsf:StringResource('AppConfig.CartButtonPrompt'))),',')" disable-output-escaping="yes" />
              </span>
              <span class="sku-value">
                <xsl:value-of select="concat(SKU, SKUSuffix)" />
              </span>
            </div>
            <div class="table-order-product-info">
              <div class="list-item-description-wrap product-list-item-description-wrap">
                <xsl:choose>
                  <xsl:when test="$ShowSummaryInTableOrderFormat='true'">
                    <xsl:value-of select="$pSummary" disable-output-escaping="yes" />
                  </xsl:when>
                  <xsl:otherwise>
                    <xsl:value-of select="$pDescription" disable-output-escaping="yes" />
                  </xsl:otherwise>
                </xsl:choose>
              </div>
              <!-- Run the Promotion template to display the call to action text for any auto-assigned promos that apply to this product -->
              <xsl:apply-templates select="$AvailablePromotions/Promotion[ProductId=$productId]" />
              <xsl:if test="$isRecurring = 'True'">
                <span class="productCallToActionIsRecurring">
                  <xsl:value-of select="aspdnsf:StringResource('product.CallToAction.IsRecurring', $LocaleSetting)" disable-output-escaping="yes" />
                </span>
              </xsl:if>
            </div>
            <xsl:if test="number(CustomerEntersPrice)=0">
              <div class="list-item-price-wrap">
                <xsl:value-of select="aspdnsf:GetVariantPrice(VariantID, number(HidePriceUntilCart), Price, SalePrice, ExtendedPrice, Points, $pSalesPromptName, TaxClassID)" disable-output-escaping="yes" />
              </div>
            </xsl:if>
            <xsl:if test="aspdnsf:AppConfigBool('DisplayOutOfStockProducts') = 'true'">
              <div class="list-item-stock-wrap">
                <xsl:value-of select="aspdnsf:DisplayProductStockHint(ProductID, VariantID,'Entity')" disable-output-escaping="yes" />
              </div>
            </xsl:if>
            <xsl:if test="$pShowBuyButton = 1 and IsCalltoOrder != 1">
              <div class="add-to-cart-wrap table-order-add-to-cart">
                <xsl:value-of select="aspdnsf:SizeColorQtyOption(ProductID, VariantID, aspdnsf:GetMLValue(Colors), aspdnsf:GetMLValue(Sizes), ColorOptionPrompt, SizeOptionPrompt, RestrictedQuantities, CustomerEntersPrice, CustomerEntersPricePrompt, TaxClassID)" disable-output-escaping="yes" />
              </div>
            </xsl:if>
            <xsl:if test="IsCalltoOrder =1">
              <span class="call-to-order" >
                <xsl:value-of select="aspdnsf:StringResource('common.cs.67')" />
              </span>
            </xsl:if>
          </div>
        </div>
      </xsl:template>

      <xsl:template match="Promotion">
        <div class="promotion-call-to-action">
          <xsl:value-of select="CallToAction" disable-output-escaping="yes" />
        </div>
      </xsl:template>

    </xsl:stylesheet>
  </PackageTransform>
</package>
