<?xml version="1.0" standalone="yes" ?>
<package version="2.1" displayname="Guided Navigation Grid" debug="false" includeentityhelper="true">
  <PackageTransform>
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf" xmlns:custom="urn:custom">
      <!-- Paging Include  -->
      <xsl:import href="paging.xslt" />
      <xsl:output method="html" omit-xml-declaration="yes" />

      <xsl:param name="CurrentEntityName">
        <xsl:value-of select="/root/Runtime/EntityName" />
      </xsl:param>
      <xsl:param name="CurrentEntityID">
        <xsl:value-of select="/root/Runtime/EntityID" />
      </xsl:param>

      <xsl:param name="CurrentEntityNode" select="/root/EntityHelpers/*[name()=/root/Runtime/EntityName]//Entity[EntityID = $CurrentEntityID]" />
      <xsl:param name="SubcatGridCols">
        <xsl:choose>
          <xsl:when test="/root/EntityHelpers/*[name()=/root/Runtime/EntityName]/descendant::Entity[EntityID=/root/Runtime/EntityID]/ColWidth > 0">
            <xsl:value-of select="/root/EntityHelpers/*[name()=/root/Runtime/EntityName]/descendant::Entity[EntityID=/root/Runtime/EntityID]/ColWidth" />
          </xsl:when>
          <xsl:otherwise>
            <xsl:value-of select="aspdnsf:AppConfig('Default_CategoryColWidth')" />
          </xsl:otherwise>
        </xsl:choose>
      </xsl:param>

      <xsl:param name="GuidedNavLayoutClass">
        <xsl:choose>
          <xsl:when test="aspdnsf:AppConfig('GuidedNavigation.LayoutStyle') = 'twocolumn'">guidedNavTwoCol</xsl:when>
          <xsl:otherwise>guidedNavOneCol</xsl:otherwise>
        </xsl:choose>
      </xsl:param>

      <xsl:param name="GuidedNavigationRoot" select="/root/EntityHelpers/Section" />
      <xsl:variable name="CatID" select="/root/Runtime/CatID" />
      <xsl:variable name="SecID" select="/root/Runtime/SecID" />
      <xsl:variable name="ManID" select="/root/Runtime/ManID" />
      <xsl:variable name="DistID" select="/root/Runtime/DistID" />
      <xsl:variable name="GenreID" select="/root/Runtime/GenreID" />
      <xsl:variable name="VectorID" select="/root/Runtime/VectorID" />

      <xsl:variable name="ProductIdsOnPage">
        <xsl:for-each select="/root/Products/Product/ProductID">
          <xsl:value-of select="." />
          <xsl:if test="position() != last()">
            <xsl:text>,</xsl:text>
          </xsl:if>
        </xsl:for-each>
      </xsl:variable>
      <xsl:variable name="AvailablePromotions" select="aspdnsf:XmlPackageAsXml('availablePromotions.xml.config', concat('productIdList=', $ProductIdsOnPage))/root/Promotions" />

      <xsl:variable name="EntityName" select="/root/Runtime/EntityName" />
      <xsl:variable name="EntityID" select="/root/Runtime/EntityID" />
      <xsl:variable name="CurrentEntity" select="/root/EntityHelpers/*[name()=/root/Runtime/EntityName]/descendant::Entity[EntityID=/root/Runtime/EntityID]" />

      <xsl:template match="/">
        <div style="clear: both;"></div>
        <xsl:variable name="NavigationElementSelector" select="aspdnsf:AppConfig('GuidedNavigation.NavigationElementSelector')" />

        <div class="{$GuidedNavLayoutClass} {$CatID}">
          <div id="CategoryPage" class="row">
            <div>
              <xsl:if test="string-length($CurrentEntityNode/Description) &gt; 0">
                <div class="entityDescriptionWrapper">
                  <xsl:value-of select="aspdnsf:GetMLValue($CurrentEntityNode/Description)" disable-output-escaping="yes" />
                </div>
              </xsl:if>
              <xsl:value-of select="custom:GetCategoryRootLevelList($CatID)" disable-output-escaping="yes" />
            </div>
          </div>
          <div style="clear: both;"></div>
        </div>
        <script type="text/javascript" src="jscripts/guidednavigation.js"></script>
      </xsl:template>

      <xsl:template match="Promotion">
        <xsl:value-of select="CallToAction" disable-output-escaping="yes" />
      </xsl:template>



    </xsl:stylesheet>
  </PackageTransform>

</package>
