<?xml version="1.0" standalone="yes" ?>
<package version="2.1" displayname="Guided Navigation Grid" debug="false" includeentityhelper="true">
  <query name="Products" rowElementName="Product">
    <sql>
      <![CDATA[
				exec vortx_GetProductsByEntity
					@categoryID = @CatID,
					@sectionID = @SecID,
					@manufacturerID = @ManID,
					@distributorID = @DistID,
					@genreID = @GenreID,
					@vectorID = @VectorID,
					@localeName = @locale,
					@CustomerLevelID = @CustLevelID,
					@affiliateID = @AffID,
					@ProductTypeID = 0, 
					@ViewType = 1,
					@pagenum = @pgnum,
					@pagesize = @PageSize,
					@searchstr = @SearchTerm,
					@StatsFirst = 0,
					@publishedonly = 1,
					@ExcludePacks = 0,
					@ExcludeKits = 0,
					@ExcludeSysProds = 0,
					@InventoryFilter = @InvFilter,
					@sortEntityName = @entityname,
					@CategoryIDs = @CategoryIDs,
					@SectionIDs = @SectionIDs,
					@ManufacturerIDs = @ManufacturerIDs,
					@DistributorIDs = @DistributorIDs,
					@GenreIDs = @GenreIDs,
					@VectorIDs = @VectorIDs,
					@sortby = @sortby,
					@EntityID = @EntityID,
					@CustomerID = @customerid,
					@storeID = @storeid
			]]>
    </sql>
    <queryparam paramname="@CatID" paramtype="runtime" requestparamname="CatID" sqlDataType="int" defvalue="0"  validationpattern="" />
    <queryparam paramname="@PageSize" paramtype="request" requestparamname="pagesize" sqlDataType="int" defvalue="12"  validationpattern="" />
    <queryparam paramname="@SecID" paramtype="runtime" requestparamname="SecID" sqlDataType="int" defvalue="0"  validationpattern="" />
    <queryparam paramname="@ManID" paramtype="runtime" requestparamname="ManID" sqlDataType="int" defvalue="0"  validationpattern="" />
    <queryparam paramname="@DistID" paramtype="runtime" requestparamname="DistID" sqlDataType="int" defvalue="0"  validationpattern="" />
    <queryparam paramname="@GenreID" paramtype="runtime" requestparamname="GenreID" sqlDataType="int" defvalue="0"  validationpattern="" />
    <queryparam paramname="@VectorID" paramtype="runtime" requestparamname="VectorID" sqlDataType="int" defvalue="0"  validationpattern="" />
    <queryparam paramname="@locale" paramtype="runtime" requestparamname="LocaleSetting" sqlDataType="varchar" defvalue="en-US"  validationpattern="" />
    <queryparam paramname="@CustLevelID" paramtype="runtime" requestparamname="CustomerLevelID" sqlDataType="int" defvalue="0"  validationpattern="" />
    <queryparam paramname="@AffID" paramtype="runtime" requestparamname="AffiliateID" sqlDataType="int" defvalue="0"  validationpattern="" />
    <queryparam paramname="@ProdTypeID" paramtype="runtime" requestparamname="ProductTypeFilterID" sqlDataType="int" defvalue="1"  validationpattern="" />
    <queryparam paramname="@pgnum" paramtype="request" requestparamname="pagenum" sqlDataType="int" defvalue="1"  validationpattern="" />
    <queryparam paramname="@sortby" paramtype="request" requestparamname="sortby" sqlDataType="varchar" defvalue="catviews"  validationpattern="" />
    <queryparam paramname="@InvFilter" paramtype="appconfig" requestparamname="HideProductsWithLessThanThisInventoryLevel" sqlDataType="int" defvalue="0"  validationpattern="" />
    <queryparam paramname="@entityname" paramtype="runtime" requestparamname="EntityName" sqlDataType="varchar" defvalue="Search"  validationpattern="" />
    <queryparam paramname="@SectionIDs" paramtype="request" requestparamname="section" sqlDataType="varchar" defvalue=""  validationpattern="^[0-9\-]*$" />
    <queryparam paramname="@CategoryIDs" paramtype="request" requestparamname="category" sqlDataType="varchar" defvalue=""  validationpattern="^[0-9\-]*$" />
    <queryparam paramname="@ManufacturerIDs" paramtype="request" requestparamname="manufacturer" sqlDataType="varchar" defvalue=""  validationpattern="^[0-9\-]*$" />
    <queryparam paramname="@DistributorIDs" paramtype="request" requestparamname="distributor" sqlDataType="varchar" defvalue=""  validationpattern="^[0-9\-]*$" />
    <queryparam paramname="@GenreIDs" paramtype="request" requestparamname="genre" sqlDataType="varchar" defvalue=""  validationpattern="^[0-9\-]*$" />
    <queryparam paramname="@VectorIDs" paramtype="request" requestparamname="vector" sqlDataType="varchar" defvalue=""  validationpattern="^[0-9\-]*$" />
    <queryparam paramname="@SearchTerm" paramtype="request" requestparamname="SearchTerm" sqlDataType="varchar" defvalue=""  validationpattern="" />
    <queryparam paramname="@EntityID" paramtype="runtime" requestparamname="EntityID" sqlDataType="int" defvalue="0"  validationpattern="^\d{1,9}$" />
    <queryparam paramname="@customerid" paramtype="system" requestparamname="CustomerID" sqlDataType="int" defvalue="0"  validationpattern="" />
    <queryparam paramname="@storeid" paramtype="runtime" requestparamname="StoreID" sqlDataType="int" defvalue="0"  validationpattern="" />
  </query>

  <PackageTransform>
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf" xmlns:custom="urn:custom">
      <!-- Paging Include  -->
      <xsl:import href="paging.xslt" />
      <xsl:output method="html" omit-xml-declaration="yes" />

      <xsl:param name="CurrentEntityName">
        <xsl:value-of select="/root/Runtime/EntityName" />
      </xsl:param>
      <xsl:param name="CurrentEntityID">
        <xsl:value-of select="/root/Runtime/EntityID" />
      </xsl:param>

      <xsl:param name="CurrentEntityNode" select="/root/EntityHelpers/*[name()=/root/Runtime/EntityName]//Entity[EntityID = $CurrentEntityID]" />
      <xsl:param name="SubcatGridCols">
        <xsl:choose>
          <xsl:when test="/root/EntityHelpers/*[name()=/root/Runtime/EntityName]/descendant::Entity[EntityID=/root/Runtime/EntityID]/ColWidth > 0">
            <xsl:value-of select="/root/EntityHelpers/*[name()=/root/Runtime/EntityName]/descendant::Entity[EntityID=/root/Runtime/EntityID]/ColWidth" />
          </xsl:when>
          <xsl:otherwise>
            <xsl:value-of select="aspdnsf:AppConfig('Default_CategoryColWidth')" />
          </xsl:otherwise>
        </xsl:choose>
      </xsl:param>

      <xsl:param name="GuidedNavLayoutClass">
        <xsl:choose>
          <xsl:when test="aspdnsf:AppConfig('GuidedNavigation.LayoutStyle') = 'twocolumn'">guidedNavTwoCol</xsl:when>
          <xsl:otherwise>guidedNavOneCol</xsl:otherwise>
        </xsl:choose>
      </xsl:param>

      <xsl:param name="GuidedNavigationRoot" select="/root/EntityHelpers/Section" />
      <xsl:variable name="CatID" select="/root/Runtime/CatID" />
      <xsl:variable name="SecID" select="/root/Runtime/SecID" />
      <xsl:variable name="ManID" select="/root/Runtime/ManID" />
      <xsl:variable name="DistID" select="/root/Runtime/DistID" />
      <xsl:variable name="GenreID" select="/root/Runtime/GenreID" />
      <xsl:variable name="VectorID" select="/root/Runtime/VectorID" />

      <xsl:variable name="ProductIdsOnPage">
        <xsl:for-each select="/root/Products/Product/ProductID">
          <xsl:value-of select="." />
          <xsl:if test="position() != last()">
            <xsl:text>,</xsl:text>
          </xsl:if>
        </xsl:for-each>
      </xsl:variable>
      <xsl:variable name="AvailablePromotions" select="aspdnsf:XmlPackageAsXml('availablePromotions.xml.config', concat('productIdList=', $ProductIdsOnPage))/root/Promotions" />

      <xsl:template match="/">
        <div style="clear: both;"></div>
        <xsl:variable name="NavigationElementSelector" select="aspdnsf:AppConfig('GuidedNavigation.NavigationElementSelector')" />
        <xsl:if test="string-length($NavigationElementSelector) &gt; 0">
          <script type="text/javascript">
            if(typeof jQuery !== 'function') {
            document.write(unescape("%3Cscript src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js' type='text/javascript'%3E%3C/script%3E"));
            }
          </script>
          <script type="text/javascript">
            if (typeof jQuery === 'function') {
            $(document).ready(function(){
            $('<xsl:value-of select="$NavigationElementSelector" />').contents().hide();
            $('<xsl:value-of select="$NavigationElementSelector" />').prepend($('#guidedNavWrapper').html());
            $('#guidedNavWrapper').remove()
            });
            }
          </script>
        </xsl:if>
        <div class="{$GuidedNavLayoutClass}">
          <div id="CategoryPage" class="guidedNavContents">
            <xsl:choose>
              <xsl:when test="string-length(/root/QueryString/searchterm) &gt; 0">
                <div class="search-left">
                  <span class="guidedHeaderLabel">Search Term:</span>
                  <xsl:text>&#160;</xsl:text>
                  <span class="guidedHeaderValue">
                    <xsl:value-of select="/root/QueryString/searchterm" />
                  </span>
                </div>
              </xsl:when>

              <xsl:when test="/root/QueryString/searchterm">
                <h1>
                  <span class="guidedHeaderLabel">Results:</span>
                </h1>
              </xsl:when>
            </xsl:choose>

            <div id="categoryContent">
              <!--//TODO: Shows the description of the Sub-Category-->
              <!--<xsl:if test="string-length($CurrentEntityNode/Description) &gt; 0">
                <div class="entityDescriptionWrapper">
                  <xsl:value-of select="aspdnsf:GetMLValcatSortByTopue($CurrentEntityNode/Description)" disable-output-escaping="yes" />
                </div>
              </xsl:if>-->
              <xsl:choose>
                <xsl:when test="count(/root/Products/Product) = 0 and count(/root/EntityHelpers/*[name()=/root/Runtime/EntityName]/descendant::Entity[EntityID=/root/Runtime/EntityID]/Entity) = 0">
                  <xsl:choose>
                    <xsl:when test="/root/QueryString/searchterm">
                      <xsl:value-of select="aspdnsf:StringResource('search.aspx.9')" disable-output-escaping="yes" />
                    </xsl:when>
                    <xsl:otherwise>
                      <xsl:value-of select="aspdnsf:Topic(concat('empty', /root/Runtime/EntityName, 'text'))" disable-output-escaping="yes" />
                    </xsl:otherwise>
                  </xsl:choose>
                </xsl:when>
                <xsl:otherwise>
                  <div class="search-filters">
                    <div class="row">
                      <xsl:call-template name="ProductControl">
                        <xsl:with-param name="uniqueID" select="'Top'" />
                      </xsl:call-template>
                    </div>
                  </div>
                  <table border="0" cellpadding="0" id="ProductTable"  cellspacing="4" width="100%">
                    <xsl:apply-templates select="/root/Products/Product" />
                  </table>
                  <div class="pagerArea bottomPagerArea">
                    <xsl:call-template name="paging" />
                  </div>
                </xsl:otherwise>
              </xsl:choose>
            </div>
          </div>
          <div style="clear: both;"></div>
        </div>
        <script type="text/javascript" src="jscripts/guidednavigation.js"></script>
        <script type="text/javascript">
          <!--$(document).ready(function(){
          if($("#staticCategoryList").length == 0) { $("#categoryContent").attr("style", "width:100%"); }
          });-->
        </script>
      </xsl:template>

      <xsl:template match="Product">
        <xsl:if test="position() mod $SubcatGridCols = 1">
          <div class="row">
            <xsl:for-each select=". | following-sibling::*[position() &lt; $SubcatGridCols]">
              <xsl:call-template name="ProductCell"></xsl:call-template>
            </xsl:for-each>
          </div>
          <xsl:call-template name="fillercells">
            <xsl:with-param name="number" select="$SubcatGridCols - count(. | following-sibling::*)" />
          </xsl:call-template>
        </xsl:if>
      </xsl:template>

      <xsl:template name="fillercells">
        <xsl:param name="number" />
        <xsl:if test="$number > 0">
          <xsl:call-template name="fillercells">
            <xsl:with-param name="number" select="$number - 1" />
          </xsl:call-template>
          <td style="width:{round(100 div number($SubcatGridCols))}%;"></td>
        </xsl:if>
      </xsl:template>

      <xsl:template name="ProductCell">
        <xsl:param name="pName" select="aspdnsf:GetMLValue(Name)"></xsl:param>
        <xsl:param name="pSalesPromptName" select="aspdnsf:GetMLValue(SalesPromptName)"></xsl:param>
        <xsl:param name="pSEAltText" select="aspdnsf:GetMLValue(SEAltText)"></xsl:param>
        <xsl:param name="AltText">
          <xsl:choose>
            <xsl:when test="$pSEAltText=''">
              <xsl:value-of select="$pName" />
            </xsl:when>
            <xsl:otherwise>
              <xsl:value-of select="$pSEAltText" />
            </xsl:otherwise>
          </xsl:choose>
        </xsl:param>
        <xsl:variable name="productId" select="ProductID" />

        <div class="col-md-6">
          <div class="thumbnail">
            <div class="product-head-height">
              <h4 class="fix-list-head">
                <a href="{aspdnsf:ProductLink(ProductID, SEName, 0, '')}">
                  <xsl:value-of select="$pName" disable-output-escaping="yes"  />
                </a>
              </h4>
            </div>
            <a class="product-img-box" href="{aspdnsf:ProductLink(ProductID, SEName, 0, '')}">
              <xsl:value-of select="aspdnsf:LookupProductImage(ProductID, ImageFileNameOverride, SKU, 'icon', 0, $AltText)" disable-output-escaping="yes"/>
            </a>
            <div class="caption">
              <xsl:value-of select="aspdnsf:GetVariantPrice(VariantID, HidePriceUntilCart, Price, SalePrice, ExtendedPrice, Points, $pSalesPromptName)" disable-output-escaping="yes"/>
              <!--TODO: Will be uncommented after implemenented True Blue-->
              <!--<br></br>
              Price with (FUND) credit: $Y,YYY.YY-->

              <!--<br>
                <xsl:value-of select="aspdnsf:ShowProductStockStatus(ProductID,VariantID)" disable-output-escaping="yes"/>
              </br>-->
              <p/>

              <a href="{aspdnsf:ProductLink(ProductID, SEName, 0, '')}" class="btn btn-primary btn-block" role="button">View Details</a>
            </div>

          </div>
        </div>

      </xsl:template>

      <xsl:template match="Promotion">
        <xsl:value-of select="CallToAction" disable-output-escaping="yes" />
      </xsl:template>

    </xsl:stylesheet>
  </PackageTransform>

</package>
