<?xml version="1.0" standalone="yes" ?>
<!-- ##################################################################################	-->
<!-- Copyright AspDotNetStorefront.com. All Rights Reserved.							-->
<!-- http://www.aspdotnetstorefront.com													-->
<!-- For details on this license please visit the product homepage at the URL above.	-->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.												-->
<!-- ##################################################################################	-->
<package version="2.1" displayname="Event Handler" debug="false" includeentityhelper="true">
	<query name="Products" rowElementName="Product" runif="ViewProductPage">
		<sql>
            <![CDATA[
                select productid, name from dbo.product with (nolock) where productid = @ProductID
            ]]>
        </sql>
		<queryparam paramname="@ProductID" paramtype="request" requestparamname="productid" sqlDataType="int" defvalue="0" validationpattern="^\d{1,10}$" />
	</query>

	<PackageTransform>
		<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">

			<xsl:output method="xml" omit-xml-declaration="no" />

            <xsl:template match="/">
				<EventNotification>
					<EventDate><xsl:value-of select="/root/System/Date" /></EventDate>
					<EventTime><xsl:value-of select="/root/System/Time" /></EventTime>
					<EventSite><xsl:value-of select="aspdnsf:AppConfig('LiveServer')" /></EventSite>

                    <xsl:if test="/root/Runtime/ViewProductPage">
						<Event>ViewProductPage</Event>
						<EventData>
							<ProductID>
								<xsl:value-of select="/root/Products/Product/productid" />
							</ProductID>
							<ProductName>
								<xsl:value-of select="aspdnsf:GetMLValue(/root/Products/Product/name)" />
							</ProductName>
						</EventData>
					</xsl:if>

					<xsl:if test="/root/Runtime/ViewEntityPage">
						<Event>ViewEntityPage</Event>
						<EventData>
							<EntityType>
								<xsl:value-of select="/root/Runtime/EntityName" />
							</EntityType>
							<EntityID>
								<xsl:value-of select="/root/Runtime/EntityID" />
							</EntityID>
							<EntityName>
								<xsl:value-of select="aspdnsf:GetMLValue(/root/EntityHelpers/*[name()=/root/Runtime/EntityName]/descendant::Entity[EntityID=/root/Runtime/EntityID]/Name)" />
							</EntityName>
						</EventData>
					</xsl:if>

					<xsl:if test="/root/Runtime/AddToCart">
						<Event>AddToCart</Event>
						<EventData>
							<ProductID>
								<xsl:value-of select="/root/Runtime/ProductID" />
							</ProductID>
							<VariantID>
								<xsl:value-of select="/root/Runtime/VariantID" />
							</VariantID>
							<ChosenSize>
								<xsl:value-of select="/root/Runtime/ChosenSize" />
							</ChosenSize>
							<ChosenColor>
								<xsl:value-of select="/root/Runtime/ChosenColor" />
							</ChosenColor>
						</EventData>
					</xsl:if>

					<xsl:if test="/root/Runtime/BeginCheckout">
						<Event>BeginCheckout</Event>
						<EventData>
							<CustomerID>
								<xsl:value-of select="/root/System/CustomerID" />
							</CustomerID>
						</EventData>
					</xsl:if>

					<xsl:if test="/root/Runtime/RemoveFromCart">
						<Event>RemoveFromCart</Event>
						<EventData>
							<ProductID>
								<xsl:value-of select="/root/Runtime/ProductID" />
							</ProductID>
							<VariantID>
								<xsl:value-of select="/root/Runtime/VariantID" />
							</VariantID>
							<CustomerID>
								<xsl:value-of select="/root/System/CustomerID" />
							</CustomerID>
						</EventData>
					</xsl:if>

					<xsl:if test="/root/Runtime/CreateCustomer">
						<Event>CreateCustomer</Event>
						<EventData>
							<CustomerID>
								<xsl:value-of select="/root/Runtime/CreatedCustomerID" />
							</CustomerID>
						</EventData>
					</xsl:if>

					<xsl:if test="/root/Runtime/UpdateCustomer">
						<Event>UpdateCustomer</Event>
						<EventData>
							<CustomerID>
								<xsl:value-of select="/root/Runtime/UpdatedCustomerID" />
							</CustomerID>
						</EventData>
					</xsl:if>

                    <xsl:if test="/root/Runtime/DeleteCustomer">
                        <Event>DeleteCustomer</Event>
                        <EventData>
                            <CustomerID>
                                <xsl:value-of select="/root/Runtime/DeletedCustomerID" />
                            </CustomerID>
                        </EventData>
                    </xsl:if>

					<xsl:if test="/root/Runtime/NukeCustomer">
						<Event>NukeCustomer</Event>
						<EventData>
							<CustomerID>
								<xsl:value-of select="/root/System/CustomerID" />
							</CustomerID>
						</EventData>
					</xsl:if>

					<xsl:if test="/root/Runtime/CreateAccount">
						<Event>CreateAccount</Event>
						<EventData>
							<CustomerID>
								<xsl:value-of select="/root/System/CustomerID" />
							</CustomerID>
						</EventData>
					</xsl:if>

					<xsl:if test="/root/Runtime/CheckoutShipping">
						<Event>CheckoutShipping</Event>
						<EventData>
							<CustomerID>
								<xsl:value-of select="/root/System/CustomerID" />
							</CustomerID>
						</EventData>
					</xsl:if>

					<xsl:if test="/root/Runtime/CheckoutPayment">
						<Event>CheckoutPayment</Event>
						<EventData>
							<CustomerID>
								<xsl:value-of select="/root/System/CustomerID" />
							</CustomerID>
						</EventData>
					</xsl:if>

					<xsl:if test="/root/Runtime/CheckoutReview">
						<Event>CheckoutReview</Event>
						<EventData>
							<CustomerID>
								<xsl:value-of select="/root/System/CustomerID" />
							</CustomerID>
						</EventData>
					</xsl:if>

					<xsl:if test="/root/Runtime/NewOrder">
						<Event>NewOrder</Event>
						<EventData>
							<OrderNumber>
								<xsl:value-of select="/root/Runtime/OrderNumber" />
							</OrderNumber>
						</EventData>
					</xsl:if>

					<xsl:if test="/root/Runtime/OrderDeleted">
						<Event>OrderDeleted</Event>
						<EventData>
							<OrderNumber>
								<xsl:value-of select="/root/Runtime/OrderNumber" />
							</OrderNumber>
						</EventData>
					</xsl:if>

					<xsl:if test="/root/Runtime/OrderVoided">
						<Event>OrderVoided</Event>
						<EventData>
							<OrderNumber>
								<xsl:value-of select="/root/Runtime/OrderNumber" />
							</OrderNumber>
						</EventData>
					</xsl:if>

					<xsl:if test="/root/Runtime/OrderShipped">
						<Event>OrderShipped</Event>
						<EventData>
							<OrderNumber>
								<xsl:value-of select="/root/Runtime/OrderNumber" />
							</OrderNumber>
						</EventData>
					</xsl:if>

					<xsl:if test="/root/Runtime/OrderRefunded">
						<Event>OrderRefunded</Event>
						<EventData>
							<OrderNumber>
								<xsl:value-of select="/root/Runtime/OrderNumber" />
							</OrderNumber>
						</EventData>
					</xsl:if>
				</EventNotification>
			</xsl:template>
		</xsl:stylesheet>
	</PackageTransform>
</package>
