<?xml version="1.0" standalone="yes" ?>
<!-- ##################################################################################	-->
<!-- Copyright AspDotNetStorefront.com. All Rights Reserved.							-->
<!-- http://www.aspdotnetstorefront.com													-->
<!-- For details on this license please visit the product homepage at the URL above.	-->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.												-->
<!-- ##################################################################################	-->
<package version="2.1" displayname="Default Gift Card Assignment Package" debug="false">

	<!-- ###################################################################################################### -->
	<!-- This package is called by the storefront to assign E-Mail and Certificate Type Gift Card Numbers       -->
	<!-- This package is called for EACH individual gift card product in the order                              -->
	<!-- This package is NOT used for physical Gift Cards. they must be entered by the store administrator      -->
	<!--                                                                                                        -->
	<!-- Putting this gift card number generation into an XmlPackage allows you to change the algorithms for    -->
	<!-- generating gift card #'s (E-Mail and Certificate) without modifying the storefront code                -->
	<!--                                                                                                        -->
	<!-- Expects runtime parameters input to this package:                                                      -->
	<!--                                                                                                        -->
	<!--    * OrderNumber                                                                                       -->
	<!--    * CustomerID                                                                                        -->
	<!--    * ProductID                                                                                         -->
	<!--    * VariantID                                                                                         -->
	<!--    * Amount                                                                                            -->
	<!--                                                                                                        -->
	<!--    these runtime parameters are passed in by the storefront when a gift card number is needed          -->
	<!--                                                                                                        -->
	<!--    Note, our simple default implementation here ignores these input params, and just returns a GUID,   -->
	<!--    but you can customize this package to provide your own gift card number assignment algorithm        -->
	<!--                                                                                                        -->
	<!-- Output of package MUST Be an xml document in format:                                                   -->
	<!--                                                                                                        -->
	<!-- <root>                                                                                                 -->
	<!-- <CardNumber>whatever gift card number you want here</CardNumber>                                       -->
	<!-- <ExpirationDate>whatever expiration date you want here</ExpirationDate>                                -->
	<!-- </root>                                                                                                -->
	<!--                                                                                                        -->
	<!-- This xml doc is then parsed by the storefront, and assigned to the gift card                           -->
	<!--                                                                                                        -->
	<!-- This is just a sample implementation, which uses a GUID as the serial #, and expiration date of 1 year -->
	<!--                                                                                                        -->
	<!-- ###################################################################################################### -->

    <query name="GiftCardAssignment" rowElementName="row">
        <sql>
            <![CDATA[
                select newid() as CardNumber, dateadd(yy,1,getdate()) as ExpirationDate
            ]]>
        </sql>
    </query>

    <PackageTransform>
        <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
        <xsl:output method="xml" />
        <xsl:template match="/">
			<root>
			<CardNumber><xsl:value-of select="//GiftCardAssignment/row/CardNumber"/></CardNumber>
			<ExpirationDate><xsl:value-of select="//GiftCardAssignment/row/ExpirationDate"/></ExpirationDate>
			</root>
        </xsl:template>
        </xsl:stylesheet>
    </PackageTransform>
</package>
