<?xml version="1.0" standalone="yes" ?>
<!-- ##################################################################################	-->
<!-- Copyright AspDotNetStorefront.com. All Rights Reserved.							-->
<!-- http://www.aspdotnetstorefront.com													-->
<!-- For details on this license please visit the product homepage at the URL above.	-->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.												-->
<!-- ##################################################################################	-->
<package version="2.1" displayname="Mini Cart" debug="false" includeentityhelper="false">
    <query name="ShoppingCart" rowElementName="Item">
        <sql>
            <![CDATA[
            exec dbo.aspdnsf_GetShoppingCart 0, @customerid, 0, 0
            ]]>
        </sql>
        <queryparam paramname="@customerid" paramtype="system" requestparamname="CustomerID" sqlDataType="int" defvalue="0"  validationpattern="" />
    </query>
	<query name="OrderOptions" rowElementName="Item">
		<sql>
			<![CDATA[
            SELECT OrderOptions FROM Customer where CustomerID = @customerid
            ]]>
		</sql>
		<queryparam paramname="@customerid" paramtype="system" requestparamname="CustomerID" sqlDataType="int" defvalue="0"  validationpattern="" />
	</query>


    <PackageTransform>
        <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" 
                        xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
          <xsl:output method="html" omit-xml-declaration="yes" />

            <xsl:param name="ShowPicsInMiniCart"><xsl:value-of select="aspdnsf:AppConfigBool('ShowPicsInMiniCart')"/></xsl:param>


            <xsl:template match="/">

                <table width="150" cellpadding="2" cellspacing="0" border="0" style="border-style: solid; border-width: 0px; border-color: #{aspdnsf:AppConfig('HeaderBGColor')};" >
                    <tr>
                        <td align="left" valign="top">
                            <img src="{aspdnsf:LocateImageURL(concat('App_Themes/Skin_', /root/System/SkinID, '/images/minicart.gif'))}" border="0"/>
                            <table width="100%" cellpadding="4" cellspacing="0" border="0" class="MinicartBorder">
                                <tr>
                                    <td align="center" valign="top">

                                        <xsl:for-each select="/root/ShoppingCart/Item">
                                            <xsl:if test="$ShowPicsInMiniCart='true'">
                                                <a href="{aspdnsf:ProductLink(ProductID, SEName, 'false', '')}"><xsl:value-of select="aspdnsf:MiniCartProductImage(ProductID, ImageFileNameOverride, ProductSKU)" disable-output-escaping="yes" /></a>
                                            </xsl:if>
                                            <a href="{aspdnsf:ProductLink(ProductID, SEName, 'false', '')}"><xsl:value-of select="aspdnsf:GetMLValue(ProductName)" disable-output-escaping="yes" /><xsl:if test="VariantName != ''">&#0160;-&#0160;<xsl:value-of select="aspdnsf:GetMLValue(VariantName)" disable-output-escaping="yes" /></xsl:if></a>
                                            Qty <xsl:value-of select="Quantity" />&#0160;<xsl:value-of select="aspdnsf:GetCartPrice(ProductID, Quantity, ProductPrice, TaxClassID)" disable-output-escaping="yes" />
                                        </xsl:for-each>

										<xsl:variable name="ids" select="aspdnsf:CreateXmlFromDelimitedString(root/OrderOptions/Item/OrderOptions, ',', 'ids', 'id')" />
										<xsl:if test="root/OrderOptions/Item/OrderOptions != ''">											
											<div style="border-top-style: solid; border-top-width : 1px; border-top-color: #{aspdnsf:AppConfig('HeaderBGColor')}; border-bottom-style: solid; border-bottom-width : 1px; border-bottom-color: #{aspdnsf:AppConfig('HeaderBGColor')}; width : 70%; padding-top : 10px">												
												<B>Order Option</B>
												<xsl:for-each select="$ids/id">
													<xsl:if test=". != ''">
														<xsl:value-of select="aspdnsf:MiniCartOrderOption(.)" disable-output-escaping="yes"/>
														
														
													</xsl:if>
												</xsl:for-each>
											</div>
											
										</xsl:if>
										<xsl:value-of select="aspdnsf:CartSubTotal()" disable-output-escaping="yes" />
										<a href="ShoppingCart.aspx" class="checkout-minicart"><xsl:value-of select="aspdnsf:StringResource('shoppingcart.cs.80')" disable-output-escaping="yes" /></a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </xsl:template>
            
        </xsl:stylesheet>
    </PackageTransform>
</package>

