<?xml version="1.0" standalone="yes" ?>
<!-- ##################################################################################	-->
<!-- Copyright AspDotNetStorefront.com. All Rights Reserved.							-->
<!-- http://www.aspdotnetstorefront.com													-->
<!-- For details on this license please visit the product homepage at the URL above.	-->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.												-->
<!-- ##################################################################################	-->
<package version="2.1" displayname="Mobile Link" debug="false" includeentityhelper="false">
	<PackageTransform>
		<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" xmlns:mobile="urn:mobile" exclude-result-prefixes="aspdnsf mobile">
			<xsl:output method="html" omit-xml-declaration="yes" />
			<xsl:variable name="isMobileUserAgent" select="mobile:IsMobileUserAgent()" />
			<xsl:variable name="IsMobileEnabled" select="mobile:IsMobileEnabled()" />
			<xsl:template match="/">
				<xsl:if test="$isMobileUserAgent = 'true' and $IsMobileEnabled = 'true'">
					<a href="mobilego.aspx">
						<xsl:value-of select="aspdnsf:StringResource('mobile.mobilelink')" />
					</a>
				</xsl:if>
			</xsl:template>
			
		</xsl:stylesheet>
	</PackageTransform>
</package>

