<?xml version="1.0" standalone="yes" ?>
<!-- ##################################################################################	-->
<!-- Copyright AspDotNetStorefront.com. All Rights Reserved.							-->
<!-- http://www.aspdotnetstorefront.com													-->
<!-- For details on this license please visit the product homepage at the URL above.	-->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.												-->
<!-- ##################################################################################	-->
<package version="2.1" displayname="Featured Products" debug="false" includeentityhelper="false">
	<query name="News" rowElementName="NewsItem" >
		<sql>
			<![CDATA[
				exec [aspdnsf_GetNews] @NumHomeNewsToDisplay, @StoreID, @FilterNews
			]]>
		</sql>
		<queryparam paramname="@NumHomeNewsToDisplay" paramtype="runtime" requestparamname="NumHomeNewsToDisplay" sqlDataType="int" defvalue="3"  validationpattern="" />
		<queryparam paramname="@StoreID"	            paramtype="runtime" requestparamname="StoreID"							sqlDataType="int"	defvalue="1"  validationpattern="" />
		<queryparam paramname="@FilterNews"	          paramtype="runtime" requestparamname="FilterNews"						sqlDataType="bit"	defvalue="0"  validationpattern="" />
	</query>
	
	<PackageTransform>
		<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" 
						xmlns:aspdnsf="urn:aspdnsf" 
						exclude-result-prefixes="aspdnsf" >
			<xsl:output method="html" omit-xml-declaration="yes" />

			<xsl:variable name="CustomerID" select="/root/Runtime/CustomerID" />
			<xsl:variable name="NewsItemsCount" select="count(/root/News/NewsItem)" />
			<xsl:variable name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
			<xsl:variable name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />
			
			<xsl:template match="/" >
				<xsl:if test="$NewsItemsCount &gt; 0">
					<div class="group-header home-news-header">
						<a href="news.aspx">
							<xsl:value-of select="aspdnsf:StringResource('Header.HomeNews')" disable-output-escaping="yes"/>
						</a>
					</div>
					<p class="home-news-prompt">
						<xsl:value-of select="aspdnsf:StringResource('default.aspx.3')" disable-output-escaping="yes"/>
					</p>
					<ul class="home-news-articles">
						<xsl:apply-templates select="/root/News/NewsItem" />
					</ul>
				</xsl:if>
			</xsl:template>
			
			<xsl:template match="NewsItem" >
				<li class="home-news-article">
					<span class="home-news-article">
						<a href="{concat('news.aspx?showarticle=', NewsID)}">
							<xsl:value-of select="aspdnsf:GetMLValue(Headline)"/>
						</a>
					</span>
					<span class="home-news-date">
						(<xsl:value-of select="aspdnsf:GetNativeShortDateString(CreatedOn)" disable-output-escaping="yes"/>)
					</span>
				</li>
			</xsl:template>

		</xsl:stylesheet>
	</PackageTransform>
</package>

