<?xml version="1.0" standalone="yes" ?>
<!-- ##################################################################################	-->
<!-- Copyright AspDotNetStorefront.com. All Rights Reserved.							-->
<!-- http://www.aspdotnetstorefront.com													-->
<!-- For details on this license please visit the product homepage at the URL above.	-->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.												-->
<!-- ##################################################################################	-->
<package version="2.1" displayname="SMS Order Notification Contents" debug="false" allowengine="true" includeentityhelper="false">
  <query name="OrderData" rowElementName="Data">
        <sql>
            <![CDATA[
            select OrderNumber,OrderTotal,MaxMindFraudScore,EMail,OrderDate from dbo.orders with (nolock) where OrderNumber = @ordernumber
            ]]>
        </sql>
        <queryparam paramname="@ordernumber" paramtype="runtime" requestparamname="ordernumber" sqlDataType="int" like="no" defvalue="0"  validationpattern="^\d{1,9}$" />

    </query>
	<!-- mod start -->
    <PackageTransform>
        <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
          <xsl:output method="text" omit-xml-declaration="yes"/>
            <xsl:template match="/">
		        <xsl:param name="Amt"><xsl:value-of select="/root/OrderData/Data/OrderTotal"/></xsl:param>Order: <xsl:value-of select="/root/OrderData/Data/OrderNumber" /><xsl:text>&#13;&#10;</xsl:text>
EMail: <xsl:value-of select="/root/OrderData/Data/EMail" /><xsl:text>&#13;&#10;</xsl:text>
Amt: <xsl:value-of select="aspdnsf:FormatCurrency($Amt)"/><xsl:text>&#13;&#10;</xsl:text>
Fraud: <xsl:value-of select="/root/OrderData/Data/MaxMindFraudScore" /><xsl:text>&#13;&#10;</xsl:text>
Date: <xsl:value-of select="/root/OrderData/Data/OrderDate" />
            </xsl:template>
        </xsl:stylesheet>
    </PackageTransform>
	<!-- mod end -->
</package>
