<?xml version="1.0" encoding="utf-8" ?>
<!-- ##################################################################################	-->
<!-- Copyright AspDotNetStorefront.com. All Rights Reserved.							-->
<!-- http://www.aspdotnetstorefront.com													-->
<!-- For details on this license please visit the product homepage at the URL above.	-->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.												-->
<!-- ##################################################################################	-->
<package displayname="Order Cancel Email" version="2.1" debug="false">
    <PackageTransform>
        <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
            <xsl:output method="html" omit-xml-declaration="yes" encoding="ISO-8859-1" />
            <xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
            <xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />
            <xsl:param name="StoreURL"><xsl:value-of select="/root/Runtime/StoreUrl" /></xsl:param>
            <xsl:param name="StoreId"><xsl:value-of select="/root/Runtime/StoreID" /></xsl:param>
            <xsl:param name="StyleURL"><xsl:value-of select="$StoreURL" />App_Themes/Skin_<xsl:value-of select="aspdnsf:SkinID()" />/style.css</xsl:param>
            <xsl:template match="/">
                <html>
                    <head>
                        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
						<link rel="rel" type="text/css" href="{$StyleURL}"></link>
                        <title><xsl:value-of select="aspdnsf:AppConfig($StoreId, 'StoreName')" disable-output-escaping="yes" /></title>
                    </head>
                    <body>
						Your order from &#0160;<xsl:value-of select="aspdnsf:AppConfig($StoreId, 'StoreName')" disable-output-escaping="yes" /> &#0160;with order number &#0160;<xsl:value-of select="/root/Runtime/ordernumber" /> &#0160;has been canceled.  
					</body>
                </html>
            </xsl:template>
		</xsl:stylesheet>
    </PackageTransform>
</package>
