<?xml version="1.0" encoding="utf-8" ?>
<!-- ##################################################################################	-->
<!-- Copyright AspDotNetStorefront.com. All Rights Reserved.							-->
<!-- http://www.aspdotnetstorefront.com													-->
<!-- For details on this license please visit the product homepage at the URL above.	-->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.												-->
<!-- ##################################################################################	-->
<package displayname="Out Of Stock Notification Email" version="2.1" debug="false">
  <!--<query name="Customer" rowElementName="info">
    <sql>
      <![CDATA[
            select isnull(firstname + ' ' + lastname, '') Fullname, Email from dbo.customer with (nolock) where customerid = @customerid
            ]]>
    </sql>
    <queryparam paramname="@customerid" paramtype="runtime" requestparamname="thiscustomerid" defvalue="0" sqlDataType="int" validationpattern="^\d{1,9}$"/>
  </query>
  <query name="Affiliate" rowElementName="info">
    <sql>
      <![CDATA[
             select isnull(firstname + ' ' + lastname, '') Fullname, Email from dbo.affiliate with (NOLOCK) where affiliateid = @affiliateid
            ]]>
    </sql>
    <queryparam paramname="@affiliateid" paramtype="runtime" requestparamname="thisaffiliateid" defvalue="0" sqlDataType="int" validationpattern="^\d{1,9}$"/>
  </query>-->
  <PackageTransform>
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
      <xsl:output method="html" omit-xml-declaration="yes" encoding="ISO-8859-1" />

      <xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
      <xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />

      <xsl:param name="StoreID" select="/root/Runtime/StoreID" />
      <xsl:variable name="productID" select="/root/Runtime/productID" />
      <xsl:variable name="VID" select="/root/Runtime/VarientID" />

      <xsl:variable name="ProductImage" select="aspdnsf:XmlPackage('vortxmultiimage.xml.config', concat('productid=', ProductID))"/>

      <xsl:template match="/">
        <html>
          <head>
            <title>
              <xsl:value-of select="aspdnsf:AppConfig($StoreID, 'StoreName')" disable-output-escaping="yes" /> ITEM NOW IN STOCK
            </title>
          </head>
          <body>
            <!--<P>
           
             <xsl:value-of select="/root/Runtime/productID" disable-output-escaping="yes"/>
              <br/>
            <xsl:value-of select="/root/Runtime/VarientID" disable-output-escaping="yes"/>
              <br/>
             <xsl:value-of select="/root/Runtime/ProductName" disable-output-escaping="yes"/>
              <br/>
           <xsl:value-of select="/root/Runtime/price" disable-output-escaping="yes"/>
              <br/>
            <xsl:value-of select="/root/Runtime/productLink" disable-output-escaping="yes"/>
              
            </P>-->
           <xsl:variable name="ProdLink">
        <xsl:value-of select="/root/Runtime/productLink" disable-output-escaping="yes" />
      </xsl:variable>
            <xsl:variable name="ImageLink">
        <xsl:value-of select="/root/Runtime/ImagePath" disable-output-escaping="yes" />
      </xsl:variable>
            
            <!--Email Template start from here-->
            <html xmlns="http://www.w3.org/1999/xhtml">
              <head>
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
                <title>Untitled Document</title>
              </head>
                 
              <body>
                <table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                  <tr>
                    <td height="165" valign="middle" style="padding: 0 25px">
                      <img src="https://brandstore.jeld-wen.com/App_Themes/Skin_3/images/logo.png" width="215" height="40" />
                    </td>
                  </tr>
                  <tr>
                    <td bgcolor="#e0e0e0" style="padding: 25px 25px 35px;">
                      <h1 style="font-family:Arial, Helvetica, sans-serif; font-size:24px; font-weight:normal; text-transform:uppercase; margin:10px 0 0; padding:0; color:#1d446b;">Item Now in Stock </h1>
                      <p style="font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight:normal;color:#545759; line-height: 24px; padding:0; margin-bottom:30px;">The JELD-WEN Brand store item you were interested in purchasing is now in stock and available.Please click the button below to view and purchase.</p>
                      <table width="600" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="200">
                            <div style=" border: 15px solid #fff; width:200px; background-color:#fff; text-align:center;">
                              <img width="180px" src="{$ImageLink}" alt="Product" /> </div>
                          </td>
                          <td width="71%" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight:normal;color:#545759; line-height: 24px; padding:0 25px 25px;">
                            <p style="font-family:Arial, Helvetica, sans-serif; font-size:18px; font-weight:normal;color:#545759; line-height: 24px; padding:0; margin-top:0;"><xsl:value-of select="/root/Runtime/ProductName" disable-output-escaping="yes"/></p>
                            <p style="font-family:Arial, Helvetica, sans-serif; font-size:18px; font-weight:normal;color:#545759; line-height: 24px; padding:0; margin-top:0;">
                              <label>Price:</label>
                              <label style="color:#1d446b;"><xsl:value-of select="/root/Runtime/price" disable-output-escaping="yes"/></label>
                            </p>
                            <a href="{$ProdLink}"> 
                          <input type="submit" value="View Product" style=" background-color: #1d446b; color: #ffffff; letter-spacing:1.4px; cursor:pointer; border:none; font-size: 14px; text-transform:uppercase; padding: 8px 18px; display:block; width:100%; margin-top:30px;"/>
                              </a> 
                          </td>
                        </tr>
                  </table>
                </td>
                </tr>
                <tr>
                  <td style="padding: 25px">
                    <p style="font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight:normal;color:#545759; line-height: 24px; padding:0; margin-bottom:30px;">This email was sent from a notification-only address that cannot accept incoming emails.Please do not reply to this message.</p>
                    <p style="font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight:normal;color:#545759; line-height: 10px; padding:0;">
                      2015 , JELD-WEN,Inc.
                    </p>
                     <p style="font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight:normal;color:#545759; line-height: 10px; padding:0;">
                      440 S.Church Street, suite 4000
                    </p>
                      <p style="font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight:normal;color:#545759; line-height: 10px; padding:0;">
                      Charlotte,NC 28202</p>
                      <p style="font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight:normal;color:#545759; line-height: 24px; padding:0; margin-bottom:30px;">
                      <a href="http://communications.jeld-wen.com/preference-center" style="color:#545759;">Signup to Receive JLED-WEN News</a>
                    </p>
                  </td>
                </tr>
                </table>
              </body>
            </html>


            <!--Email template ends here-->
          </body>
        </html>
      </xsl:template>

    </xsl:stylesheet>
  </PackageTransform>
</package>
