<?xml version="1.0" encoding="utf-8" ?>
<!-- ##################################################################################	-->
<!-- Copyright AspDotNetStorefront.com. All Rights Reserved.							-->
<!-- http://www.aspdotnetstorefront.com													-->
<!-- For details on this license please visit the product homepage at the URL above.	-->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.												-->
<!-- ##################################################################################	-->
<package displayname="Email Gift Card" version="2.1" debug="false" allowengine="true">
    <query name="GiftCards" rowElementName="GiftCard">
        <sql>
            <![CDATA[
            select G.*, C.LastName, C.FirstName 
            From dbo.giftcard G with (nolock) join dbo.customer C with (NOLOCK) on G.PurchasedByCustomerID = C.CustomerID where G.GiftCardID = @giftcardID
              ]]>
        </sql>
        <queryparam paramname="@giftcardID" paramtype="runtime" requestparamname="GiftCardID" defvalue="0" sqlDataType="int" validationpattern="^\d{1,9}$"/>
    </query>
    <query name="GCsCount" rowElementName="GCCount">
        <sql>
            <![CDATA[
            select COUNT(C.LastName) AS Bought 
            From giftcard G with (NOLOCK) join customer C with (NOLOCK) on G.PurchasedByCustomerID = C.CustomerID where G.GiftCardID = @giftcardID
              ]]>
        </sql>
        <queryparam paramname="@giftcardID" paramtype="runtime" requestparamname="GiftCardID" defvalue="0" sqlDataType="int" validationpattern="^\d{1,9}$"/>
    </query>
    <PackageTransform>
        <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
            <xsl:output method="html" omit-xml-declaration="yes" encoding="ISO-8859-1" />

          <xsl:param name="StoreID" select="/root/Runtime/StoreID" />
          <xsl:template match="/">
                <xsl:param name="Value">
                    <xsl:choose>
                        <xsl:when test="number(//GiftCard/InitialAmount)=0">Free</xsl:when>
                        <xsl:otherwise>
                            <xsl:value-of select="//GiftCard/InitialAmount" />
                        </xsl:otherwise>
                    </xsl:choose>
                </xsl:param>
                <xsl:param name="RedeemURL">
                    <xsl:choose>
                        <xsl:when test="aspdnsf:AppConfig('GiftCard.RedeemURL')=''">
                            <xsl:value-of select="/root/System/StoreUrl" />
                        </xsl:when>
                        <xsl:otherwise>
                            <xsl:value-of select="aspdnsf:AppConfig('GiftCard.RedeemURL')" />
                        </xsl:otherwise>
                    </xsl:choose>
                </xsl:param>
                <html>
                    <head>
                        <title>
                            <xsl:value-of select="aspdnsf:AppConfig($StoreID, 'StoreName')" disable-output-escaping="yes" /> GiftCard
                        </title>
                    </head>
                    <body>
                        <xsl:if test="//GCsCount/GCCount=0">
                            <p align="center">
                                <span style="color:red; font-weight: bold;">No one has bought this Gift Card</span>
                            </p>
                        </xsl:if>
                        <p>
                            <span style="font-size: 17px; font-weight: bold;">
                                <xsl:value-of select="aspdnsf:AppConfig($StoreID, 'StoreName')" disable-output-escaping="yes" />&#0160; GiftCard
                            </span>
                            
                            <b><xsl:value-of select="//GiftCard/FirstName" />&#160; <xsl:value-of select="//GiftCard/LastName" /></b>&#0160; has just sent you a Gift Card for &#0160;<xsl:value-of select="aspdnsf:AppConfig('StoreName')" disable-output-escaping="yes" />&#0160; in the <b>amount of &#0160;<xsl:value-of select="aspdnsf:FormatCurrency(//GiftCard/InitialAmount, aspdnsf:AppConfig('Localization.StoreCurrency'))" disable-output-escaping="yes" />.</b>
                            
                            <b>
                                <xsl:value-of select="//GiftCard/FirstName" />&#160; <xsl:value-of select="//GiftCard/LastName" />&apos;s Personal Message:  
                            </b>
                            <xsl:value-of select="//GiftCard/EMailMessage" disable-output-escaping="yes" />

                            To use this gift card, visit <a href="{$RedeemURL}"><xsl:value-of select="aspdnsf:AppConfig($StoreID, 'StoreName')" /></a> and enter this<b>GiftCard Number: &#0160;<xsl:value-of select="//GiftCard/SerialNumber" /></b>													    							
                        </p>
                    </body>
                </html>
            </xsl:template>
        </xsl:stylesheet>
    </PackageTransform>
</package>
