<?xml version="1.0" encoding="utf-8" ?>
<!-- ##################################################################################	-->
<!-- Copyright AspDotNetStorefront.com. All Rights Reserved.							-->
<!-- http://www.aspdotnetstorefront.com													-->
<!-- For details on this license please visit the product homepage at the URL above.	-->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.												-->
<!-- ##################################################################################	-->
<package displayname="Order Confirmation Page" version="2.1" debug="false">
  <query name="Promotion" rowElementName="Item">
    <sql>
      <![CDATA[
           select p.usagetext, p.emailtext, p.code from promotions p where id = @promoid
              ]]>
    </sql>
    <queryparam paramname="@promoid" paramtype="runtime" requestparamname="promoid" defvalue="0" sqlDataType="int" validationpattern="^\d{1,9}$"/>
  </query>
  <query name="Customer" rowElementName="Item">
    <sql>
      <![CDATA[
           select customerid, firstname, lastname from customer where customerid = @customerid
              ]]>
    </sql>
    <queryparam paramname="@customerid" paramtype="runtime" requestparamname="customerid" defvalue="0" sqlDataType="int" validationpattern="^\d{1,9}$"/>
  </query>
  <PackageTransform>
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
      <xsl:output method="html" omit-xml-declaration="yes" indent="no"  encoding="utf-8"/>

      <xsl:param name="title" select="/root/Promotion/Item/usagetext" />
      <xsl:param name="message" select="/root/Promotion/Item/emailtext" />
      <xsl:param name="code" select="/root/Promotion/Item/code" />
      <xsl:param name="firstname" select="/root/Customer/Item/firstname" />
      <xsl:param name="lastname" select="/root/Customer/Item/lastname" />

      <xsl:param name="StoreID" select="/root/Runtime/StoreID" />
      
      <xsl:param name="StoreURL">
        <xsl:value-of select="/root/Runtime/StoreUrl" />
      </xsl:param>
      <xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />

      <xsl:template match="/">
        <html>
          <head>
            <title>
              <xsl:value-of select="aspdnsf:AppConfig($StoreID, 'StoreName')" disable-output-escaping="yes" />&#0160;<xsl:value-of select="aspdnsf:StringResource('Promotions.Loyalty.Email.LoyaltyProgramName')" disable-output-escaping="yes" />
            </title>
          </head>
          <body>
            <div style="width:630px">
              <p align="center">
                  <font size="3">
                    <b>
                      <xsl:value-of select="aspdnsf:AppConfig($StoreID, 'StoreName')" disable-output-escaping="yes" />&#0160;<xsl:value-of select="aspdnsf:StringResource('Promotions.Loyalty.Email.LoyaltyProgramName')" disable-output-escaping="yes" />
                    </b>
                  </font>
                  
                  
                  <font size="2">
                    <xsl:variable name="customerName">
                      <xsl:value-of select="$firstname"/>&#0160;<xsl:value-of select="$lastname"/>
                    </xsl:variable>
                    <xsl:value-of select="aspdnsf:StrReplace(aspdnsf:StrReplace(aspdnsf:StringResource('Promotions.Loyalty.Email.QualificationText'), '{0}', $customerName), '{1}', $title)" disable-output-escaping="yes" />
                  </font>
              </p>
              
              <table width="100%" style="font-size:12px">
                <tbody>
                  <tr>
                    <td style="text-align:center; vertical-align:top">
                      <xsl:value-of select="$message" disable-output-escaping="yes" />
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align:center; vertical-align:top">
                      <a href="{$StoreURL}?promo={$code}">Click here</a> or enter <span style="font-weight:bold;font-size:13px;">
                        <xsl:value-of select="$code"/>
                      </span> at checkout.
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </body>
        </html>
      </xsl:template>

    </xsl:stylesheet>
  </PackageTransform>
</package>
