<?xml version="1.0" standalone="yes" ?>
<!-- ##################################################################################	-->
<!-- Copyright AspDotNetStorefront.com. All Rights Reserved.							-->
<!-- http://www.aspdotnetstorefront.com													-->
<!-- For details on this license please visit the product homepage at the URL above.	-->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.												-->
<!-- ##################################################################################	-->
<package version="2.1" displayname="Email product to a friend" debug="false">
	<query name="Products" rowElementName="Product">
		<sql>
			<![CDATA[
				exec dbo.aspdnsf_ProductInfo
					@ProductID = @ProductID,
					@CustomerLevelID = @CustomerLevelID,
					@DefaultVariantOnly = 1,
					@StoreID = @StoreID
      ]]>
		</sql>
		<queryparam paramname="@ProductID"				paramtype="request"	requestparamname="ProductID"				sqlDataType="int"	defvalue="0"	validationpattern="^\d{1,10}$" />
		<queryparam paramname="@CustomerLevelID"	paramtype="runtime"	requestparamname="CustomerLevelID"	sqlDataType="int"	defvalue="0"	validationpattern="" />
		<queryparam paramname="@StoreID"					paramtype="runtime"	requestparamname="StoreID"					sqlDataType="int"	defvalue="1"	validationpattern="" />
	</query>

	<PackageTransform>
        <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
            <xsl:output method="html" omit-xml-declaration="yes" encoding="ISO-8859-1" />

            <xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
            <xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />

          <xsl:param name="StoreID" select="/root/Runtime/StoreID" />

            <xsl:template match="/">
                <xsl:param name="pName">
                    <xsl:choose>
                        <xsl:when test="/root/Products/Product/Name/ml/locale[@name=$LocaleSetting]">
                            <xsl:value-of select="/root/Products/Product/Name/ml/locale[@name=$LocaleSetting]"/>
                        </xsl:when>
                        <xsl:when test="/root/Products/Product/Name/ml/locale[@name=$WebConfigLocaleSetting]">
                            <xsl:value-of select="/root/Products/Product/Name/ml/locale[@name=$WebConfigLocaleSetting]"/>
                        </xsl:when>
                        <xsl:otherwise><xsl:value-of select="/root/Products/Product/Name"/></xsl:otherwise>
                    </xsl:choose>
                </xsl:param>

                <xsl:param name="pVName">
                    <xsl:choose>
                        <xsl:when test="/root/Products/Product/VariantName/ml/locale[@name=$LocaleSetting]">
                            <xsl:value-of select="/root/Products/Product/Name/ml/locale[@name=$LocaleSetting]"/>
                        </xsl:when>
                        <xsl:when test="/root/Products/Product/VariantName/ml/locale[@name=$WebConfigLocaleSetting]">
                            <xsl:value-of select="/root/Products/Product/Name/ml/locale[@name=$WebConfigLocaleSetting]"/>
                        </xsl:when>
                        <xsl:otherwise><xsl:value-of select="/root/Products/Product/VariantName"/></xsl:otherwise>
                    </xsl:choose>
                </xsl:param>
                
                <xsl:param name="FullProductName"><xsl:value-of select="$pName" /><xsl:if test="pVName!=''"> - <xsl:value-of select="$pVName" /></xsl:if></xsl:param>
                
                <xsl:param name="message" select="/root/Runtime/message"></xsl:param>
                <xsl:param name="fromaddress" select="/root/Runtime/fromaddress"></xsl:param>

				<xsl:param name="URL">
					<xsl:value-of select="/root/System/StoreUrl" />
					<xsl:value-of select="aspdnsf:ProductLink(/root/Products/Product/ProductID, /root/Products/Product/SEName, 0, $FullProductName, 1)" />
				</xsl:param>

                    <html>
                    <head>
                        <title><xsl:value-of select="aspdnsf:AppConfig($StoreID, 'StoreName')" disable-output-escaping="yes" /> - <xsl:value-of select="$FullProductName" disable-output-escaping="yes"/></title>
                    </head>
                    <body>
                        <xsl:value-of select="aspdnsf:StrFormatStringresource('emailproduct.aspx.5', $fromaddress, ',')" disable-output-escaping="yes" />
                        <b><xsl:value-of select="aspdnsf:StringResource('emailproduct.aspx.6')" disable-output-escaping="yes" /></b><xsl:value-of select="$message" disable-output-escaping="yes"/>
                        <b><xsl:value-of select="aspdnsf:StrFormatStringresource('emailproduct.aspx.7', $FullProductName, ',')" disable-output-escaping="yes" /></b>
                        URL: <a href="{$URL}"><xsl:value-of select="$URL" /></a>
                        <a href="{$URL}">
                            <img border="0" id="ProductPic{/root/QueryString/productid}" src="{aspdnsf:ProductImageUrl(/root/QueryString/productid, /root/Products/Product/ImageFilenameOverride, /root/Products/Product/SKU, 'medium', 1)}" />
                        </a>
                        <p><xsl:value-of select="aspdnsf:AppConfig($StoreID, 'StoreName')" disable-output-escaping="yes" /><a href="{/root/System/StoreUrl}"><xsl:value-of select="/root/System/StoreUrl" /></a></p>
                    </body>
                    </html>
                </xsl:template>


        </xsl:stylesheet>
    </PackageTransform>
</package>
