<?xml version="1.0" standalone="yes" ?>
<!-- ##################################################################################	-->
<!-- Copyright AspDotNetStorefront.com. All Rights Reserved.							-->
<!-- http://www.aspdotnetstorefront.com													-->
<!-- For details on this license please visit the product homepage at the URL above.	-->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.												-->
<!-- ##################################################################################	-->
<package version="2.1" displayname="Order Shipped" debug="false">
    <query name="Order" rowElementName="OrderInfo">
        <sql>
            <![CDATA[
            select o.*
            From orders o with (NOLOCK) 
            where o.ordernumber = @ordernum
            ]]>
        </sql>
        <queryparam paramname="@ordernum" paramtype="runtime" requestparamname="ordernumber" defvalue="0" sqlDataType="int" validationpattern="^\d{1,9}$"/>
    </query>
    <PackageTransform>
        <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
        <xsl:output method="html" omit-xml-declaration="yes"  encoding="ISO-8859-1" />

            <xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
            <xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />
            <xsl:param name="ShowCustomerServiceNotesInReceipts" select="aspdnsf:AppConfigBool('ShowCustomerServiceNotesInReceipts')" />
            <xsl:param name="StoreURL"><xsl:value-of select="/root/Runtime/StoreUrl" /></xsl:param>

            <xsl:variable name="StoreId" select="root/Order/OrderInfo/StoreID" />
          
        <xsl:template match="/">
            <html xmlns="http://www.w3.org/1999/xhtml">
                <head>
                    <title><xsl:value-of select="aspdnsf:AppConfig($StoreId, 'StoreName')" disable-output-escaping="yes" /> - <xsl:value-of select="aspdnsf:StringResource('notification.shipped.7')" disable-output-escaping="yes" /></title>
                </head>
                <body>
                  <xsl:choose>
                    <xsl:when test="count(/root/Order/OrderInfo) > 0">
                      <div style="font:normal 10pt Arial;color:;#000080;">
                        <xsl:value-of select="aspdnsf:StringResource('notification.shipped.1')" disable-output-escaping="yes" />&#0160;<xsl:value-of select="/root/Order/OrderInfo/OrderNumber" /> &#0160;<xsl:value-of select="aspdnsf:StringResource('notification.shipped.2')" disable-output-escaping="yes" />&#0160;<xsl:value-of select="/root/Order/OrderInfo/ShippedVIA" />.
                        <xsl:value-of select="aspdnsf:StringResource('notification.shipped.3')" disable-output-escaping="yes" />&#0160;<xsl:value-of select="/root/Order/OrderInfo/ShippingTrackingNumber" />
                        <xsl:value-of select="aspdnsf:StringResource('notification.shipped.4')" disable-output-escaping="yes" />&#0160;<a href="{$StoreURL}">
                          <xsl:value-of select="aspdnsf:AppConfig($StoreId, 'StoreName')" disable-output-escaping="yes" />
                        </a>.
                      </div>
                      <div style="font:normal 10pt Arial;color:;#000080;">
                        <strong>
                          <a href="{$StoreURL}">
                            <xsl:value-of select="aspdnsf:AppConfig($StoreId, 'StoreName')" disable-output-escaping="yes" />
                          </a>&#0160;<xsl:value-of select="aspdnsf:StringResource('notification.shipped.5')" disable-output-escaping="yes" />
                        </strong>
                      </div>
                      <p>
                        <font face="Arial" size="1">
                          <xsl:value-of select="aspdnsf:StringResource('notification.shipped.6')" disable-output-escaping="yes" />
                        </font>
                      </p>
                      <p>&#0160;</p>
                    </xsl:when>
                    <xsl:otherwise>
                      <div style="font:normal 10pt Arial;color:;#000080;">
                        <xsl:value-of select="aspdnsf:StringResource('notification.shipped.1')" disable-output-escaping="yes" />&#0160;9999999&#0160;<xsl:value-of select="aspdnsf:StringResource('notification.shipped.2')" disable-output-escaping="yes" />&#0160;GROUND.
                        <xsl:value-of select="aspdnsf:StringResource('notification.shipped.3')" disable-output-escaping="yes" />&#0160;1234567
                        <xsl:value-of select="aspdnsf:StringResource('mailingtest.aspx.10')"/>:&#160;<xsl:value-of select="/root/System/Date"/>&#160;<xsl:value-of select="/root/System/Time"/>
                        
                      </div>
                      <div style="font:normal 10pt Arial;color:;#000080;">
                        <strong>
                          <a href="{$StoreURL}">
                            <xsl:value-of select="aspdnsf:AppConfig($StoreId, 'StoreName')" disable-output-escaping="yes" />
                          </a>&#0160;<xsl:value-of select="aspdnsf:StringResource('notification.shipped.5')" disable-output-escaping="yes" />
                        </strong>
                      </div>
                      <p>
                        <font face="Arial" size="1">
                          <xsl:value-of select="aspdnsf:StringResource('notification.shipped.6')" disable-output-escaping="yes" />
                        </font>
                      </p>
                      <p>&#0160;</p>
                    </xsl:otherwise>
                  </xsl:choose>

                </body>
            </html>
        </xsl:template>
        </xsl:stylesheet>
    </PackageTransform>
</package>
