<?xml version="1.0" encoding="utf-8" ?>
<!-- ##################################################################################	-->
<!-- Copyright AspDotNetStorefront.com. All Rights Reserved.							-->
<!-- http://www.aspdotnetstorefront.com													-->
<!-- For details on this license please visit the product homepage at the URL above.	-->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.												-->
<!-- ##################################################################################	-->
<package displayname="Email Gift Card" version="2.1" debug="false" allowengine="true">
		<query name="Downloads" rowElementName="Download">
				<sql>
						<![CDATA[
           SELECT OrderNumber, CustomerId, OrderedProductVariantName, OrderedProductName, DownloadStatus, DownloadLocation, DownloadValidDays, DownloadCategory, DownloadReleasedOn, CreatedOn 
					 FROM Orders_ShoppingCart with (NOLOCK) WHERE ShoppingCartRecID = @ShoppingCartRecID
              ]]>
				</sql>
				<queryparam paramname="@ShoppingCartRecID" paramtype="runtime" requestparamname="ShoppingCartRecID" defvalue="0" sqlDataType="int" validationpattern="^\d{1,9}$"/>
		</query>
		<PackageTransform>
				<xsl:stylesheet version="1.0"
						xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
						xmlns:aspdnsf="urn:aspdnsf"
						xmlns:receipt="urn:receipt"
						xmlns:msxsl="urn:schemas-microsoft-com:xslt"
						exclude-result-prefixes="receipt" >
						<xsl:output method="html" omit-xml-declaration="yes" encoding="utf-8"/>
						<xsl:param name="skinID">
								<xsl:choose>
										<xsl:when test="number(/root/Cookies/skinid) > 0">
												<xsl:value-of select="/root/Cookies/skinid" />
										</xsl:when>
										<xsl:otherwise>
												<xsl:value-of select="aspdnsf:SkinID()" />
										</xsl:otherwise>
								</xsl:choose>
						</xsl:param>
						<xsl:param name="StoreID" select="/root/Runtime/StoreID" />
						<xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
						<xsl:template match="/">
								<html>
										<head>
												<title>
														<xsl:value-of select="aspdnsf:AppConfig($StoreID, 'StoreName')" disable-output-escaping="yes" /> Download
												</title>
										</head>
										<body>
												<xsl:value-of select="receipt:GetReceiptCss($skinID)" disable-output-escaping="yes" />
												<div style="width:630px">
														<xsl:value-of select="aspdnsf:Topic('Download.EmailHeader', '0', $StoreID)" disable-output-escaping="yes" />
														<p>
																<span style="font-size: 17px; font-weight: bold;">
																		<xsl:value-of select="aspdnsf:AppConfig($StoreID, 'StoreName')" disable-output-escaping="yes" />&#0160;<xsl:value-of select="aspdnsf:StringResource('notification.downloadreleased.2', $LocaleSetting)" disable-output-escaping="yes" />
																</span>
														</p>
														
														
														<p>
																<xsl:value-of select="aspdnsf:StringResource('notification.downloadreleased.3', $LocaleSetting)" disable-output-escaping="yes" />&#0160;
																<xsl:value-of select="/root/Downloads/Download/OrderedProductName" disable-output-escaping="yes"/>&#0160;<xsl:if test="string-length(/root/Downloads/Download/OrderedProductVariantName) &gt; 0">- <xsl:value-of select="/root/Downloads/Download/OrderedProductVariantName" disable-output-escaping="yes"/></xsl:if>
														</p>
														
														
														<div>
																<xsl:value-of select="aspdnsf:StringResource('notification.downloadreleased.4', $LocaleSetting)" disable-output-escaping="yes" />
																<a href="{/root/System/StoreUrl}downloads.aspx">
																		<xsl:value-of select="aspdnsf:StringResource('notification.downloadreleased.5', $LocaleSetting)" disable-output-escaping="yes" />&#0160;<xsl:value-of select="aspdnsf:AppConfig($StoreID, 'StoreName')" />.
																</a>
														</div>
														<xsl:value-of select="aspdnsf:Topic('Download.EmailFooter', '0', $StoreID)" disable-output-escaping="yes" />
												</div>
										</body>
								</html>
						</xsl:template>
				</xsl:stylesheet>
		</PackageTransform>
</package>
