<?xml version="1.0" standalone="yes" ?>
<!-- ##################################################################################	-->
<!-- Copyright AspDotNetStorefront.com. All Rights Reserved.							-->
<!-- http://www.aspdotnetstorefront.com													-->
<!-- For details on this license please visit the product homepage at the URL above.	-->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.												-->
<!-- ##################################################################################	-->
<package version="2.1" displayname="SMS Order Notification Contents" debug="false">
  <query name="OrderData" rowElementName="Data">
        <sql>
            <![CDATA[
            select OrderNumber, CustomerID, OrderDate, ShippingMethod, convert(decimal(10,2), OrderTotal) OrderTotal, PaymentMethod 
            from dbo.orders  with (nolock)
            where OrderNumber = @ordernumber

            ]]>
        </sql>
        <queryparam paramname="@ordernumber" paramtype="runtime" requestparamname="ordernumber" sqlDataType="int" like="no" defvalue="0"  validationpattern="^\d{1,9}$" />

    </query>
    <PackageTransform>
        <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
          <xsl:output method="html" omit-xml-declaration="yes" encoding="ISO-8859-1" />
            <xsl:template match="/">
                <html>
			<head>
			<title>New Order Notification</title>
			</head>
			<body>
        <xsl:choose>
          <xsl:when test="count(/root/OrderData/Data) > 0">
            <b>Order Number:</b>
            <xsl:value-of select="/root/OrderData/Data/OrderNumber" />
            
            <b>Order Total:</b>
            <xsl:value-of select="/root/OrderData/Data/OrderTotal" />
            
            <b>Order Date:</b>
            <xsl:value-of select="/root/OrderData/Data/OrderDate" />
            
            <xsl:if test="number(OrderTotal)!=0">
                <b>Payment Method:</b>
                <xsl:value-of select="/root/OrderData/Data/PaymentMethod" />
                
            </xsl:if>
            <b>Shipping Method:</b>
            <xsl:value-of select="/root/OrderData/Data/ShippingMethod" />
            
            <b>Customer ID:</b>
            <xsl:value-of select="/root/OrderData/Data/CustomerID" />
            
            <a href="{/root/System/StoreUrl}receipt.aspx?ordernumber={/root/Runtime/ordernumber}&amp;customerid={customerid}">View online receipt</a>
            
          </xsl:when>
          <xsl:otherwise>
              <b>Order Number:&#160;</b>
              999999
              
              <b>Order Total:&#160;</b>
              $0.00
              
              <b>Order Date:&#160;</b>
              <xsl:value-of select="/root/System/Date"/>&#160;<xsl:value-of select="/root/System/Time"/>
              
              <b>Payment Method:&#160;</b>
              CREDIT CARD
              
              <b>Shipping Method:&#160;</b>
              GROUND
              
              <b>Customer ID:&#160;</b>
              <xsl:value-of select="/root/System/CustomerID" />
              
              
              <xsl:value-of select="aspdnsf:StringResource('mailingtest.aspx.2')"/>
          </xsl:otherwise>
        </xsl:choose>
			</body>
			</html>
            </xsl:template>
        </xsl:stylesheet>
    </PackageTransform>
</package>
