<?xml version="1.0" encoding="utf-8" ?>
<!-- ##################################################################################	-->
<!-- Copyright AspDotNetStorefront.com. All Rights Reserved.							-->
<!-- http://www.aspdotnetstorefront.com													-->
<!-- For details on this license please visit the product homepage at the URL above.	-->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.												-->
<!-- ##################################################################################	-->
<package displayname="Lost Password Notification Email" version="2.1" debug="false">
  <query name="Customer" rowElementName="info">
    <sql>
      <![CDATA[
            select isnull(firstname + ' ' + lastname, '') Fullname, Email from dbo.customer with (nolock) where customerid = @customerid
            ]]>
    </sql>
    <queryparam paramname="@customerid" paramtype="runtime" requestparamname="thiscustomerid" defvalue="0" sqlDataType="int" validationpattern="^\d{1,9}$"/>
  </query>
  <query name="Affiliate" rowElementName="info">
    <sql>
      <![CDATA[
             select isnull(firstname + ' ' + lastname, '') Fullname, Email from dbo.affiliate with (NOLOCK) where affiliateid = @affiliateid
            ]]>
    </sql>
    <queryparam paramname="@affiliateid" paramtype="runtime" requestparamname="thisaffiliateid" defvalue="0" sqlDataType="int" validationpattern="^\d{1,9}$"/>
  </query>
  <PackageTransform>
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
      <xsl:output method="html" omit-xml-declaration="yes" encoding="ISO-8859-1" />

      <xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
      <xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />

      <xsl:param name="StoreID" select="/root/Runtime/StoreID" />
	  
	  <xsl:variable name="contactUs">
		  <xsl:value-of select="aspdnsf:StringResource('notification.contactus.email')" disable-output-escaping="yes" />
	  </xsl:variable>

      <xsl:template match="/">
        <html>
          <head>
            <title>
              <xsl:value-of select="aspdnsf:AppConfig($StoreID, 'StoreName')" disable-output-escaping="yes" /> - Password Reset
            </title>
          </head>
          <body>
            <xsl:choose>
              <xsl:when test="/root/Runtime/thiscustomerid">
                You have been previously pre-registered for the <xsl:value-of select="aspdnsf:AppConfig($StoreID, 'StoreName')" disable-output-escaping="yes" /> Merchandise Store. Your login ID is your email address, <xsl:value-of select="/root/Customer/info/Email" disable-output-escaping="yes" />, and your password has been set to <xsl:value-of select="/root/Runtime/newpwd" disable-output-escaping="yes" />. <b>You will be required to change it the next time you log in</b>.
                <br/><br/>
                Please click <a href="{/root/System/StoreUrl}" target="_blank">here</a> to log in and begin shopping.
                <br/><br/>
                If you have any questions, do not hesitate to contact us at 
                <a href="mailto:{$contactUs}" alt="Contact Us"><xsl:value-of select='$contactUs' disable-output-escaping='yes'/></a>.  
                <br/><br/>
                Happy shopping!
                <br/>
                <a href='{/root/System/StoreUrl}' alt='Website URL'><xsl:value-of select="/root/System/StoreUrl" disable-output-escaping="yes"/></a>
              </xsl:when>
              <xsl:otherwise>
                <b>
                  <xsl:value-of select="aspdnsf:AppConfig($StoreID, 'StoreName')" disable-output-escaping="yes" />&#0160;<xsl:value-of select="/root/Runtime/AffName" /> - Password Reset
                </b>
                <br/><br/>
                <xsl:if test="/root/Affiliate/info/Fullname!=''">
                  <xsl:value-of select="/root/Affiliate/info/Fullname" disable-output-escaping="yes" />, your
                </xsl:if><xsl:if test="/root/Customer/info/Fullname=''">Your</xsl:if> password has been reset.<br/><br/>The new password is:  <xsl:value-of select="/root/Runtime/newpwd" disable-output-escaping="yes" />
                <br/><br/>Login <a href="{/root/System/StoreUrl}lat_signin.aspx" target="_blank">here</a>
              </xsl:otherwise>
            </xsl:choose>

          </body>
        </html>
      </xsl:template>

    </xsl:stylesheet>
  </PackageTransform>
</package>
