<?xml version="1.0" standalone="yes" ?>
<!-- ##################################################################################	-->
<!-- Copyright AspDotNetStorefront.com. All Rights Reserved.							-->
<!-- http://www.aspdotnetstorefront.com													-->
<!-- For details on this license please visit the product homepage at the URL above.	-->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.												-->
<!-- ##################################################################################	-->
<package version="2.1" displayname="Advanced Search Form" debug="false" includeentityhelper="true">
	<query name="Products" rowElementName="Product" runif="SearchTerm">
		<sql>
			<![CDATA[
      DECLARE @FinalSearchTerm NVARCHAR(4000)

      SET @FinalSearchTerm = CASE 
						WHEN DATALENGTH(@FormSearchTerm) > 0 THEN @FormSearchTerm
						ELSE @SearchTerm
					END
          
				exec aspdnsf_GetProducts 
					@categoryID = @CatID,
					@sectionID = @SecID,
					@manufacturerID = @ManID,
					@distributorID = @DistID,
					@localeName = @locale,
					@CustomerLevelID = @CustLevelID,
					@affiliateID = @AffID,
					@ProductTypeID = @ProdTypeID, 
					@ViewType = 0,
					@pagenum = 1,
					@pagesize = 2147483647,
					@StatsFirst = 0,
					@searchstr = @FinalSearchTerm,
					@extSearch = @SearchDescriptions,
					@publishedonly = 1,
					@ExcludePacks = 0,
					@ExcludeKits = 0,
					@ExcludeSysProds = 1,
					@storeID = @StoreID,
					@filterProduct = @FilterProduct
			]]>
		</sql>
		<queryparam paramname="@CatID"				paramtype="request" requestparamname="CategoryID"			sqlDataType="int"		defvalue="0"		 validationpattern="" />
		<queryparam paramname="@SecID"				paramtype="request" requestparamname="SectionID"			sqlDataType="int"		defvalue="0"		 validationpattern="" />
		<queryparam paramname="@ManID"				paramtype="request" requestparamname="ManufacturerID"		sqlDataType="int"		defvalue="0"		 validationpattern="" />
		<queryparam paramname="@DistID"				paramtype="request" requestparamname="DistributorID"		sqlDataType="int"		defvalue="0"		 validationpattern="" />
		<queryparam paramname="@locale"				paramtype="runtime" requestparamname="LocaleSetting"		sqlDataType="varchar"	defvalue="en-US"	 validationpattern="" />
		<queryparam paramname="@CustLevelID"		paramtype="runtime" requestparamname="CustomerLevelID"		sqlDataType="int"		defvalue="0"		 validationpattern="" />
		<queryparam paramname="@AffID"				paramtype="runtime" requestparamname="AffiliateID"			sqlDataType="int"		defvalue="0"		 validationpattern="" />
		<queryparam paramname="@ProdTypeID"			paramtype="request" requestparamname="ProductTypeID"		sqlDataType="int"		defvalue="null"		 validationpattern="" />
		<queryparam paramname="@SearchTerm"			paramtype="request" requestparamname="SearchTerm"			sqlDataType="varchar"	defvalue=""			 validationpattern="" />
    <queryparam paramname="@FormSearchTerm"			paramtype="form" requestparamname="searchterm"			sqlDataType="varchar"	defvalue=""			 validationpattern="" />
		<queryparam paramname="@SearchDescriptions"	paramtype="request" requestparamname="SearchDescriptions"	sqlDataType="tinyint"	defvalue="0"		 validationpattern="" />
		<queryparam paramname="@StoreID"			paramtype="runtime" requestparamname="StoreID"				sqlDataType="int"		defvalue="1"		 validationpattern="" />
		<queryparam paramname="@FilterProduct"		paramtype="runtime" requestparamname="FilterProduct"		sqlDataType="bit"		defvalue="0"		 validationpattern="" />
	</query>

	<query name="Categories" rowElementName="Category" runif="SearchTerm">
		<sql>
			<![CDATA[
				exec aspdnsf_SearchCategories @SearchTerm, @CatID, @StoreID, @FilterEntity
			]]>
		</sql>
		<queryparam paramname="@SearchTerm"		paramtype="request"	requestparamname="SearchTerm"	sqlDataType="varchar"	defvalue=""		validationpattern="" />
		<queryparam paramname="@CatID"			paramtype="request"	requestparamname="CategoryID"	sqlDataType="int"		defvalue="0"	validationpattern="" />
		<queryparam paramname="@StoreID"		paramtype="runtime"	requestparamname="StoreID"		sqlDataType="int"		defvalue="1"	validationpattern="" />
		<queryparam paramname="@FilterEntity"	paramtype="runtime"	requestparamname="FilterEntity"	sqlDataType="bit"		defvalue="0"	validationpattern="" />
	</query>

	<query name="Sections" rowElementName="Section" runif="SearchTerm">
		<sql>
			<![CDATA[
			exec aspdnsf_SearchSections @SearchTerm, @SecID, @StoreID, @FilterEntity
			]]>
		</sql>
		<queryparam	paramname="@SearchTerm"		paramtype="request"	requestparamname="SearchTerm"	sqlDataType="varchar"	defvalue=""		validationpattern="" />
		<queryparam	paramname="@SecID"			paramtype="request"	requestparamname="SectionID"	sqlDataType="int"		defvalue="0"	validationpattern="" />
		<queryparam	paramname="@StoreID"		paramtype="runtime"	requestparamname="StoreID"		sqlDataType="int"		defvalue="1"	validationpattern="" />
		<queryparam	paramname="@FilterEntity"	paramtype="runtime"	requestparamname="FilterEntity"	sqlDataType="bit"		defvalue="0"	validationpattern="" />
	</query>

	<query name="Manufacturers" rowElementName="Manufacturer" runif="SearchTerm">
		<sql>
			<![CDATA[
			exec aspdnsf_SearchManufacturers @SearchTerm, @ManID, @StoreID, @FilterEntity
			]]>
		</sql>
		<queryparam paramname="@SearchTerm"		paramtype="request"	requestparamname="SearchTerm"		sqlDataType="varchar"	defvalue=""		validationpattern="" />
		<queryparam paramname="@ManID"			paramtype="request"	requestparamname="ManufacturerID"	sqlDataType="int"		defvalue="0"	validationpattern="" />
		<queryparam paramname="@StoreID"		paramtype="runtime"	requestparamname="StoreID"			sqlDataType="int"		defvalue="1"	validationpattern="" />
		<queryparam paramname="@FilterEntity"	paramtype="runtime"	requestparamname="FilterEntity"		sqlDataType="bit"		defvalue="0"	validationpattern="" />
	</query>

	<query name="Distributors" rowElementName="Distributor" runif="SearchTerm">
		<sql>
			<![CDATA[
			exec aspdnsf_SearchDistributors @SearchTerm, @DistributorID, @StoreID, @FilterEntity
			]]>
		</sql>
		<queryparam paramname="@SearchTerm"		paramtype="request"	requestparamname="SearchTerm"		sqlDataType="varchar"	defvalue=""		validationpattern="" />
		<queryparam paramname="@DistributorID"	paramtype="request"	requestparamname="DistributorID"	sqlDataType="int"		defvalue="0"	validationpattern="" />
		<queryparam paramname="@StoreID"		paramtype="runtime"	requestparamname="StoreID"			sqlDataType="int"		defvalue="1"	validationpattern="" />
		<queryparam paramname="@FilterEntity"	paramtype="runtime"	requestparamname="FilterEntity"		sqlDataType="bit"		defvalue="0"	validationpattern="" />
	</query>

	<query name="ProductTypes" rowElementName="ProductType">
		<sql>
			<![CDATA[
			select ProductTypeID, Name, DisplayOrder from ProductType with (nolock) order by DisplayOrder,Name
			]]>
		</sql>
	</query>



	<PackageTransform>
		<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
			<xsl:output method="html" omit-xml-declaration="yes" />

			<xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
			<xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />
			<xsl:param name="MinPrice">
				<xsl:choose>
					<xsl:when test="/root/Form/minprice!=''">
						<xsl:value-of select="/root/Form/minprice" />
					</xsl:when>
					<xsl:otherwise>0</xsl:otherwise>
				</xsl:choose>
			</xsl:param>

			<xsl:param name="MaxPrice">
				<xsl:choose>
					<xsl:when test="/root/Form/maxprice!=''">
						<xsl:value-of select="/root/Form/maxprice" />
					</xsl:when>
					<xsl:otherwise>9999999999</xsl:otherwise>
				</xsl:choose>
			</xsl:param>
			<xsl:param name="SearchTerm">
				<xsl:choose>
					<xsl:when test="string-length(/root/Form/searchterm) > 0">
						<xsl:value-of select="/root/Form/searchterm" />
					</xsl:when>
					<xsl:otherwise>
						<xsl:value-of select="/root/QueryString/searchterm" />
					</xsl:otherwise>
				</xsl:choose>
			</xsl:param>
			<xsl:variable name="ProductIdsOnPage">
				<xsl:for-each select="/root/Products/Product/ProductID">
					<xsl:value-of select="." />
					<xsl:if test="position() != last()">
						<xsl:text>,</xsl:text>
					</xsl:if>
				</xsl:for-each>
			</xsl:variable>
			<xsl:variable name="AvailablePromotions" select="aspdnsf:XmlPackageAsXml('availablePromotions.xml.config', concat('productIdList=', $ProductIdsOnPage))/root/Promotions" />
			<xsl:variable name="SearchProductGridColumns" select="number(aspdnsf:AppConfig('Search_NumberOfColumns'))" />
			<xsl:variable name="GridItemCSSClassName">
				<xsl:choose>
					<xsl:when test="$SearchProductGridColumns = 1">full-width</xsl:when>
					<xsl:when test="$SearchProductGridColumns = 2">one-half</xsl:when>
					<xsl:when test="$SearchProductGridColumns = 3">one-third</xsl:when>
					<xsl:when test="$SearchProductGridColumns = 4">one-fourth</xsl:when>
					<xsl:when test="$SearchProductGridColumns = 5">one-fifth</xsl:when>
					<xsl:when test="$SearchProductGridColumns = 6">one-sixth</xsl:when>
					<xsl:otherwise>one-fourth</xsl:otherwise>
				</xsl:choose>
			</xsl:variable>

			<xsl:template match="/">
				<div class="page-wrap advanced-search-page">
					<xsl:value-of select="aspdnsf:Topic('SearchPageHeader')" disable-output-escaping="yes" />
					<p class="advanced-search-prompt">
						<xsl:value-of select="aspdnsf:StringResource('searchadv.aspx.2', $LocaleSetting)" disable-output-escaping="yes" />
					</p>
					<div class="form advanced-search-form-wrap">
						<div class="form-group search-for">
							<input type="hidden" name="IsSubmit" value="true" />
							<label for="SearchTerm">
								<xsl:value-of select="aspdnsf:StringResource('searchadv.aspx.3', $LocaleSetting)" />
								<xsl:text>&#32;</xsl:text>
							</label>
							<xsl:text>&#32;</xsl:text>
							<input type="text" id="SearchTerm" name="SearchTerm" maxlength="70" value="{$SearchTerm}" class="form-control advanced-search-term-box" />
							<input type="hidden" name="SearchTerm_Vldt" value="[req][len={aspdnsf:AppConfig('MinSearchStringLength')}][blankalert={aspdnsf:StringResource('search.aspx.4', $LocaleSetting)}]" />
						</div>
						<div class="form-group search-descriptions">
							<label for="SearchDescriptions">
								<xsl:value-of select="aspdnsf:StringResource('searchadv.aspx.4', $LocaleSetting)" />&#0160;&#0160;
							</label>
							<span class="advanced-search-control-wrap">
								<span class="search-descriptions-yes-wrap">
									<label class="search-descriptions-yes-label">
										<input type="radio" name="SearchDescriptions" value="1" class="search-descriptions-yes">
											<xsl:if test="/root/Form/searchdescriptions = 1">
												<xsl:attribute name="checked">checked</xsl:attribute>
											</xsl:if>
										</input>
										<xsl:value-of select="aspdnsf:StringResource('searchadv.aspx.5', $LocaleSetting)"/>
									</label>
								</span>
								<span class="search-descriptions-no-wrap">
									<label class="search-descriptions-no-label">
										<input type="radio" name="SearchDescriptions" value="0" class="search-descriptions-no">
											<xsl:if test="/root/Form/searchdescriptions = 0 or not(boolean(/root/Form/searchdescriptions))">
												<xsl:attribute name="checked">checked</xsl:attribute>
											</xsl:if>
										</input>
										<xsl:value-of select="aspdnsf:StringResource('searchadv.aspx.6', $LocaleSetting)"/>
									</label>
								</span>
							</span>
						</div>
						<xsl:if test="aspdnsf:AppConfigBool('SearchAdv_ShowProductType')='true'">
							<div class="form-group product-type">
								<label for="ProductTypeID">
									<xsl:value-of select="aspdnsf:StringResource('searchadv.aspx.7', $LocaleSetting)" />
									<xsl:text>&#32;</xsl:text>
								</label>
								<xsl:text>&#32;</xsl:text>
								<span class="advanced-search-control-wrap">
									<select name="ProductTypeID" id="ProductTypeID" class="form-control advanced-search-product-type">
										<option value="0">
											<xsl:value-of select="aspdnsf:StringResource('searchadv.aspx.8', $LocaleSetting)" disable-output-escaping="yes" />
										</option>
										<xsl:apply-templates select="/root/ProductTypes/ProductType" />
									</select>
								</span>
							</div>
						</xsl:if>
						<xsl:if test="aspdnsf:AppConfigBool('SearchAdv_ShowCategory')='true'">
							<div class="form-group search-category">
								<label for="CategoryID">
									<xsl:value-of select="aspdnsf:StringResource('AppConfig.CategoryPromptSingular', $LocaleSetting)" />
									<xsl:text>:&#32;</xsl:text>
								</label>
								<xsl:text>&#32;</xsl:text>
								<span class="advanced-search-control-wrap">
									<select onChange="theForm.submit()" name="CategoryID" id="CategoryID" class="form-control advanced-search-category">
										<option value="0">
											<xsl:value-of select="aspdnsf:StringResource('searchadv.aspx.9', $LocaleSetting)" disable-output-escaping="yes" />
										</option>
										<xsl:for-each select="/root/EntityHelpers/Category/Entity">
											<xsl:call-template name="EntityOption">
												<xsl:with-param name="selected" select="/root/Form/categoryid" />
											</xsl:call-template>
										</xsl:for-each>
									</select>
								</span>
							</div>
						</xsl:if>
						<xsl:if test="aspdnsf:AppConfigBool('SearchAdv_ShowSection')='true'">
							<div class="form-group search-section">
								<label for="SectionID">
									<xsl:value-of select="aspdnsf:StringResource('AppConfig.SectionPromptSingular', $LocaleSetting)" />
									<xsl:text>:&#32;</xsl:text>
								</label>
								<xsl:text>&#32;</xsl:text>
								<span class="advanced-search-control-wrap">
									<select onChange="theForm.submit()" name="SectionID" id="SectionID" class="form-control advanced-search-section">
										<option value="0">
											<xsl:value-of select="aspdnsf:StringResource('searchadv.aspx.9', $LocaleSetting)" disable-output-escaping="yes" />
										</option>
										<xsl:for-each select="/root/EntityHelpers/Section/Entity">
											<xsl:call-template name="EntityOption">
												<xsl:with-param name="selected" select="/root/Form/sectionid" />
											</xsl:call-template>
										</xsl:for-each>
									</select>
								</span>
							</div>
						</xsl:if>
						<xsl:if test="aspdnsf:AppConfigBool('SearchAdv_ShowManufacturer')='true'">
							<div class="form-group search-manufacturer">
								<label for="ManufacturerID">
									<xsl:value-of select="aspdnsf:StringResource('searchadv.aspx.18', $LocaleSetting)" disable-output-escaping="yes" />
									<xsl:text>:&#32;</xsl:text>
								</label>
								<xsl:text>&#32;</xsl:text>
								<span class="advanced-search-control-wrap">
									<select onChange="theForm.submit()" name="ManufacturerID" id="ManufacturerID" class="form-control advanced-search-manufacturer">
										<option value="0">
											<xsl:value-of select="aspdnsf:StringResource('searchadv.aspx.9', $LocaleSetting)" disable-output-escaping="yes" />
										</option>
										<xsl:for-each select="/root/EntityHelpers/Manufacturer/Entity">
											<xsl:call-template name="EntityOption">
												<xsl:with-param name="selected" select="/root/Form/manufacturerid" />
											</xsl:call-template>
										</xsl:for-each>
									</select>
								</span>
							</div>
						</xsl:if>
						<xsl:if test="aspdnsf:AppConfigBool('SearchAdv_ShowDistributor')='true'">
							<div class="form-group search-distributor">
								<label for="DistributorID">
									<xsl:value-of select="aspdnsf:StringResource('searchadv.aspx.22', $LocaleSetting)" disable-output-escaping="yes" />
									<xsl:text>:&#32;</xsl:text>
								</label>
								<xsl:text>&#32;</xsl:text>
								<span class="advanced-search-control-wrap">
									<select onChange="theForm.submit()" name="DistributorID" id="DistributorID" class="form-control advanced-search-distributor">
										<option value="0">
											<xsl:value-of select="aspdnsf:StringResource('searchadv.aspx.9', $LocaleSetting)" disable-output-escaping="yes" />
										</option>
										<xsl:for-each select="/root/EntityHelpers/Distributor/Entity">
											<xsl:call-template name="EntityOption">
												<xsl:with-param name="selected" select="/root/Form/distributorid" />
											</xsl:call-template>
										</xsl:for-each>
									</select>
								</span>
							</div>
						</xsl:if>
						<xsl:if test="aspdnsf:AppConfigBool('SearchAdv_ShowPriceRange')='true'">
							<div class="form-group advanced-search-control-wrap price-range-min">
								<label for="MinPrice">
									<xsl:value-of select="aspdnsf:StringResource('searchadv.aspx.12', $LocaleSetting)" />
								</label>
								<xsl:text>&#32;</xsl:text>
								<input type="text" maxLength="10" name="MinPrice" id="MinPrice" value="{/root/Form/minprice}" class="form-control search-advanced-min-price" />
								<input type="hidden" name="MinPrice_vldt" value="[number][invalidalert={aspdnsf:StringResource('searchadv.aspx.13', $LocaleSetting)}]" />
							</div>
							<div class="form-group advanced-search-control-wrap price-range-min">
								<label for="MaxPrice">
									<xsl:value-of select="aspdnsf:StringResource('searchadv.aspx.14', $LocaleSetting)" />
									<xsl:text>&#32;</xsl:text>
								</label>
								<input type="text" maxLength="10" name="MaxPrice" id="MaxPrice" value="{/root/Form/maxprice}"  class="form-control search-advanced-max-price" />
								<input type="hidden" name="MaxPrice_vldt" value="[number][invalidalert={aspdnsf:StringResource('searchadv.aspx.13', $LocaleSetting)}]" />
							</div>
						</xsl:if>
						<div class="form-group advanced-search-submit-wrap">
							<input type="submit" value="{aspdnsf:StringResource('searchadv.aspx.23', $LocaleSetting)}" name="SubmitSearch" id="SubmitSearch" class="button call-to-action" />
						</div>
					</div>

					<xsl:if test="aspdnsf:AppConfigBool('Search_ShowCategoriesInResults')='true' and count(/root/Categories/Category)>0">
						<div class="group-header search-page-header search-page-category-header">
							<xsl:value-of select="aspdnsf:StringResource('Header.SearchCategories', $LocaleSetting)" disable-output-escaping="yes" />
						</div>
						<ul class="search-page-entity-list search-page-categories">
							<xsl:apply-templates select="/root/Categories/Category" />
						</ul>
					</xsl:if>

					<xsl:if test="aspdnsf:AppConfigBool('Search_ShowSectionsInResults')='true' and count(/root/Sections/Section)>0">
						<div class="group-header search-page-header search-page-section-header">
							<xsl:value-of select="aspdnsf:StringResource('Header.SearchSections', $LocaleSetting)" disable-output-escaping="yes" />
						</div>
						<ul class="search-page-entity-list search-page-sections">
							<xsl:apply-templates select="/root/Sections/Section" />
						</ul>
					</xsl:if>

					<xsl:if test="aspdnsf:AppConfigBool('Search_ShowManufacturersInResults')='true' and count(/root/Manufacturers/Manufacturer)>0">
						<div class="group-header search-page-header search-page-manufacturer-header">
							<xsl:value-of select="aspdnsf:StringResource('Header.SearchManufacturers', $LocaleSetting)" disable-output-escaping="yes" />
						</div>
						<ul class="search-page-entity-list search-page-manufacturers">
							<xsl:apply-templates select="/root/Manufacturers/Manufacturer" />
						</ul>
					</xsl:if>

					<xsl:if test="aspdnsf:AppConfigBool('Search_ShowDistributorsInResults')='true' and count(/root/Distributors/Distributor)>0">
						<div class="group-header search-page-header search-page-distributor-header">
							<xsl:value-of select="aspdnsf:StringResource('Header.SearchDistributors', $LocaleSetting)" disable-output-escaping="yes" />
						</div>
						<ul class="search-page-entity-list search-page-manufacturers">
							<xsl:apply-templates select="/root/Distributors/Distributor" />
						</ul>
					</xsl:if>

					<xsl:if test="aspdnsf:AppConfigBool('Search_ShowProductsInResults')='true' and count(/root/Products/Product)>0">
						<div class="group-header search-page-header search-page-product-header">
							<xsl:value-of select="aspdnsf:StringResource('Header.SearchProducts', $LocaleSetting)" disable-output-escaping="yes" />
						</div>
						<div class="products-grid search-page-products">
							<div class="page-row products-row search-page-products-row">
								<xsl:apply-templates select="/root/Products/Product[(Price &gt;= $MinPrice or SalePrice &gt;= $MinPrice) and (Price &lt;= $MaxPrice or SalePrice &lt;= $MaxPrice)]" />
							</div>
						</div>
					</xsl:if>



					<xsl:variable name="hasCategoryDisplay" select="aspdnsf:AppConfigBool('Search_ShowCategoriesInResults')='true' and count(/root/Categories/Category)>0" />
					<xsl:variable name="hasSectionDisplay" select="aspdnsf:AppConfigBool('Search_ShowSectionsInResults')='true' and count(/root/Sections/Section)>0" />
					<xsl:variable name="hasManufacturerDisplay" select="aspdnsf:AppConfigBool('Search_ShowManufacturersInResults')='true' and count(/root/Manufacturers/Manufacturer)>0" />
					<xsl:variable name="hasProductDisplay" select="aspdnsf:AppConfigBool('Search_ShowProductsInResults')='true' and count(/root/Products/Product)>0" />


					<xsl:if test="/root/Form/searchterm and $hasCategoryDisplay = false() and $hasSectionDisplay = false() and $hasManufacturerDisplay = false() and $hasProductDisplay = false()">
						<p class="no-search-results search-advanced-no-results">
							<xsl:value-of select="aspdnsf:StringResource('search.aspx.9', $LocaleSetting)" disable-output-escaping="yes" />
						</p>
					</xsl:if>

					<script type="text/javascript" Language="JavaScript">

						function SearchForm2_Validator()
						{
						submitonce(theForm);
						if (theForm.SearchTerm.value.length &lt; <xsl:value-of select="aspdnsf:AppConfig('MinSearchStringLength')" />)
						{
						alert('<xsl:value-of select="aspdnsf:StrFormatStringresource('search.aspx.2', aspdnsf:AppConfig('MinSearchStringLength'), ',')" disable-output-escaping="yes" />');
						theForm.SearchTerm.focus();
						submitenabled(theForm);
						return (false);
						}
						return (true);
						}

						theForm.SearchTerm.focus();
						theForm.onsubmit = SearchForm2_Validator;
					</script>

					<xsl:value-of select="aspdnsf:Topic('SearchPageFooter')" disable-output-escaping="yes" />
				</div>
			</xsl:template>



			<xsl:template match="Product">
				<xsl:variable name="pName" select="aspdnsf:GetMLValue(Name)"></xsl:variable>
				<xsl:variable name="pSEAltText" select="aspdnsf:GetMLValue(SEAltText)"></xsl:variable>
				<xsl:variable name="ImageUrl" select="aspdnsf:ImageUrl(ProductID, 'product', 'icon', 0)" />
				<xsl:variable name="AltText">
					<xsl:choose>
						<xsl:when test="$pSEAltText=''">
							<xsl:value-of select="$pName" />
						</xsl:when>
						<xsl:otherwise>
							<xsl:value-of select="$pSEAltText" />
						</xsl:otherwise>
					</xsl:choose>
				</xsl:variable>
				<xsl:variable name="productId" select="ProductID" />
				<xsl:variable name="isRecurring" select="HasRecurring" />
				<xsl:variable name="ProductUrl" select="aspdnsf:ProductLink(ProductID, SEName, 0)" />

				<xsl:if test="position() mod $SearchProductGridColumns = 1 and position() &gt; 1">
					<xsl:variable name="NewRowHtml">
						<xsl:text>&lt;/div&gt;&lt;div class="page-row products-row search-page-products-row"&gt;</xsl:text>
					</xsl:variable>
					<xsl:value-of select="$NewRowHtml" disable-output-escaping="yes" />
				</xsl:if>
				<div class="{$GridItemCSSClassName} product-grid-item">
					<div class="grid-item-inner">
						<div class="grid-item-image-wrap">
							<a href="{$ProductUrl}">
								<img src="{$ImageUrl}" alt="{$AltText}" class="grid-item-image product-image" />
							</a>
						</div>
						<div class="grid-item-name-wrap">
							<a href="{$ProductUrl}">
								<xsl:value-of select="$pName" disable-output-escaping="yes" />
							</a>
						</div>
						<xsl:if test="aspdnsf:AppConfigBool('DisplayOutOfStockProducts') = 'true'">
							<div class="grid-item-stock-wrap">
								<xsl:value-of select="aspdnsf:DisplayProductStockHint(ProductID,'Entity')" disable-output-escaping="yes" />
							</div>
						</xsl:if>
						<xsl:if test="isRecurring = 'True'">
							<div class="grid-item-recurring-wrap">
								<xsl:value-of select="aspdnsf:StringResource('product.CallToAction.IsRecurring', $LocaleSetting)" disable-output-escaping="yes" />
							</div>
						</xsl:if>
						<div class="grid-item-promotions-wrap">
							<xsl:apply-templates select="$AvailablePromotions/Promotion[ProductId=$productId]" />
						</div>
					</div>
				</div>

			</xsl:template>

			<xsl:template match="Category|Section|Manufacturer|Distributor">
				<xsl:param name="EntityName" select="name()" />
				<xsl:param name="EntityIDName" select="concat($EntityName, 'ID')" />
				<xsl:param name="EntityID" select="./*[name() = $EntityIDName]" />
				<xsl:param name="Helper" select="/root/EntityHelpers/*[name() = $EntityName]" />
				<xsl:for-each select="$Helper/descendant::Entity[EntityID=$EntityID]">
					<li>
						<xsl:call-template name="EntityBreadCrumb">
							<xsl:with-param name="EntityName" select="$EntityName" />
						</xsl:call-template>
					</li>
				</xsl:for-each>
			</xsl:template>

			<xsl:template name="EntityBreadCrumb">
				<xsl:param name="EntityName" />
				<xsl:for-each select="ancestor-or-self::*[child::SEName and ancestor::EntityHelpers]">
					<xsl:variable name="pEName" select="aspdnsf:GetMLValue(Name)" />
					<a href="{aspdnsf:EntityLink(EntityID, SEName, $EntityName, 0)}">
						<xsl:value-of select="$pEName" disable-output-escaping="yes" />
					</a>
					<xsl:text>&#32;</xsl:text>
					<xsl:if test="position()!=last()">
						<xsl:value-of select="aspdnsf:AppConfig('BreadCrumbSeparator')" disable-output-escaping="yes" />
					</xsl:if>
					<xsl:text>&#32;</xsl:text>
				</xsl:for-each>
			</xsl:template>

			<xsl:template match="ProductType">
				<option value="{ProductTypeID}">
					<xsl:if test="ProductTypeID=/root/Form/producttypeid">
						<xsl:attribute name="selected">selected</xsl:attribute>
					</xsl:if>
					<xsl:value-of select="aspdnsf:GetMLValue(Name)" />
				</option>
			</xsl:template>

			<xsl:template name="EntityOption">
				<xsl:param name="prefix"></xsl:param>
				<xsl:param name="selected"></xsl:param>
				<xsl:param name="eName" select="aspdnsf:GetMLValue(Name)"/>

				<option value="{EntityID}">
					<xsl:if test="$selected=EntityID">
						<xsl:attribute name="selected">selected</xsl:attribute>
					</xsl:if>
					<xsl:value-of select="concat($prefix, $eName)"/>
				</option>

				<xsl:for-each select="Entity">
					<xsl:call-template name="EntityOption">
						<xsl:with-param name="prefix" select="concat($prefix, $eName, ' -&gt; ')" />
						<xsl:with-param name="selected" select="$selected" />
					</xsl:call-template>
				</xsl:for-each>

			</xsl:template>

			<xsl:template match="Promotion">
				<span class="promotion-call-to-action">
					<xsl:value-of select="CallToAction" disable-output-escaping="yes" />
				</span>
			</xsl:template>

		</xsl:stylesheet>
	</PackageTransform>
</package>


