<?xml version="1.0" encoding="utf-8" ?>
<!-- ##################################################################################	-->
<!-- Copyright AspDotNetStorefront.com. All Rights Reserved.							-->
<!-- http://www.aspdotnetstorefront.com													-->
<!-- For details on this license please visit the product homepage at the URL above.	-->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.												-->
<!-- ##################################################################################	-->

<package displayname="Menu" version="2.1" debug="false" includeentityhelper="false">
	<PackageTransform>
		<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf"   xmlns:g="http://base.google.com/ns/1.0" exclude-result-prefixes="aspdnsf">
			<xsl:output method="xml" omit-xml-declaration="no" encoding="utf-8" indent="no" />
			
			<xsl:template match="/">
				<siteMap>
					<siteMapNode title="(!menu.Home!)"  url="~/default.aspx">
						<!-- Titles are predefined entities, the contents are not explicitly set here but runtime they are dynamically populated per entity-->
						<siteMapNode title="(!menu.Categories!)" type="category" />
						<siteMapNode title="(!menu.Sections!)" type="section" />
						<siteMapNode title="(!menu.Manufacturers!)" url="~/manufacturers.aspx" type="manufacturer" />
						<!-- These are static links -->
						<siteMapNode title="(!menu.CustomerService!)" url="~/t-service.aspx" >
							<siteMapNode title="(!menu.YourAccount!)" url="~/account.aspx" />
							<siteMapNode title="(!menu.FAQs!)" url="~/t-faq.aspx" />
							<siteMapNode title="(!menu.PolicyReturns!)" url="~/t-returns.aspx" />
							<siteMapNode title="(!menu.Shipping!)" url="~/t-shipping.aspx" />
							<siteMapNode title="(!menu.Contact!)" url="~/t-contact.aspx" />
							<siteMapNode title="(!menu.PolicyPrivacy!)" url="~/t-privacy.aspx" />
							<siteMapNode title="(!menu.PolicySecurity!)" url="~/t-security.aspx" />							
						</siteMapNode>
					</siteMapNode>					
				</siteMap>
			</xsl:template>
			
		</xsl:stylesheet>

	</PackageTransform>
</package>
