<?xml version="1.0" standalone="yes" ?>
<!-- ##################################################################################	-->
<!-- Copyright AspDotNetStorefront.com. All Rights Reserved.							-->
<!-- http://www.aspdotnetstorefront.com													-->
<!-- For details on this license please visit the product homepage at the URL above.	-->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.												-->
<!-- ##################################################################################	-->
<package version="2.1" displayname="Default Home Page" debug="false">
	<PackageTransform>
		<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
			<xsl:output method="html" omit-xml-declaration="yes" />
			<xsl:param name="NumHomePageSpecials" select="aspdnsf:AppConfig('NumHomePageSpecials')"/>
			<xsl:param name="FeaturedCategoryID" select="aspdnsf:AppConfig('IsFeaturedCategoryID')" />
			<xsl:param name="DoNotShowNewsOnHomePage" select="aspdnsf:AppConfigBool('DoNotShowNewsOnHomePage')" />
			<xsl:template match="/">
				<xsl:value-of select="aspdnsf:Topic('HomeTopIntro')" disable-output-escaping="yes"/>        
      
				

				<xsl:value-of select="aspdnsf:XmlPackage('featuredproducts.xml.config')" disable-output-escaping="yes"/>

				

        <xsl:if test="aspdnsf:AppConfig('DoNotShowNewsOnHomePage') = 'false'">
				  <xsl:value-of select="aspdnsf:XmlPackage('news.xml.config')" disable-output-escaping="yes"/>
        </xsl:if>
			</xsl:template>

		</xsl:stylesheet>
	</PackageTransform>
</package>
