<?xml version="1.0" standalone="yes" ?>
<package version="2.1" displayname="Search Proxy" debug="false">
	<PackageTransform>
		<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
			<xsl:output method="html" omit-xml-declaration="yes" />
			<xsl:variable name="minSearchLength" select="aspdnsf:AppConfig('MinSearchStringLength')" />
			<xsl:variable name="searchStringLength" select="string-length(/root/QueryString/searchterm)" />
			<xsl:template match="/">
				<xsl:choose>
					<xsl:when test="$searchStringLength &gt;= $minSearchLength">
						<xsl:value-of select="aspdnsf:XmlPackage('entity.guidednavigationgrid.xml.config')" disable-output-escaping="yes" />
					</xsl:when>
					<xsl:otherwise>
						<xsl:value-of select="aspdnsf:StrReplace(aspdnsf:StringResource('search.aspx.2'), '{0}', $minSearchLength)" />
					</xsl:otherwise>
				</xsl:choose>
			</xsl:template>
		</xsl:stylesheet>
	</PackageTransform>
</package>


