<?xml version="1.0" standalone="yes" ?>
<!-- ##################################################################################	-->
<!-- Copyright AspDotNetStorefront.com. All Rights Reserved.							-->
<!-- http://www.aspdotnetstorefront.com													-->
<!-- For details on this license please visit the product homepage at the URL above.	-->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.												-->
<!-- ##################################################################################	-->
<package version="2.1" displayname="New Items" debug="false">
	<query name="NewsArticles" rowElementName="Article">
		<sql>
			<![CDATA[
                select top 100 a.NewsID, NewsGUID, Headline, NewsCopy, a.CreatedOn
                from news a with (nolock) inner join (select distinct a.NewsID from News a with (nolock) left join NewsStore b with (NOLOCK) on a.NewsID = b.NewsID 
                where (@filternews = 0 or StoreID = @storeid)) b on a.NewsID = b.NewsID where expireson > getdate() and year(a.createdon) in (year(getdate()), 
                year(getdate())-1) and Deleted = 0 and Published = 1 order by a.createdon desc
            ]]>
		</sql>
		<queryparam paramname="@StoreID"    paramtype="runtime" requestparamname="StoreID"    sqlDataType="int" defvalue="1" validationpattern="" />
		<queryparam paramname="@FilterNews"	paramtype="runtime" requestparamname="FilterNews"	sqlDataType="bit"	defvalue="0" validationpattern="" />
	</query>

	<PackageTransform>
		<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
			<xsl:output method="html" omit-xml-declaration="yes" />

			<xsl:variable name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
			<xsl:variable name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />
			<xsl:variable name="Teaser" select="aspdnsf:AppConfig('NewsTeaser')" />

			<xsl:template match="/">
				<div class="page-wrap news-page">
					<h1 class="news-page-header">
						<xsl:value-of select="aspdnsf:StringResource('news.aspx.1')" disable-output-escaping="yes" />
					</h1>
					<xsl:if test="string-length($Teaser) &gt; 0">
						<p class="news-page-teaser">
							<xsl:value-of select="$Teaser" disable-output-escaping="yes" />
						</p>
					</xsl:if>
					<div class="news-page-articles">
						<xsl:apply-templates select="/root/NewsArticles/Article" />
					</div>
				</div>
						

			</xsl:template>

			<xsl:template match="Article">
				<xsl:variable name="pHeadline" select="aspdnsf:GetMLValue(Headline)"/>
				<xsl:variable name="pNewsCopy" select="aspdnsf:GetMLValue(NewsCopy)"/>
				<div class="page-row">
					<xsl:choose>
						<xsl:when test="/root/QueryString/showarticle=NewsID or aspdnsf:AppConfigBool('ShowFullNewsArticle')='false'">
							<h4 class="headline-header">
								<a href="{concat('news.aspx?showarticle=', NewsID)}">
									<span class="news-headline">
										<xsl:value-of select="$pHeadline" disable-output-escaping="yes"/>
									</span>
									<xsl:text>&#32;</xsl:text>
									<span class="article-date">
										(<xsl:value-of select="aspdnsf:GetNativeShortDateString(CreatedOn)" />)
									</span>
								</a>
							</h4>
						</xsl:when>
						<xsl:otherwise>
							<h4 class="headline-header">
								<span class="news-headline">
									<xsl:value-of select="$pHeadline" disable-output-escaping="yes"/>
								</span>
								<xsl:text>&#32;</xsl:text>
								<span class="article-date">
									(<xsl:value-of select="aspdnsf:GetNativeShortDateString(CreatedOn)" />)
								</span>
							</h4>
						</xsl:otherwise>
					</xsl:choose>
					<xsl:if test="/root/QueryString/showarticle=NewsID or aspdnsf:AppConfigBool('ShowFullNewsArticle')='true'">
						<div align="left">
							<xsl:value-of select="aspdnsf:Decode($pNewsCopy)" disable-output-escaping="yes" />
						</div>
					</xsl:if>
				</div>
			</xsl:template>

		</xsl:stylesheet>
	</PackageTransform>
</package>
