<?xml version="1.0" encoding="utf-8" ?>
<!-- ##################################################################################	-->
<!-- Copyright AspDotNetStorefront.com. All Rights Reserved.							-->
<!-- http://www.aspdotnetstorefront.com													-->
<!-- For details on this license please visit the product homepage at the URL above.	-->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.												-->
<!-- ##################################################################################	-->
<package displayname="Polls" version="2.1" debug="false">
    <query name="Polls" rowElementName="Poll">
        <sql>
            <![CDATA[
                select PollID
                from Poll with (nolock) 
                where ExpiresOn >= getdate() and Published = 1 and Deleted = 0
                order by CreatedOn desc, DisplayOrder, Name
            ]]>
        </sql>
        <queryparam paramname="@StoreID" paramtype="runtime" requestparamname="StoreID" sqlDataType="int" defvalue="1" validationpattern="" />
    </query>

    <PackageTransform>
        <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
            <xsl:output method="html" omit-xml-declaration="yes" />

            <xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
            <xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />
            <xsl:param name="PollColumns" select="2"></xsl:param>


            <xsl:template match="/">
                <p align="left"><b><xsl:value-of select="aspdnsf:StringResource('polls.aspx.2')" disable-output-escaping="yes" /></b></p>
                <table border="0" cellpadding="6" cellspacing="0" width="100%">
                    <xsl:apply-templates select="/root/Polls/Poll" />
                </table>
            </xsl:template>



            <xsl:template match="Poll">
                <xsl:if test="position() mod $PollColumns = 1">
                    <tr>
                     <xsl:for-each select=". | following-sibling::*[position() &lt; $PollColumns]">
                        <xsl:call-template name="PollCell"></xsl:call-template>
                     </xsl:for-each>
                    </tr>
                </xsl:if>

            </xsl:template>

            <xsl:template name="PollCell">
                <td>
                     <xsl:value-of select="aspdnsf:GetPollBox(PollID, 1, 0, 0)" disable-output-escaping="yes" />
                 </td>
            </xsl:template>
            
        </xsl:stylesheet>
    </PackageTransform>
</package>
