<?xml version="1.0" standalone="yes" ?>
<!-- ##################################################################################	-->
<!-- Copyright AspDotNetStorefront.com. All Rights Reserved.							-->
<!-- http://www.aspdotnetstorefront.com													-->
<!-- For details on this license please visit the product homepage at the URL above.	-->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.												-->
<!-- ##################################################################################	-->
<package version="2.1" displayname="RSS Feed - Unknown" debug="false" allowengine="true">
    <PackageTransform>
        <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
	        <xsl:output method="xml" />
			<xsl:template match="/">
				<rss version="2.0">
					<channel>
						<generator>AspDotNetStorefront</generator> 
						<title>AspDotNetStorefront - Undefined Feed</title> 
						<link>http://www.aspdotnetstorefront.com/rssfeed.aspx</link> 
						<description>AspDotNetStorefront - RSS Feed (Undefined)</description> 
						<date><xsl:value-of select="/root/System/CurrentDateTime"/></date> 
						<item>
							<title>An Undefined RSS Feed Was Requested</title> 
							<description>An unrecognized RSS feed channel was requested from AspDotNetStorefront.com. Valid channels are 'news', 'sponsors', and 'security'.</description> 
							<date><xsl:value-of select="/root/System/CurrentDateTime"/></date> 
							<link>http://www.aspdotnetstorefront.com</link> 
							<image></image> 
						</item>
					</channel>
				</rss>
			</xsl:template>
        </xsl:stylesheet>
    </PackageTransform>
</package> 
