<?xml version="1.0" standalone="yes" ?>
<!-- ##################################################################################	-->
<!-- Copyright AspDotNetStorefront.com. All Rights Reserved.							-->
<!-- http://www.aspdotnetstorefront.com													-->
<!-- For details on this license please visit the product homepage at the URL above.	-->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.												-->
<!-- ##################################################################################	-->
<package version="1.0" displayname="Zoomify Medium" debug="false" includeentityhelper="false">
    <PackageTransform>
        <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" 
                        xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
          <xsl:output method="html" omit-xml-declaration="yes" />

            <xsl:param name="height"><xsl:value-of select="aspdnsf:AppConfig('Zoomify.Medium.Height')"/></xsl:param>
            <xsl:param name="width"><xsl:value-of select="aspdnsf:AppConfig('Zoomify.Medium.Width')"/></xsl:param>
            <xsl:param name="ImagePath"><xsl:value-of select="/root/Runtime/ImagePath"/></xsl:param>
            <xsl:param name="AltSrc"><xsl:value-of select="/root/Runtime/AltSrc"/></xsl:param>
        

            <xsl:template match="/">

              <object type="application/x-shockwave-flash" class="flashZoomify" data="images/zoomifyViewer.swf">
                <xsl:attribute name="width"><xsl:value-of select="$width" /></xsl:attribute>
                <xsl:attribute name="height"><xsl:value-of select="$height" /></xsl:attribute>
                <param name="FlashVars">
                  <xsl:attribute name="value">zoomifyImagePath=<xsl:value-of select="$ImagePath" />&amp;zoomifyNavWindow=0&amp;zoomifySlider=0&amp;zoomifyZoom=-1</xsl:attribute>
                </param>                
                <param name="src" value="images/zoomifyViewer.swf" />
                
                <xsl:if test="$AltSrc!=''">
                  <img>
                    <xsl:attribute name="src"><xsl:value-of select="$AltSrc" /></xsl:attribute>
                  </img>
                </xsl:if>
                
              </object>
              
            </xsl:template>
            
        </xsl:stylesheet>
    </PackageTransform>
</package>

