<?xml version="1.0" encoding="utf-8" ?>
<!-- ##################################################################################	-->
<!-- Copyright AspDotNetStorefront.com. All Rights Reserved.							-->
<!-- http://www.aspdotnetstorefront.com													-->
<!-- For details on this license please visit the product homepage at the URL above.	-->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.												-->
<!-- ##################################################################################	-->
<package displayname="Currency Feed Exchange Rate Conversion For European Central Bank" version="2.1" debug="false">

    <!-- ###################################################################################################### -->
    <!-- You must set your AppConfig:Localization.CurrencyFeedBaseRateCurrencyCode=EUR                          -->
    <!-- ###################################################################################################### -->
    <webquery name="feed" RetType="xml">
        <url>{url}</url>
        <querystringreplace replaceTag="{url}" replaceparamname="Localization.CurrencyFeedUrl" replacetype="appconfig" validationpattern="" defvalue=""/>
    </webquery>
    <PackageTransform>
        <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
            xmlns:a="http://www.ecb.int/vocabulary/2002-08-01/eurofxref"
            xmlns:gesmes="http://www.gesmes.org/xml/2002-08-01"
            xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf a gesmes">
            <xsl:output method="xml" omit-xml-declaration="no" standalone="yes" indent="yes"/>

            <xsl:template match="/">
                <root>
                    <updated>
                        <xsl:value-of select="/root/feed/gesmes:Envelope/a:Cube/a:Cube/@time"/>
                    </updated>
                    <referencecurrencycode>
                        <xsl:value-of select="aspdnsf:AppConfig('Localization.CurrencyFeedBaseRateCurrencyCode')" />
                    </referencecurrencycode>
                    <xsl:for-each select="/root/feed/gesmes:Envelope/a:Cube/a:Cube/a:Cube">
                        <currency name="{@name}" code="{@currency}" rate="{@rate}" />
                    </xsl:for-each>
                </root>
            </xsl:template>

        </xsl:stylesheet>

    </PackageTransform>
</package>
