<?xml version="1.0" standalone="yes" ?>
<!-- ##################################################################################	-->
<!-- Copyright AspDotNetStorefront.com. All Rights Reserved.							-->
<!-- http://www.aspdotnetstorefront.com													-->
<!-- For details on this license please visit the product homepage at the URL above.	-->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.												-->
<!-- ##################################################################################	-->

<package displayname="Admin Splash Page" version="2.0" debug="false">
    <PackageTransform>
        <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
            <xsl:output method="html" omit-xml-declaration="yes" indent="no"  encoding="utf-8"/>

            <xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
            <xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />
            <xsl:param name="SqlServerLocaleSetting" select="/root/Runtime/SqlServerLocaleSetting" />
            <xsl:param name="UseSSL"><xsl:value-of select="aspdnsf:AppConfigBool('UseSSL')" /></xsl:param>
            <xsl:param name="CacheMenus"><xsl:value-of select="aspdnsf:AppConfigBool('CacheMenus')" /></xsl:param>
            <xsl:param name="UseLiveTransactions"><xsl:value-of select="aspdnsf:AppConfigBool('UseLiveTransactions')" /></xsl:param>
            <xsl:param name="PaymentGateway"><xsl:value-of select="aspdnsf:AppConfig('PaymentGateway')" /></xsl:param>

            <xsl:template match="/">

UseSSL: <xsl:value-of select="aspdnsf:AppConfigBool('UseSSL')"/><br />
On Live Server: <xsl:value-of select="aspdnsf:OnLiveServer('')"/><br />
SERVER_PORT_SECURE: <xsl:value-of select="/root/ServerVariables/SERVER_PORT_SECURE"/><br />
<br />


Version (Code/DB): <xsl:value-of select="aspdnsf:StoreVersion('')"/><br />
<xsl:choose>
   <xsl:when test="$CacheMenus='false'">
	<font color="red"><b>Caching Is: OFF<img src="images/spacer.gif" width="20" height="1" /><a href="splash.aspx?cachemenus=true">TURN CACHING ON</a></b></font>
   </xsl:when>
   <xsl:otherwise>
	<font color="blue"><b>Caching Is: ON<img src="images/spacer.gif" width="20" height="1" /><a href="splash.aspx?cachemenus=false">TURN CACHING OFF</a></b></font>
   </xsl:otherwise>
</xsl:choose>
<br /><br />
Web Config Locale Setting: <xsl:value-of select="$WebConfigLocaleSetting" /><br />
SQL Locale Setting: <xsl:value-of select="$SqlServerLocaleSetting" /><br />
Active Customer Locale Setting: <xsl:value-of select="/root/Runtime/LocaleSetting" /><br /><br />
Payment Gateway: <xsl:value-of select="aspdnsf:AppConfig('PaymentGateway')" /><br />
Gateway Mode: 
<xsl:choose>
   <xsl:when test="$UseLiveTransactions='false'">
	TEST
   </xsl:when>
   <xsl:otherwise>
	LIVE
   </xsl:otherwise>
</xsl:choose>
<br />
Transaction Mode: <xsl:value-of select="aspdnsf:AppConfig('TransactionMode')" /><br />
Payment Methods: <xsl:value-of select="aspdnsf:AppConfig('PaymentMethods')" /><br />
MicroPay Enabled: <xsl:value-of select="aspdnsf:AppConfigBool('MicroPayEnabled')" /><br />
Cardinal Enabled: <xsl:value-of select="aspdnsf:AppConfigBool('CardinalEnabled')" /><br /><br />
<a href="wizard.aspx">Run Configuration Wizard</a> - This can help you set variables the first time you setup your store
<br /><br />
<xsl:choose>
   <xsl:when test="$UseSSL='false'">
		<a href="setssl.aspx?set=true">Turn SSL On</a> - Set your store to use SSL (You must have your SSL cert already installed)
   </xsl:when>
   <xsl:otherwise>
		<a href="setssl.aspx?set=true">Turn SSL Off</a>
   </xsl:otherwise>
</xsl:choose>
<br /><br />
<a href="appconfig.aspx?searchfor=mail">E-Mail Settings</a><br /><br />
<a href="appconfig.aspx?searchfor={$PaymentGateway}">Gateway Settings</a><br />

            </xsl:template>
        </xsl:stylesheet>    
    </PackageTransform>
</package>

