<?xml version="1.0" standalone="yes" ?>
<!-- ##################################################################################	-->
<!-- Copyright AspDotNetStorefront.com. All Rights Reserved.							-->
<!-- http://www.aspdotnetstorefront.com													-->
<!-- For details on this license please visit the product homepage at the URL above.	-->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.												-->
<!-- ##################################################################################	-->
<package version="2.1" displayname="AspDotNetStorefront Feed Consumer" debug="false">

	<webquery name="RSSItems" RetType="xml" timeout="5">
	    <url><![CDATA[https://www.aspdotnetstorefront.com/rssfeed.aspx?channel={channel}]]></url>
		<querystringreplace replaceTag="{channel}" replacetype="runtime" replaceparamname="channel" defvalue="news" validationpattern=""/>
    </webquery>
  
  
    <PackageTransform>
		<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
      <xsl:output method="html" omit-xml-declaration="yes" />

      <xsl:param name="ContainerHeight">
				<xsl:choose>
					<xsl:when test="/root/Runtime/height!=''">
						<xsl:value-of select="/root/Runtime/height"/>
					</xsl:when>
					<xsl:otherwise>350</xsl:otherwise>
				</xsl:choose>
			</xsl:param>

			<xsl:param name="ContainerWidth">
				<xsl:choose>
					<xsl:when test="/root/Runtime/width!=''">
						<xsl:value-of select="/root/Runtime/width"/>
					</xsl:when>
					<xsl:otherwise>500</xsl:otherwise>
				</xsl:choose>
			</xsl:param>

			<xsl:variable name="channelName" select="/root/Runtime/channel"/>
			<xsl:variable name="FeedsTitleStyle" select="concat('splash_', $channelName, 'FeedsTitle')"/>			
			<xsl:variable name="FeedsDateStyle" select="concat('splash_', $channelName, 'FeedsDate')"/>			
			<xsl:variable name="FeedsDescriptionStyle" select="concat('splash_', $channelName, 'FeedsDescription')"/>
      <xsl:variable name="SourceLocale" select="'en-US'" />
			
			<xsl:template match="/">
        <xsl:if test="count(/root/RSSItems/rss/channel/item) > 0">
					<div style="height:{$ContainerHeight}px; overflow:auto; width:100%;">
						<table style="height:{$ContainerHeight}; width : 100%" border="0" cellpading="0" cellspacing="0">
							<!--<tr>
								<td valign="top" align="left">
									<div class="{$FeedsTitleStyle}">

										<xsl:value-of select="root/RSSItems/rss/channel/title"/>
									</div>
								</td>
							</tr>-->
							<tr>
								<td valign="top" align="left">
									<div class="">
										<xsl:apply-templates select="root/RSSItems/rss/channel" />
									</div>
								</td>
							</tr>
						</table>
					</div>
				</xsl:if>
			</xsl:template>

			<xsl:template match="channel">
				<xsl:for-each select="item">
					<div class="{$FeedsTitleStyle}">
						<xsl:if test="image!=''">
							<img src="{image}" border="0" style="float:left;"/>
						</xsl:if>

						<a>
							<xsl:attribute name="href">
								<xsl:value-of select="link"/>
							</xsl:attribute>
							<xsl:if test="starts-with(link,'http') or starts-with(link,'HTTP')">
								<xsl:attribute name="target">_blank"</xsl:attribute>
							</xsl:if>

              <xsl:value-of select="aspdnsf:GetLocalizedShortDate(date, $SourceLocale, '')"/>
              <xsl:text disable-output-escaping="yes">&amp;nbsp;&amp;nbsp;</xsl:text> 
              <xsl:value-of select="title"/>
						</a>
					</div>
					<div class="{$FeedsDescriptionStyle}">
						<xsl:value-of select="description" disable-output-escaping="yes" />
					</div>
				</xsl:for-each>
			</xsl:template>	
	</xsl:stylesheet>
  </PackageTransform>
</package>
